<div class="sg-section">
  <div class="sg-h2"><%= section.section %> <code><%= section.filename %></code></div>

  <% unless section.description.blank? %>
    <p><%= section.description %></p>
  <% end %>

  <% if section.modifiers.any? %>
    <table class="sg-table">
      <caption class="hide-visually"><%= section.section %> modifier classes</caption>
      <thead>
        <tr>
          <th class="sg-table__class">Modifier Classes</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% section.modifiers.each do |modifier| %>
          <tr>
            <td>
              <code><%= modifier.name %></code>
            </td>
            <td>
              <%= modifier.description %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="sg-example sg-modifier">
    <span class="sg-modifier__name">Base style (no modifiers)</span>
    <%= example_html.strip.gsub(' $modifier_class', '').html_safe %>
  </div>

  <% section.modifiers.each do |modifier| %>
    <div class="sg-example sg-modifier">
      <span class="sg-modifier__name"><%= modifier.name %></span>
      <% if named_examples[modifier.name] %>
        <%= named_examples[modifier.name].gsub('$modifier_class', modifier.class_name).html_safe %>
      <% else %>
        <%= example_html.gsub('$modifier_class', modifier.class_name).html_safe %>
      <% end %>

      <div class="sg-code">
        <% if named_examples.key? modifier.name %>
        <pre class="sg-code-block"><code class="language-markup"><%= named_examples[modifier.name].gsub('$modifier_class', modifier.class_name).gsub(" class=\"\"", "") %></code></pre>
        <% else %>
        <pre class="sg-code-block"><code class="language-markup"><%= example_html.gsub('$modifier_class', modifier.class_name).gsub(" class=\"\"", "") %></code></pre>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless script.blank? %>
  <div class="sg-code">
    <span class="sg-code-language">Javascript</span>
    <pre class="sg-code-block"><code class="language-javascript"><%= script %></code></pre>
  </div>
  <% end %>
</div>