<div class="sg-section">
  <div class="sg-h2"><%= section.section %> <small><%= section.filename %></small></div>
  <div class="sg-note">
    <% unless section.description.blank? %>
      <p><%= section.description %></p>
    <% end %>

    <% if section.modifiers.any? %>
      <ul>
        <% section.modifiers.each do |modifier| %>
          <li><strong><%= modifier.name %></strong> - <%= modifier.description %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="sg-example">
    <%= example_html.html_safe %>
  </div>

  <% section.modifiers.each do |modifier| %>
    <div class="sg-example sg-modifier">
      <span class="sg-modifier-name"><%= modifier.name %></span>
      <%= example_html.gsub('$modifier_class', modifier.class_name).html_safe %>
    </div>
  <% end %>

  <pre><code data-language="html"><%= example_html.strip.gsub(' $modifier_class', '') %></code></pre>
</div>