<div class="sg-section">
  <div class="sg-h1">Abstractions</div>
  <div class="box island">An abstraction is a CSS methodology that basically removes a pattern from a specific idea and makes a more generic idea out of it e.g. make a list render horizontally. They exist to avoid writing the same similar patterns over and over, instead create a single more generic representation of those patterns and reuse that instead.</div>
</div>

<%= render 'styleguides/abstractions/horizontal_list' %>

<%= render 'styleguides/abstractions/vertical_alignment' %>

<%= render 'styleguides/abstractions/island' %>

<%= render 'styleguides/abstractions/islet' %>

<%= render 'styleguides/abstractions/slats' %>

<%= render 'styleguides/abstractions/divider' %>

<%= render 'styleguides/abstractions/box' %>

<%= render 'styleguides/abstractions/toggle_visibility' %>

<%= render 'styleguides/abstractions/toggle_content' %>