<div class="sg-section">
  <div class="sg-h1">Buttons</div>
  <div class="sg-note">All of the different button styles</div>
</div>

<%= render 'styleguides/buttons/main' %>

<%= render 'styleguides/buttons/base' %>

<%= render 'styleguides/buttons/faux_link' %>

<%= render 'styleguides/buttons/expand_collapse' %>

<%= render 'styleguides/buttons/menu' %>

<%= render 'styleguides/buttons/site_feedback' %>