<%# Render high res Google static map of the centre  - http://webdesigntutsplus.s3.amazonaws.com/tuts/365_google_maps/demo/index.html %>
<% content_for :custom_styles do %>
  <style>
    .map-google-static {
      background-image: url("<%=raw getting_here_map_url(@centre) %>");
    }
    /* High res */
    @media  (-o-min-device-pixel-ratio: 5/4),
            (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 120dpi) {
              .map-google-static {
                background-image: url("<%=raw getting_here_map_url(@centre, 2) %>");
              }
    }
  </style>
<% end %>

<%# Getting here %>
<section aria-labelledby="info-getting-here" class="mrg-dbl-alt">
  <h2 id="info-getting-here">Getting Here</h2>

  <%# Shopping centre map %>
  <div class="mrg-base-alt">
    <div class="centre-location">
      <%# Static Google map %>
      <div class="map-google-static">
        <%= image_tag getting_here_map_url(@centre), alt: "Google map showing location of #{@centre.short_name} shopping centre" %>
      </div>
      <%# //Static Google map %>

      <%# Address box %>
      <div class="centre-location__info box slats">
        <div class="slats__img slats__img--compact">
          <%= image_tag "heroes/#{@centre.code}.jpg",
            :crop => :thumb,
            :width => 120,
            :height => 130,
            :html_width => 120,
            :html_height => 130,
            :alt => "",
            :onerror => "this.remove();",
            :fetch_format => 'auto'
          %>
        </div>
        <div class="slats__body islet">
          <p itemscope itemtype="http://schema.org/Organization">
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress"><%= @centre.street_address %></span>
              <br>
              <span itemprop="addressLocality"><%= @centre.suburb %></span>
              <br>
              <span itemprop="addressRegion"><%= @centre.state %> <%= @centre.postcode %></span>
            </span>
          </p>
          <%= link_to "https://maps.google.com/maps?q=#{@centre.latitude},#{@centre.longitude}", rel: 'external', target: '_blank' do %>
            Open in Google Maps<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          <% end -%>
        </div>
      </div>
      <%# //Address box %>
    </div>
  </div>

  <% if false %>
    <div class="grid grid--gutter-dbl">
      <div class="grid__item non-palm-one-half">
        <h3>By Train</h3>
        <%# [BACKEND] In backoffice console, if user hits `ENTER`, need to make sure a new `p` is generated %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet</p>
      </div>

      <div class="grid__item non-palm-one-half">
        <h3>By Bus</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis.t</p>
      </div>
    </div>
  <% end %>
  <%# //Shopping centre map %>

</section>
<%# //Getting here %>