<%# Follow Us - list of social media %>
<% if social_media.present? %>
  <section aria-labelledby="follow-us">

    <div class="txt-formatted">
      <h2 id="follow-us" class="mrg-base">Follow Us</h2>
    </div>

    <ul class="grid grid--mrg-base-non-palm grid--non-linear">

      <%# Facebook %>
      <% if @centre.facebook.present? %>
        <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
          <a href="<%= @centre.facebook %>" class="flag flag--spacing-half flag--shrink-wrap social-follow" rel="external" target="_blank">
            <div class="flag__img">
              <!-- <div class="box islet island-non-palm box--sphere"> -->
                <span class="icon icon--facebook icon--base-color icon--fixed-width icon--flush-top icon--xlrg icon--hecto-non-palm icon--sphere" aria-hidden="true"></span>
              <!-- </div> -->
            </div>
            <div class="flag__body">Facebook</div>
          </a>
        </li>
      <% end %>
      <%# //Facebook %>

      <%# Twitter %>
      <% if @centre.twitter.present? %>
        <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
          <a href="<%= @centre.twitter %>" class="flag flag--spacing-half flag--shrink-wrap social-follow" rel="external" target="_blank">
            <div class="flag__img">
              <div class="box islet island-non-palm box--sphere">
                <span class="icon icon--twitter icon--base-color icon--fixed-width icon--flush-top icon--xlrg icon--hecto-non-palm" aria-hidden="true"></span>
              </div>
            </div>
            <div class="flag__body">Twitter</div>
          </a>
        </li>
      <% end %>
      <%# //Twitter %>

      <%# Instagram %>
      <% if @centre.instagram.present? %>
        <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
          <a href="<%= @centre.instagram %>" class="flag flag--spacing-half flag--shrink-wrap social-follow" rel="external" target="_blank">
            <div class="flag__img">
              <div class="box islet island-non-palm box--sphere">
                <span class="icon icon--instagram icon--base-color icon--fixed-width icon--flush-top icon--xlrg icon--hecto-non-palm" aria-hidden="true"></span>
              </div>
            </div>
            <div class="flag__body">Instagram</div>
          </a>
        </li>
      <% end %>
      <%# //Instagram %>

      <%# Pinterest %>
      <% if @centre.pinterest.present? %>
        <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
          <a href="<%= @centre.pinterest %>" class="flag flag--spacing-half flag--shrink-wrap social-follow" rel="external" target="_blank">
            <div class="flag__img">
              <div class="box islet island-non-palm box--sphere">
                <span class="icon icon--pinterest icon--base-color icon--fixed-width icon--flush-top icon--xlrg icon--hecto-non-palm" aria-hidden="true"></span>
              </div>
            </div>
            <div class="flag__body">Pinterest</div>
          </a>
        </li>
      <% end %>
      <%# //Pinterest %>

      <%# YouTube %>
      <% if @centre.youtube.present? %>
        <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
          <a href="<%= @centre.youtube %>" class="flag flag--spacing-half flag--shrink-wrap social-follow" rel="external" target="_blank">
            <div class="flag__img">
              <div class="box islet island-non-palm box--sphere">
                <span class="icon icon--youtube icon--base-color icon--fixed-width icon--flush-top icon--xlrg icon--hecto-non-palm" aria-hidden="true"></span>
              </div>
            </div>
            <div class="flag__body">YouTube</div>
          </a>
        </li>
      <% end %>
      <%# //YouTube %>

      <%# Google+ %>
      <% if @centre.google_plus.present? %>
        <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
          <a href="<%= @centre.google_plus %>" class="flag flag--spacing-half flag--shrink-wrap social-follow" rel="external" target="_blank">
            <div class="flag__img">
              <div class="box islet island-non-palm box--sphere">
                <span class="icon icon--google-plus icon--base-color icon--fixed-width icon--flush-top icon--xlrg icon--hecto-non-palm" aria-hidden="true"></span>
              </div>
            </div>
            <div class="flag__body">Google+</div>
          </a>
        </li>
      <% end %>
      <%# //Google+ %>

    </ul>

  </section>
<% end %>
<%# //Follow Us - list of social media %>