<%# Follow Us - list of social media %>
<% if social_media.present? %>
  <ul class="grid grid--mrg-base-non-palm txt-formatted__list-unstyled">
    <%# Facebook %>
    <% if @centre.facebook.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.facebook %>" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--facebook icon--base-color" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Facebook
          </div>
        </a>
      </li>
    <% end %>
    <%# //Facebook %>

    <%# Twitter %>
    <% if @centre.twitter.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.twitter %>" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--twitter icon--base-color" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Twitter
          </div>
        </a>
      </li>
    <% end %>
    <%# //Twitter %>

    <%# Instagram %>
    <% if @centre.instagram.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.instagram %>" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--instagram icon--base-color" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Instagram
          </div>
        </a>
      </li>
    <% end %>
    <%# //Instagram %>

    <%# Pinterest %>
    <% if @centre.pinterest.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.pinterest %>" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--pinterest icon--base-color" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Pinterest
          </div>
        </a>
      </li>
    <% end %>
    <%# //Pinterest %>

    <%# YouTube %>
    <% if @centre.youtube.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.youtube %>" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--youtube icon--base-color" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            YouTube
          </div>
        </a>
      </li>
    <% end %>
    <%# //YouTube %>

    <%# Google+ %>
    <% if @centre.google_plus.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.google_plus %>" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--google-plus icon--base-color" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Google+
          </div>
        </a>
      </li>
    <% end %>
    <%# //Google+ %>
  </ul>
<% end %>
<%# //Follow Us - list of social media %>