<%# Nav contextual %>
<div class="nav-contextual js-nav-contextual js-viewport-check">
  <div class="nav-contextual__clip">
    <div class="nav-contextual__clip__inner">
      <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
        <%= content_tag :li, link_to('Getting Here', anchor: 'getting-here') %><!--
        --><%= content_tag :li, link_to('Parking', anchor: 'parking') if @parking.present? %><!--
        <%# Remove "if false" conditional statement once other sections are ready %>
        --><%= content_tag :li, link_to('Community', anchor: 'community') if false %><!--
        --><%= content_tag :li, link_to('Notices', anchor: 'notices') if @notices.present? %><!--
        --><%= content_tag :li, link_to('Contact Us', anchor: 'contact-us') if @centre.phone_number.present? or @centre.email_address.present? %><!--
        --><%= content_tag :li, link_to('Follow Us', anchor: 'follow-us') if social_media.present? %>
      </ul>
    </div>
    <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
  </div>
</div>
<%# //Nav contextual %>

<%# Divider %>
<div class="divider divider--lrg">

  <%# Text formatted %>
  <div class="txt-formatted">

    <%= render 'getting_here' %>
    <%= render :partial => 'parking' if @parking.present? %>
    <%= render 'notices' if @notices.present? %>
    <%= render 'contact_us' %>

  </div>
  <%# //Text formatted %>

  <%= render 'social_media' %>

</div>
<%# //Divider %>

<%= render 'footer' %>