<%# Render high res Google static map of the centre  - http://webdesigntutsplus.s3.amazonaws.com/tuts/365_google_maps/demo/index.html %>
<% content_for :custom_styles do %>
  <style>
    .map-google-static {
      /*background: url("http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false") no-repeat 50% 50%;*/
      background: url("http://placehold.it/980x280") no-repeat 50% 50%;
    }
    @media  (-o-min-device-pixel-ratio: 5/4),
            (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 120dpi) {
              .map-google__static {
                /*background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false&scale=2");*/
                background-image: url("http://placehold.it/980x280");
                background-size: 640px 280px;
              }
    }
  </style>
<% end %>

<div class="nav-contextual">
  <div class="nav-contextual__clip">
    <nav class="nav-contextual__clip-inner" role="navigation" aria-label="Contextual navigation">
      <ul class="nav-contextual__list horiz-list">
        <li>
          <a href="#getting-here">Getting Here</a>
        </li>
        <li>
          <a href="#parking">Parking</a>
        </li>
        <li>
          <a href="#community">Community</a>
        </li>
        <li>
          <a href="#community">Notices</a>
        </li>
        <li>
          <a href="#contact-us">Contact Us</a>
        </li>
        <li>
          <a href="#follow-us">Follow Us</a>
        </li>
      </ul>
    </nav>
    <span class="nav-contextual__clip-overlay icon icon--arrow-right icon--mega icon--flush-top" aria-hidden="true"></span>
  </div>
</div>

<%# Text formatted %>
<div class="txt-formatted">

  <%# Getting here %>
  <h2 id="getting-here">Getting Here</h2>
  <div class="grid grid--bottom-dbl-non-palm">
    <div class="grid__item">

      <%# Shopping centre map %>
      <div class="centre-map">
        <%# Static Google map %>
        <div class="map-google-static">
          <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false"> -->
          <img src="http://placehold.it/980x280">
        </div>
        <%# //Static Google map %>

        <%# Address box %>
        <div class="box slats non-palm-slats--stacked centre-map__location">
          <div class="slats__img slats__img--compact">
            <img src="http://placehold.it/200x196" class="center-map__img">
          </div>
          <div class="slats__body islet">
            <%# TODO: if the address is empty then don't output the p %>
            <p class="centre-map__address"><%= @centre.street_address %> <br>[Suburb] <br><%= @centre.state %> <%= @centre.postcode %></p>
            <a href="#">Open in Google Maps <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a>
          </div>
        </div>
        <%# //Address box %>
      </div>
      <%# //Shopping centre map %>

      <div class="">
      </div>

    </div>
  </div>
  <%# //Getting here %>

  <%# Parking %>
  <h2 id="parking">Parking</h2>
  <div class="grid grid--gutter-dbl grid--bottom-dbl-non-palm">
    <div class="grid__item non-palm-one-half">
      <div class="box box--mrg-btm-half islet island--non-palm">
        <table cellspacing="0" class="table-striped">
          <caption class="hide-visually">Parking rates</caption>
          <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Weekday</th>
                <th scope="col">Weekend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0 - 2hrs</td>
              <td>Free</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>2hrs - 2.5hrs</td>
              <td>$8</td>
              <td>$8</td>
            </tr>
            <tr>
              <td>2.5hrs - 3hrs</td>
              <td>$10</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>3hrs - 3.5hrs</td>
              <td>$15</td>
              <td>$15</td>
            </tr>
            <tr>
              <td>3.5hrs - 4hrs</td>
              <td>$20</td>
              <td>$20</td>
            </tr>
          </tbody>
        </table>
      </div>
      <small class="fine-print fine-print--center">*2.5% surcharge on all credit card payments, parking <a href="#">terms &amp; conditions apply</a>.</small>
    </div>

    <div class="grid__item non-palm-one-half">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>

      <h3>Valet Parking</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <%# //Parking %>

  <%# Community %>
  <h2 id="community">Community</h2>
  <img src="http://placehold.it/980x280">

  <div class="grid grid--gutter-dbl grid--bottom-dbl-non-palm">
    <div class="grid__item one-whole non-palm-txt-cols--2">
      <p>P1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum.</p>

      <p>P2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>

      <p>P3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
  </div>

  <div class="grid grid--gutter-dbl grid--bottom-dbl-non-palm">
    <div class="grid__item non-palm-one-half">
      <div class="box">
        <img src="http://placehold.it/600x436">
      </div>
    </div>

    <div class="grid__item non-palm-one-half">
      <h3>[Name of organisation]</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>
    </div>
  </div>
  <%# //Community %>

  <%# Notices %>
  <h2 id="notice">Notices</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <ul class="txt-formatted__list-unstyled">
    <li>
        <a href="#" class="list-divider">Contruction in Food Court
        <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
      </a>
    </li>
    <li>
      <a href="#" class="list-divider">
        Elevator will stop working for Biggest Loser
        <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
      </a>
    </li>
  </ul>

  <%# //Notices %>

  <%# Social media %>
  <% if @centre.facebook.present? %>
    <%= @centre.facebook %>
  <% end %>
  <%= @centre.twitter %>
  <%= @centre.google_plus %>
  <%= @centre.instagram %>
  <%= @centre.pinterest %>
  <%= @centre.youtube %>
  <%# //Social media %>

</div>
<%# //Text formatted %>