<%# Render high res Google static map of the centre  - http://webdesigntutsplus.s3.amazonaws.com/tuts/365_google_maps/demo/index.html %>
<style>
  .map-google-static {
    background: url("http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false") no-repeat 50% 50%;
  }
  @media  (-o-min-device-pixel-ratio: 5/4),
          (-webkit-min-device-pixel-ratio: 1.25),
          (min-resolution: 120dpi) {
            .map-google__static {
              background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false&scale=2");
              background-size: 640px 280px;
            }
  }
</style>

<div class="txt-formatted">

  <%# Getting here %>
  <div class="grid non-palm-grid--bottom-dbl">
    <div class="grid__item">
      <h2>Getting Here</h2>

      <div class="map-google-static">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false">
      </div>

    </div>
  </div>
  <%# //Getting here %>

  <%# Parking %>
  <h2>Parking</h2>
  <div class="grid grid--gutter-dbl">
    <div class="grid__item non-palm-one-half">
      <div class="box island">
        <table cellspacing="0" class="table-striped ">
          <caption class="hide-visually">Parking rates</caption>
          <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Weekday</th>
                <th scope="col">Weekend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0 - 2hrs</td>
              <td>Free</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>2hrs - 2.5hrs</td>
              <td>$8</td>
              <td>$8</td>
            </tr>
            <tr>
              <td>2.5hrs - 3hrs</td>
              <td>$10</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>3hrs - 3.5hrs</td>
              <td>$15</td>
              <td>$15</td>
            </tr>
            <tr>
              <td>3.5hrs - 4hrs</td>
              <td>$20</td>
              <td>$20</td>
            </tr>
          </tbody>
        </table>
      </div>
      <small class="fine-print fine-print--center">*2.5% surcharge on all credit card payments, parking <a href="#">terms &amp; conditions apply</a>.</small>
    </div>

    <div class="grid__item non-palm-one-half">
      <%# Free %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>

      <h3>Valet Parking</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <%# //Parking %>

</div>