<%# Render high res Google static map of the centre  - http://webdesigntutsplus.s3.amazonaws.com/tuts/365_google_maps/demo/index.html %>
<% content_for :custom_styles do %>
  <style>
    .map-google-static {
      /*background: url("http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false") no-repeat 50% 50%;*/
      background: url("http://placehold.it/980x280/666666/000000") no-repeat 50% 50%;
    }
    /* High res */
    @media  (-o-min-device-pixel-ratio: 5/4),
            (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 120dpi) {
              .map-google__static {
                /*background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false&scale=2");*/
                background-image: url("http://placehold.it/980x280/666666/000000");
                background-size: 980px 280px;
              }
    }

    .hero {
      background-repeat: no-repeat;
      background-position: 100% 0;
    }
  </style>
<% end %>

<div class="nav-contextual js-nav-contextual">
  <div class="nav-contextual__clip">
    <div class="nav-contextual__clip-inner">
      <ul class="nav-contextual__list horiz-list js-list">
        <li>
          <a href="#getting-here">Getting Here</a>
        </li>
        <li>
          <a href="#parking">Parking</a>
        </li>
        <li>
          <a href="#community">Community</a>
        </li>
        <li>
          <a href="#community">Notices</a>
        </li>
        <li>
          <a href="#contact-us">Contact Us</a>
        </li>
        <li>
          <a href="#follow-us">Follow Us</a>
        </li>
      </ul>
    </div>
    <span class="nav-contextual__clip-overlay icon icon--arrow-right icon--mega icon--flush-top js-clip-overlay" aria-hidden="true"></span>
  </div>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $('.js-nav-contextual').navContextual();
  </script>
<% end -%>



<%# Text formatted %>
<div class="txt-formatted">

  <%# Getting here %>
  <h2 id="getting-here">Getting Here</h2>

  <%# Shopping centre map %>
  <div class="centre-location">
    <%# Static Google map %>
    <div class="map-google-static">
      <!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @centre.latitude %>,<%= @centre.longitude %>&zoom=11&size=640x280&sensor=false"> -->
      <img src="http://placehold.it/980x280/666666/000000">
    </div>
    <%# //Static Google map %>

    <%# Address box %>
    <div class="box slats centre-location__info">
      <div class="slats__img slats__img--compact">
        <%# [BACKEND] Make `alt` attr dynamic where indicated %>
        <img src="http://placehold.it/120x130&text=image" alt="Photo of [dynamic] shopping centre">
      </div>
      <div class="slats__body islet">
        <p itemscope itemtype="http://schema.org/Organization">
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress"> Cnr Narre Warren Cranbourne Rd &amp; Littlecroft Ave</span>
            <br>
            <span itemprop="addressLocality">Narre Warren</span>
            <br>
            <span itemprop="addressRegion"><%= @centre.state %> <%= @centre.postcode %></span>
          </span>
        </p>
        <a href="#">Open in Google Maps <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a>
      </div>
    </div>
    <%# //Address box %>
  </div>
  <%# //Shopping centre map %>

  <%# Need spacing class `mrg-base--top` here as the map location will stack beflow the map image above %>
  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm mrg-base--top">
    <div class="grid__item non-palm-one-half">
      <h3>By Train</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet</p>
    </div>

    <div class="grid__item non-palm-one-half">
      <h3>By Bus</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis.t</p>
    </div>
  </div>

  <%# //Getting here %>

  <%# Parking %>
  <h2 id="parking">Parking</h2>

  <%# Complimentary parking %>
  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">
    <div class="grid__item one-whole">
      <p>Complimentary parking available for all customers.</p>

      <small class="fine-print">Parking <a href="#">terms &amp; conditions</a> apply</small>
    </div>
  </div>
  <%# //Complimentary parking %>

  <%# Parking rates %>
  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">
    <div class="grid__item non-palm-one-half">
      <div class="box box--mrg-half islet island--non-palm">
        <table cellspacing="0" class="table-striped">
          <caption class="hide-visually">Parking rates</caption>
          <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col" class="txt-right">Weekday</th>
                <th scope="col" class="txt-right">Weekend</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0 - 2hrs</td>
              <td class="txt-right">Free</td>
              <td class="txt-right">Free</td>
            </tr>
            <tr>
              <td>2hrs - 2.5hrs</td>
              <td class="txt-right">$8</td>
              <td class="txt-right">$8</td>
            </tr>
            <tr>
              <td>2.5hrs - 3hrs</td>
              <td class="txt-right">$10</td>
              <td class="txt-right">$10</td>
            </tr>
            <tr>
              <td>3hrs - 3.5hrs</td>
              <td class="txt-right">$15</td>
              <td class="txt-right">$15</td>
            </tr>
            <tr>
              <td>3.5hrs - 4hrs</td>
              <td class="txt-right">$20</td>
              <td class="txt-right">$20</td>
            </tr>
          </tbody>
        </table>
      </div>
      <small class="fine-print fine-print--center">*2.5% surcharge on all credit card payments, parking <a href="#">terms &amp; conditions apply</a>.</small>
    </div>

    <div class="grid__item non-palm-one-half">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>

      <h3>Valet Parking</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <%# //Parking rates %>
  <%# //Parking %>

  <%# Community %>
  <h2 id="community">Community</h2>
  <%# [BACKEND] Replace the `alt` attribute with dynamic data where indicated %>
  <img src="http://placehold.it/980x280" class="mrg-base" alt="Photo of [name of the community where the photo came from]">

  <%# [BACKEND] To do the 2 columns, please set up two text fields in back office with character limit for each text field (that needs to be determined later). Each text field will correspond to one `grid__item` %>
  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">
    <div class="grid__item non-palm-one-half">
      <p>P1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum.</p>
    </div>

    <div class="grid__item non-palm-one-half">
      <p>P2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>

      <p>P3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
  </div>

  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">
    <div class="grid__item non-palm-one-half">
      <div class="box">
        <%# [BACKEND] Replace the `alt` attribute with dynamic data where indicated %>
        <img src="http://placehold.it/600x436" alt="Logo of [the name of the community]">
      </div>
    </div>

    <div class="grid__item non-palm-one-half">
      <h3>[Name of organisation]</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis leo at ligula ultricies, ac mollis lectus bibendum. Ut nec.</p>
    </div>
  </div>
  <%# //Community %>

  <%# Notices %>
  <h2 id="notice">Notices</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">
    <div class="grid__item">
      <ul class="txt-formatted__list-unstyled">
        <li>
            <%# [BACKEND] The first link in the list needs to have class `list-divider--first` %>
            <a href="#" class="list-divider list-divider--first txt-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsumdolorsitametconsectetur adipiscinfelit
            <span class="icon icon--arrow-right icon--lrg icon--dark" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="#" class="list-divider txt-truncate">
            Quisque convallis leo at ligula ultricies
            <span class="icon icon--arrow-right icon--lrg icon--dark" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%# //Notices %>

  <%# Contact Us %>
  <%# [BACKEND] Contact Us section should not populate if there are no contact info %>
  <h2 id="contact-us">Contact Us</h2>
  <div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">

    <%# Phone number %>
    <% if @centre.phone_number.present? %>
      <div class="grid__item non-palm-one-half">
        <%# Show centre number if at non-palm size %>
        <div class="box island txt-center hide-fully--palm" itemscope itemtype="http://schema.org/Organization">
          <span class="icon icon--phone2 icon--kilo icon--spacing-lrg" aria-hidden="true"></span>
          <span class="hide-visually">Phone number</span>
          <span itemprop="telephone"><%= @centre.phone_number %></span>
        </div>

        <%# Show CTA button for centre contact number %>
        <span class="hide-fully--non-palm">
          <a href="tel:<%= (@centre.phone_number || "").gsub(/\s+/,'') %>" class="txt-center btn btn--full btn--main btn--main-alt2 btn--main-lrg">
            <span class="icon icon--phone icon--xlrg icon--spacing-lrg icon--flush-top" aria-hidden="true"></span>
            <strong>Call <%= @centre.short_name %> Centre</strong></a>
        </span>
      </div>
    <% end %>
    <%# //Phone number %>

    <% if @centre.email_address.present? %>
      <div class="grid__item non-palm-one-half">
        <div class="box island txt-center txt-truncate">
          <span class="icon icon--email icon--kilo icon--spacing-lrg" aria-hidden="true"></span>
          <span class="hide-visually">Email</span>
          <a href="mailto:<%= @centre.email_address %>"><%= @centre.email_address %></a>
        </div>
      </div>
    <% end %>
  </div>
  <%# //Contact Us %>

  <%# Follow Us - title %>
  <%# [BACKEND] If no social media from centre, don't title %>
    <%# Need mrg-base spacing class as the :last-child on txt-formatted removed the margin %>
    <h2 id="follow-us" class="mrg-base">Follow Us</h2>
  <%# //Follow Us - title %>
</div>
<%# //Text formatted %>

<%# Follow Us - list of social media %>
<div class="divider">
  <ul class="grid grid--mrg-base-non-palm txt-formatted__list-unstyled">
    <%# Facebook %>
    <% if @centre.facebook.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.facebook %>" class="flag social-follow" rel="external">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--facebook icon--dark" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Facebook
          </div>
        </a>
      </li>
    <% end %>
    <%# //Facebook %>

    <%# Twitter %>
    <% if @centre.twitter.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.twitter %>" class="flag social-follow" rel="external">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--twitter icon--dark" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Twitter
          </div>
        </a>
      </li>
    <% end %>
    <%# //Twitter %>

    <%# Instagram %>
    <% if @centre.instagram.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.instagram %>" class="flag social-follow" rel="external">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--instagram icon--dark" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Instragram
          </div>
        </a>
      </li>
    <% end %>
    <%# //Instagram %>

    <%# Pinterest %>
    <% if @centre.pinterest.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.pinterest %>" class="flag social-follow" rel="external">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--pinterest icon--dark" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Pinterest
          </div>
        </a>
      </li>
    <% end %>
    <%# //Pinterest %>

    <%# YouTube %>
    <% if @centre.youtube.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.youtube %>" class="flag social-follow" rel="external">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--youtube icon--dark" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            YouTube
          </div>
        </a>
      </li>
    <% end %>
    <%# //YouTube %>

    <%# Google+ %>
    <% if @centre.google_plus.present? %>
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="<%= @centre.google_plus %>" class="flag social-follow" rel="external">
          <div class="flag__image">
            <div class="box islet">
              <span class="icon icon--google-plus icon--dark" aria-hidden="true"></span>
            </div>
          </div>
          <div class="flag__body">
            Google Plus
          </div>
        </a>
      </li>
    <% end %>
    <%# //Google+ %>
  </ul>
</div>
<%# //Follow Us - list of social media %>

