<%# Nav contextual %>
<div class="nav-contextual js-nav-contextual">
  <div class="nav-contextual__clip">
    <div class="nav-contextual__clip__inner">
      <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
        <%# Remove "if false" conditional statement once other sections are ready %>
        <% if false %>
        <li>
          <%= link_to 'Getting Here', anchor: 'getting-here' %>
        </li><!--
      --><li>
          <%= link_to 'Parking', anchor: 'parking' %>
        </li><!--
      --><li>
          <%= link_to 'Community', anchor: 'community' %>
        </li><!--
      --><li>
          <%= link_to 'Notices', anchor: 'notices' %>
        </li><!--
      -->
        <% end %>
        <% if @centre.phone_number.present? or @centre.email_address.present? %>
          <li>
            <%= link_to 'Contact Us', anchor: 'contact-us' %>
          </li><!--
        -->
        <% end %>
        <% if social_media.present? %>
          <li>
            <%= link_to 'Follow Us', anchor: 'follow-us' %>
          </li>
        <% end %>
      </ul>
    </div>
    <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    $('.js-nav-contextual').navContextual();
  </script>
<% end -%>
<%# //Nav contextual %>

<%# Divider %>
<div class="divider">
  <%# Text formatted %>
  <div class="txt-formatted">

    <%= render 'getting_here' %>
    <%= render :partial => 'parking' unless @parking.empty? %>
    <%#= render 'community' %>
    <%#= render 'notices' %>
    <%= render 'contact_us' %>
  </div>
  <%# //Text formatted %>

  <%= render 'social_media' %>
</div>
<%# //Divider %>


<%#= render 'footer' %>
