<div class="js-dropdown-count" data-count=<%= @search.results.count %> >
  <% @search.sorted_each do |kind, facet_result| %>
	  <dt class="search-results__list__spacing" >
	    <span aria-hidden="true" class="icon icon--<%= kind.singularize %> icon--lrger"></span> <%= kind.titleize %>
	  </dt>
	  <% facet_result.each do |result| %>

		  <dd class="js-search-results-item-height" role="presentation">
		    <a target="_self" href="<%= build_url(@centre, kind, result[:attributes], {search_source: 'dropdown', search_keyword: @search.term}) %>" tabindex="-1">
		    	<%= result["display"] %>
		    </a>
		  </dd>
	  <% end %>
  <% end %>

</div>