<% content_for :class_for_main, "container--spacing-top-main-content " %>

<% if @search.results.empty? %>
  <div class="no-content-fallback-msg">
    <span class="icon icon--deals icon--flush-top" aria-hidden="true"></span>
    <p><em class="h1">No results</em></span></p>
  </div>
<% else %>
  <h1>Results for <strong>"<%= @search.term =%>"</strong></h1>

  <%# List of anchors to each search result type %>
  <div class="nav-contextual js-nav-contextual js-viewport-check">
    <div class="nav-contextual__clip">
      <div class="nav-contextual__clip__inner">
        <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
          <% @search.results.each do |kind, results| %>
            <% if results.present? %>
              <li>
                <a href="#<%= kind %>"><%= kind.titlecase %> (<span class="js-<%= kind.singularize %>-result-count"><%= results.length %></span>)</a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
    </div>
  </div>


  <%#// List of anchors to each search result type %>
  <% @search.results.each_with_index do |(kind, results), index| %>
    <section class="<%= 'divider divider--lrg' unless index == @search.results.length - 1 %>" aria-labelledby="<%= kind %>">
      <div class="txt-formatted">
        <h2 id="<%= kind %>">
          <span class="icon icon--<%= kind %> icon--spacing"></span>
          <%= kind.titlecase %>
        </h2>

        <nav role="navigation">
          <ul class="horiz-list horiz-list--spacing-half horiz-list--spacing-half-wrap txt-formatted__list-unstyled">
            <% results.each do |result| %>
              <% if result.attributes.category.present? %>
                <li>
                  <%= link_to highlight(result[:display], @search.term,  highlighter: '<strong>\1</strong>'), build_url(@centre, kind, result[:attributes]), class: 'btn btn--main btn--main-white btn--main-lrg' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </nav>

        <% if kind != 'products' %>
          <h3 class="mrg-base-and-half-top">All <%= kind %> matching "<strong><%= @search.term =%></strong>"</h3>

          <nav role="navigation">
            <ul class="horiz-list horiz-list--spacing-half horiz-list--spacing-half-wrap txt-formatted__list-unstyled">
              <% results.each do |result| %>
                <% if result.result_type == 'store' %>
                <li>
                  <%= link_to highlight(result[:display], @search.term,  highlighter: '<strong>\1</strong>'), build_url(@centre, kind, result[:attributes]), class: 'btn btn--main btn--main-white btn--main-lrg' %>
                </li>
                <% end %>
              <% end %>
            </ul>
          </nav>

        <% else %>

          <%if has_result_type?(results, 'product_brand') %>

            <h3 class="mrg-base-and-half-top">All brands matching "<strong><%= @search.term =%></strong>"</h3>

            <nav role="navigation">
              <ul class="horiz-list horiz-list--spacing-half horiz-list--spacing-half-wrap txt-formatted__list-unstyled">
                <% results.each do |result| %>
                  <% if result.result_type == 'product_brand' %>
                  <li>
                    <%= link_to highlight(result[:display], @search.term,  highlighter: '<strong>\1</strong>'), build_url(@centre, kind, result[:attributes]), class: 'btn btn--main btn--main-white btn--main-lrg' %>
                  </li>
                  <% end %>
                <% end %>
              </ul>
            </nav>

          <% end %>

          <h3 class="mrg-base-and-half-top mrg-base js-product-results-hdr">All <%= kind.pluralize %> matching "<strong><%= @search.term =%></strong>"</h3>

        <% end %>
      </div>
      <% if kind == 'products' %>
        <div class="hide-fully js-product-results-container">
          <div class="js-product-results"></div>
        </div>
        <div class="txt-center mrg-dbl-top">
          <a href="/<%= @centre.code %>/products?search_query=<%= @search.term %>">View all products matching "<strong><%= @search.term =%></strong>"</a>
        </div>
      <% end %>

    </section>
  <% end %>

<%- content_for :custom_javascript do -%>
  <%= javascript_include_tag 'search/load_products' %>
<%- end -%>

<% end %>