<% content_for :class_for_main, "container--spacing-top-main-content " %>

<% if @search.results.empty? %>
  <div class="no-content-fallback-msg">
    <span class="icon icon--deals icon--flush-top" aria-hidden="true"></span>
    <p><em class="h1">No results</em></span></p>
  </div>
<% else %>
 <%= @search.results =%>
  <h1>Results for <em>"<%= @search.term =%>"</em></h1>

  <%# List of anchors to each search result type %>
  <div class="nav-contextual js-nav-contextual js-viewport-check">
    <div class="nav-contextual__clip">
      <div class="nav-contextual__clip__inner">
        <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
          <li><a href="#stores">Stores (<%= @search.results.stores.length =%>)</a></li>
          <li><a href="#products">Products (<%= @search.results.products.length =%>)</a></li>
          <li><a href="#deals">Deals (999)</a></li>
          <li><a href="#events">Events (999)</a></li>
        </ul>
      </div>
      <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
    </div>
  </div>
  <%#// List of anchors to each search result type %>

  <section class="divider divider--lrg" aria-labelledby="stores">
    <div class="txt-formatted">
      <h2 id="stores">
        <span class="icon icon--store icon--spacing"></span>
        Stores
      </h2>

      <nav role="navigation">
        <ul class="horiz-list horiz-list--spacing-base horiz-list--spacing-base-wrap txt-formatted__list-unstyled">
          <li><a href="#" class="btn btn--main btn--main-white btn--main-lrg">Hairdressers</a></li>
          <li><a href="#" class="btn btn--main btn--main-white btn--main-lrg">Hairdressers</a></li>
          <li><a href="#" class="btn btn--main btn--main-white btn--main-lrg">Hairdressers</a></li>
          <li><a href="#" class="btn btn--main btn--main-white btn--main-lrg">Hairdressers</a></li>
        </ul>
      </nav>

      <h3>All stores matching "<strong><%= @search.term =%></strong>"</h3>
    </div>

    <div id="pin-boarda" style="display:block" class="pin-board grid grid--gutter-half grid--flush">
      <% @search.results.stores.each do |store| %>

        <%# Tile store meta %>
        <div class="tile__meta ">

          <%# Tile deal logo %>
          <% if store.logo %>
            <%= fetch_image_tag store.logo,
              alt: "#{store.display} logo",
              width: 168,
              height: 62,
              class: "tile__meta__logo",
              crop: :pad,
              format: :auto
            %>
          <% end %>
          <%# //Tile deal logo %>

          <%# Tile store name %>
          <h3 class="tile__meta__hdr txt-truncate"><%= store.display %></h3>
          <%# //Tile store name %>

        </div>
        <%# //Tile deal meta %>

        <%# Tile deal icon %>
        <span class="tile__meta__icon">
          <span class="icon icon--stores icon--lrg" aria-hidden="true"></span>
        </span>
        <%# //Tile deal icon %>
      <% end %>

    </div>
  </section>

  <section class="txt-formatted divider divider--lrg">
    <h2 id="products">
      <span class="icon icon--products icon--spacing"></span>
      Products
    </h2>


  </section>

  <section class="txt-formatted divider divider--lrg">
    <h2 id="deals">
      <span class="icon icon--deals icon--spacing"></span>
      Deals
    </h2>
  </section>

    <section class="txt-formatted divider divider--lrg">
    <h2 id="events">
      <span class="icon icon--events icon--spacing"></span>
      Events
    </h2>
  </section>



<% end %>