<% content_for :class_for_main, "container--spacing-top-main-content " %>

<% if @search.results.empty? %>
  <div class="no-content-fallback-msg">
    <span class="icon icon--deals icon--flush-top" aria-hidden="true"></span>
    <p><em class="h1">No results</em></span></p>
  </div>
<% else %>
  <h1>Results for <strong>"<%= @search.term =%>"</strong></h1>

  <%# List of anchors to each search result type %>
  <div class="nav-contextual js-nav-contextual js-viewport-check">
    <div class="nav-contextual__clip">
      <div class="nav-contextual__clip__inner">
        <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
          <% @search.results.each do |kind, results| %>
            <% if results.present? %>
              <li>
                <a href="#<%= kind %>"><%= kind.titlecase %> (<%= @search.results.stores.length %>)</a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
    </div>
  </div>
  <%#// List of anchors to each search result type %>

  <% @search.results.each do |kind, results| %>
    <section class="divider divider--lrg" aria-labelledby="stores">
      <div class="txt-formatted">
        <h2 id="stores">
          <span class="icon icon--<%= kind %> icon--spacing"></span>
          <%= kind.titlecase %>
        </h2>

        <h3>All <%= kind.pluralize %>  matching "<strong><%= @search.term =%></strong>"</h3>
      </div>

      <nav role="navigation">
        <ul class="horiz-list horiz-list--spacing-base horiz-list--spacing-base-wrap txt-formatted__list-unstyled">
          <% results.each do |result| %>
            <li>
              <%= link_to highlight(result[:display], @search.term,  highlighter: '<strong>\1</strong>'), build_url(@centre, kind, result[:attributes]), class: 'btn btn--main btn--main-white btn--main-lrg' %>
            </li>
          <% end %>
        </ul>
      </nav>

    </section>
  <% end %>



<% end %>