<div id='store_info'>
  <!-- retailer banner -->
  <%= image_tag @cinema.store_front_image_url, alt:@cinema.name %>

  <!-- retailer logo -->
  <img src="<%= @cinema.retailer_logo_url %>" alt="<%= @cinema.store_name %> logo">

  <!-- phone number -->
  <span class="phone_number"><%= @cinema.phone_number %></span>

  <!-- email address -->
  <span class="email_address"><%= @cinema.email_address %></span>

  <!-- Store map link? -->
</div>

<h2>Session Times</h2>
<ul id="sessions">
<% days(@movie_sessions.last['start_time'], @centre.code, params['date']).each do |day| %>
  <li><%= day %></li>
<% end %>
</ul>

<ul id="movies">
<% @movies.each do |movie| %>
  <li class="title">
    <a href="<%= centre_movie_path(centre_id: @centre.code, id: movie.id) %>">
      <%= image_tag ImageService.transform(ref: movie.image_url, width: 400, retina: true), alt: movie.title %>
      <%= movie.title %>
    </a>
  </li>
<% end %>
</ul>