<h2 class="hide-visually">Session Times</h2>

<%# Tabs %>
<div class="tabs">

  <%# Nav contextual %>
  <div class="nav-contextual js-nav-contextual">
    <div class="nav-contextual__clip">
      <div class="nav-contextual__clip__inner">
        <ul class="nav-contextual__list tab__nav horiz-list js-nav-contextual-list">
          <%# TODO: add <!-- --> to remove white %>
          <% days(@movie_sessions.last['start_time'], @centre.code, params['date']).each do |day| %>
            <li><%= day %></li>
          <% end %>
        </ul>
      </div>
      <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
    </div>
  </div>

  <% content_for :javascript do %>
    <script>
      $('.js-nav-contextual').navContextual();
    </script>
  <% end -%>
  <%# //Nav contextual %>

  <%# Movies %>
  <div id="tab-" class="tab__content is-active">

    <%# Movies - row 1 %>
    <ul class="grid grid--mrg-base-non-palm">
      <li class="grid__item one-half non-palm-one-quarter">
        <a href="#">
          <div class="box">
            <img src="http://placehold.it/285x345" alt="">
            <div class="islet island--non-palm">
              <h3>Skyfall</h3>
              <p>Next session at 10.15am</p>
            </div>
          </div>
        </a>
      </li>
       <li class="grid__item one-half non-palm-one-quarter">
        <a href="#">
          <div class="box">
            <img src="http://placehold.it/285x345" alt="">
            <div class="islet island--non-palm">
              <h3>Skyfall</h3>
              <p>Next session at 10.15am</p>
            </div>
          </div>
        </a>
      </li>
       <li class="grid__item one-half non-palm-one-quarter">
        <a href="#">
          <div class="box">
            <img src="http://placehold.it/285x345" alt="">
            <div class="islet island--non-palm">
              <h3>Skyfall</h3>
              <p>Next session at 10.15am</p>
            </div>
          </div>
        </a>
      </li>
       <li class="grid__item one-half non-palm-one-quarter">
        <a href="#">
          <div class="box">
            <img src="http://placehold.it/285x345" alt="">
            <div class="islet island--non-palm">
              <h3>Skyfall</h3>
              <p>Next session at 10.15am</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <%# //Movies - row 1 %>

  </div>
  <%# //Movies %>

</div>
<%# //Tabs %>


<div id='store_info' style="display: none">
  <%# retailer banner %>
  <%= image_tag @cinema.store_front_image_url, alt:@cinema.name %>

  <%# retailer logo %>
  <img src="<%= @cinema.retailer_logo_url %>" alt="<%= @cinema.store_name %> logo">

  <%# phone number %>
  <span class="phone_number"><%= @cinema.phone_number %></span>

  <%# email address %>
  <span class="email_address"><%= @cinema.email_address %></span>

  <%# Store map link? %>
</div>

<ul id="sessions">
<% days(@movie_sessions.last['start_time'], @centre.code, params['date']).each do |day| %>
  <li><%= day %></li>
<% end %>
</ul>

<ul id="movies">
<% @movies.each do |movie| %>
  <li class="title">
    <a href="<%= centre_movie_path(centre_id: @centre.code, id: movie.id) %>">
      <%= image_tag ImageService.transform(ref: movie.image_url, width: 400, retina: true), alt: movie.title %>
      <%= movie.title %>
    </a>
  </li>
<% end %>
</ul>