<div itemscope itemtype="http://data-vocabulary.org/Event">

  <%# Movie details %>
  <div class="island detail-view__divider">

    <header class="detail-view__mrg-base">
      <%# Movie title %>
      <h1 class="detail-view__hdr hn test-title" itemprop="summary"><%= @movie.title %></h1>
      <%# //Movie title %>

      <%# Movie classification %>
      <div class="detail-view__meta detail-view__divider detail-view__divider--top-btm islet-ends">
        <em><%= @movie.classification %> rating</em>
      </div>
      <%# //Movie classification %>
    </header>

    <%# Movie main image %>
    <% if @movie.cloudinary_public_id %>
      <div class="detail-view__media detail-view__mrg-base">
          <%= cl_image_tag(@movie.cloudinary_public_id, alt:"#{@movie.title} movie picture", width: 600, height: 400, crop: 'limit', format: 'jpg', fetch_format: 'auto') %>
      </div>
    <% end %>
    <%# //Movie main image %>

    <h2 class="detail-view__hdr-sub hn">Synopsis</h2>

    <%# Movie synopsis %>
    <div class="detail-view__desc">
      <p itemprop="description"><%= @movie.synopsis %></p>
    </div>
    <%# //Movie synopsis %>

  </div>
  <%# //Movie details wrapper %>

  <div class="detail-view__schedule island">
    <h2 class="detail-view__hdr-sub hn">Session Times</h2>

    <p>Select a session to purchase tickets at <%= @cinema.name %></p>

    <%# Session times %>
    <dl class="timeline">
      <% @movies_sessions_by_date.each do |date, sessions| %>
        <dt>
          <%= date.strftime("%A") %>
          <em class="timeline__date">
            <span><%= date.strftime("%e") %></span> <abbr title="<%= date.strftime("%B") %>"><%= date.strftime("%b") %></abbr>
          </em>
        </dt>
        <% sessions.each do |session| %>
          <dd>
            <a href="<%= session.booking_url %>" rel="external" target="_blank"><time datetime="<%= Time.parse(session.start_time).strftime("%Y-%m-%dT%H:%M") %>" itemprop="startDate"><%= Time.parse(session.start_time).to_s(:hour_minute_period) %></time></a>
            <%= "[#{session.session_type}]" if session.session_type %>
          </dd>
        <% end %>
      <% end %>
    </dl>
    <%# //Session times %>

  </div>
  <%# //Movie details %>

</div>