<div itemscope itemtype="http://data-vocabulary.org/Event">

  <%# Movie details %>
  <div class="island detail-view__divider">

    <header class="detail-view__mrg-base">
      <%# Movie title %>
      <h1 class="detail-view__hdr hn test-title" itemprop="summary">
        <%= @movie.title %>
      </h1>
      <%# //Movie title %>

      <%# Movie classification %>
      <div class="detail-view__meta islet islet--top-btm detail-view__divider detail-view__divider--top-btm">
        <em><%= @movie.classification %> rating</em>
      </div>
      <%# //Movie classification %>
    </header>

    <%# Movie main image %>
    <div class="detail-view__media detail-view__mrg-base">
      <%= cl_image_tag(@movie.image_url, alt:"Screenshot of #{@movie.title}", width: 600, height: 400, itemprop:"photo" ) %>
    </div>
    <%# //Movie main image %>

    <h2 class="detail-view__hdr-sub hn">Synopsis</h2>

    <%# Movie synopsis %>
    <div class="detail-view__desc txt-formatted">
      <p itemprop="description"><%= @movie.synopsis %></p>
    </div>
    <%# //Movie synopsis %>

  </div>
  <%# //Movie details wrapper %>

  <div class="detail-view__schedule island">
    <h2 class="detail-view__hdr-sub hn">Session Times</h2>

    <p>Select a session to purchase tickets at <%= @cinema.name %></p>

    <%# Session times %>

    <dl class="timeline">
      <% @movies_sessions_by_date.each do |date, sessions| %>
        <dt>
          <%= date.strftime("%A") %>
          <em class="timeline__date">
            <span><%= date.strftime("%e") %></span> <abbr title="<%= date.strftime("%B") %>"><%= date.strftime("%b") %></abbr>
          </em>
        </dt>
        <% sessions.each do |session| %>
          <dd>
            <time datetime="<%= Time.parse(session.start_time).strftime("%l:%M %P") %>" itemprop="startDate"><a href="<%= session.booking_url %>" rel="external"><%= Time.parse(session.start_time).strftime("%l:%M %P") %></a></time>
            <%= "[#{session.session_type}]" if session.session_type %>
          </dd>
        <% end %>
      <% end %>
    </dl>
    <%# //Session times %>

  </div>
  <%# //Movie details %>

</div>