<dd>
  <div class="stores-list__inner container">

    <%# Store name %>
    <div class="stores-list__store-name test-store">
      <strong><%= link_to store.name, (centre_store_url @centre.code, store.retailer_code, store.id) %></strong>
      <%# Phone no %>
      <span class="hide-fully--palm"><span class="hide-visually">Call store: </span><%= phone_format store.phone_number %></span>
      <%# //Phone no %>
    </div>
    <%# //Store name %>

    <%# Logo %>
    <% if store.has_logo? %>
      <div class="stores-list__logo hide-fully--palm">
        <div class="vert-align">
          <div class="vert-align__inner">
            <span class="preloader preloader--light js-disabled-hide" data-image-src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, crop: :pad, background: 'rgb:FFFFFF', fetch_format: 'auto') %>" data-image-alt="<%= "#{store.name} logo" %>" data-image-itemprop="photo">
              <span class="preloader__spinner"></span>
              <em class="hide-visually">Loading, please wait&#8230;</em>
            </span>
            <noscript><img src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, crop: :pad, background: 'rgb:FFFFFF', fetch_format: 'auto') %>" alt="<%= "#{store.name} logo" %>"></noscript>
          </div>
        </div>
      </div>
    <% end %>
    <%# //Logo %>

    <%# Icon links %>
    <div class="stores-list__phone-map storefront-storelist-phone-map-links">

      <%# Phone no %>
      <%= phone_link store.phone_number, class: 'storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm' do |phone_number| %>
        <span class="hide-visually">Call store: <%= phone_number %></span>
        <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
      <% end %>
      <%# //Phone no %>

      <%# Location %>
      <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="<%= store.id %>">
        <span class="hide-visually">View on map</span>
        <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
      </a>
      <%# //Location %>

    </div>
    <%# //Icon links %>

  </div>
</dd>