<div class="storefront__featured__item storefront__featured__item--<%= kind.pluralize %> island-ends">
  <div class="container">
    <h2 class="storefront__featured__hdr"><%= heading %> from <%= store.name %></h2>
    <ul class="grid grid--gutter-half grid--mrg-half">
      <% results.each do |result| %>
        <li class="grid__item one-half non-palm-one-third">
          <%= render partial: "/shared/tiles/#{ kind }",
                layout: '/layouts/tile',
                locals: {
                  result: result,
                  options: {
                    height: 288
                  }
                }
            %>
        </li>
      <% end %>
    </ul>
    <%= link_to path, class: 'storefront__featured__view-more' do %>
      View more<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
    <% end %>
  </div>
</div>