<div class="stores-maps container">
  <h1 class="hide-visually">Stores</h1>

  <%# Contain filters, map/listing toggle, and listings %>
  <div class="stores-maps__inner">

    <%# Filters & listing/map toggle button %>
    <div class="stores-maps__filters-toggle">

      <div class="container">

        <h2 class="stores-maps__hdr">Stores A-Z</h2>

        <%# Filters %>
        <!-- TODO: need to add aria-controls to the 'Apply' button that points to the filters count -->
        <button class="btn btn--main btn--main-alt4">Filter</button>
        <%# Filters %>

        <%# Listing/map toggle %>
        <button class="stores-maps__toggle btn btn--main btn--main-alt4 btn--main-compact-icon hide-fully--desk js-stores-maps-toggle">
          <span class="hide-visually">View map</span>
          <span class="icon icon--map2 icon--flush-top icon--xlrg" aria-hidden="true"></span>
        </button>
        <%# //Listing/map toggle %>

      </div>

      <%# Post filter count %>
      <div class="stores-maps__filters-count">
        <div class="container">
          <p aria-live="polite"><span class="icon icon--pin"></span> 44 Results found</p>
        </div>
      </div>
      <%# //Post filter count %>

    </div>
    <%# //Filters & listing/map toggle button %>

    <%# Stores listing %>
    <div class="stores-maps__listing js-stores-maps-toggle__listing">
      <dl class="stores-list">
        <% @stores.each do |letter, stores| %>

          <dt>
            <div class="container"><%= letter %></div>
          </dt>

          <% stores.each do |store| %>
          <dd data-store-id="<%= store.id %>">
            <div class="container">

              <%# Store name %>
              <div class="stores-list__data-cell stores-list__data-cell--store-name">
                <strong><%= link_to store.name, (centre_store_url @centre.code , store.id) %></strong>
                <!-- <strong><a href="#">Via Del Corso Pasticceria e Caffé Pasticceria</a></strong> -->
                <%# Phone no %>
                <span class="hide-fully--palm"><%= store.phone_number %></span>
                <%# //Phone no %>
              </div>
              <%# //Store name %>

              <%# Logo %>
              <div class="stores-list__data-cell stores-list__data-cell--logo hide-fully--palm">
                <%#<%= responsive_image_tag normal: store.logo, alt: store.name %>
                <!-- <img src="http://cs3.wol.io/img_resized/retailer/logos/2xu_110x40.gif?allow_404=true"> -->
                <img src="http://cs2.wol.io/img_resized/retailer/logos/360baranddining_110x40.gif?allow_404=true">
                <!-- <img src="http://cs2.wol.io/img_resized/retailer/logos/100squared_110x40.gif?allow_404=true"> -->
              </div>
              <%# //Logo %>

              <%# Icon links %>
              <div class="stores-list__data-cell stores-list__data-cell--icons hide-fully--desk">

                <%# Phone no %>
                <a href="tel:<%= store.phone_number %>" class="stores-list__data-cell__icon stores-list__data-cell__icon--phone hide-fully--non-palm">
                  <span class="hide-visually"><%= store.phone_number %></span>
                  <span class="icon icon--phone2 icon--flush-top"></span>
                </a>
                <%# //Phone no %>

                <%# Location %>
                <a href="#infoDiv" class="stores-list__data-cell__icon stores-list__data-cell__icon--location">
                  <span class="hide-visually">View on map</span>
                  <span class="icon icon--pin icon--flush-top"></span>
                </a>
                <%# //Location %>

              </div>
              <%# //Icon links %>

            </div>
          </dd>
          <% end %>

        <% end %>
      </dl>
    </div>
    <%#//Stores listing %>

  </div>
  <%# //Contain filters, map/listing toggle, and listings %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle__map">
    <%= render partial: 'shared/map', locals: {store_id: nil, interactive: true} %>
  </div>
  <%# //Map %>

</div>
