<div class="stores-maps container">
  <h1 class="hide-visually">Stores</h1>

  <%# Contain filters, map/list toggle, and listings %>
  <%# [BACKEND] append `is-filter-applied` class to this container when a category filter has been applied %>
  <div class="stores-maps__inner">

    <%# Filters & list/map toggle button %>
    <div class="stores-maps__filters-toggle">

      <div class="container">

        <h2 class="stores-maps__hdr">Stores A-Z</h2>

        <%# Filters %>
        <%# [CHRIS TODO] need to add aria-controls to the 'Apply' button that points to the filters count %>
        <%# <button class="btn btn--main btn--main-alt2">Filter</button> %>
        <%# Filters %>

        <%# List/map toggle %>
        <button class="stores-maps__toggle btn btn--main btn--main-alt4 btn--main-compact-icon js-stores-maps-toggle-btn">
          <span class="hide-visually">View <span class="js-stores-maps-toggle-btn__txt">map</span></span>
          <span class="icon icon--map2 icon--lrg" aria-hidden="true"></span>
          <span class="icon icon--list icon--lrg" aria-hidden="true"></span>
        </button>
        <%# //List/map toggle %>

      </div>

      <%# Post filter count %>
      <%# [BACKEND] inject this when a category filter has been applied, see the store name in the list below for further instructions %>
      <%# <div class="stores-maps__filters-count">
        <div class="container">
          <p aria-live="polite"><span class="icon icon--pin"></span> 44 Results found</p>
        </div>
      </div> %>
      <%# //Post filter count %>

    </div>
    <%# //Filters & list/map toggle button %>

    <%# Stores list %>
    <div class="stores-maps__list-detail js-stores-maps-toggle-listing-detail">
      <dl class="stores-list">
        <% @stores.each do |letter, stores| %>

          <dt>
            <div class="stores-list__inner container"><%= letter %></div>
          </dt>

          <% stores.each do |store| %>
          <dd data-store-id="<%= store.id %>">
            <div class="stores-list__inner container">

              <%# Store name %>
              <div class="stores-list__data-cell stores-list__data-cell--store-name">
                <%# [BACKEND] cannot use the link until storefront feature is complete %>
                <!-- <strong><%= link_to store.name, (centre_store_url @centre.code , store.id) %></strong> -->
                <strong><%= store.name %></strong>
                <%# Phone no %>
                <span class="hide-fully--palm"><%= store.phone_number %></span>
                <%# //Phone no %>
                <%# [BACKEND] inject this `span` when a category filter has been applied %>
                <%# <span class="icon icon--pin icon--flush-top"></span> %>
              </div>
              <%# //Store name %>

              <%# Logo %>
              <div class="stores-list__data-cell stores-list__data-cell--logo hide-fully--palm">
                <div class="vert-align">
                  <div class="vert-align__inner">
                    <%#<%= responsive_image_tag normal: store.logo, alt: store.name %>
                    <img src="http://cs3.wol.io/img_resized/retailer/logos/2xu_110x40.gif?allow_404=true" alt="store name + logo">
                  </div>
                </div>
              </div>
              <%# //Logo %>

              <%# Icon links %>
              <div class="stores-list__data-cell stores-list__data-cell--icons">

                <%# Phone no %>
                <a href="tel:<%= store.phone_number %>" class="stores-list__data-cell__icon stores-list__data-cell__icon--phone hide-fully--non-palm">
                  <span class="hide-visually"><%= store.phone_number %></span>
                  <span class="icon icon--phone2 icon--flush-top"></span>
                </a>
                <%# //Phone no %>

                <%# Location %>
                <a href="#infoDiv" class="stores-list__data-cell__icon stores-list__data-cell__icon--location">
                  <span class="hide-visually">View on map</span>
                  <span class="icon icon--pin icon--flush-top"></span>
                </a>
                <%# //Location %>

              </div>
              <%# //Icon links %>

            </div>
          </dd>
          <% end %>

        <% end %>
      </dl>
    </div>
    <%#//Stores list %>

  </div>
  <%# //Contain filters, map/list toggle, and listings %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map">
    <%= render partial: 'shared/map', locals: {store_id: nil, interactive: true} %>
  </div>
  <%# //Map %>

</div>
