<% content_for :class_for_main, "container--wide" %>

<div class="stores-maps stores-maps--listing container js-stores-maps-toggle-wrap">

  <h1 class="hide-visually">Stores</h1>

  <%# Contain 'filters', 'map/list toggle', and 'listings' %>
  <%# [BACKEND] append `is-filter-applied` class to this container when a category filter has been applied %>
  <div class="stores-maps__inner">

    <%# Filters & list/map toggle button %>
    <div class="stores-maps__filters-toggle">

      <div class="container">

        <h2 class="stores-maps__filters-toggle__hdr">Stores A-Z</h2>

        <%# Filters %>
        <%# [CHRIS TODO] need to add `aria-owns` to the 'Apply' button that points to the filters count %>
        <!-- <div class="drop-down-menu drop-down-container">
          <button class="drop-down-menu__trigger btn btn--main btn--main-alt2 btn--pointer btn--pointer-padding-lrg" toggle-visibility="stores-filters">Category<span aria-hidden="true" class="icon icon--lrg icon--arrow-down-full icon--flush-top btn--pointer__icon"></span></button>
          <div class="drop-down-menu__target drop-down box" id="stores-filters">
            <ul class="drop-down-menu__list">
              <li><button class="btn btn--full btn--full-left">Women's Fashion</button></li>
              <li><button class="btn btn--full btn--full-left">Shoes &amp; Footwear</button></li>
              <li><button class="btn btn--full btn--full-left">Jewellery &amp; Watches</button></li>
              <li><button class="btn btn--full btn--full-left">Bags &amp; Luggage</button></li>
              <li><button class="btn btn--full btn--full-left">Computers &amp; Electronics</button></li>
              <li><button class="btn btn--full btn--full-left">Movies &amp; Music</button></li>
            </ul>
          </div>
        </div> -->
        <%# Filters %>

        <%# List/map toggle %>
        <button class="stores-maps__toggle btn btn--main btn--main-alt4 btn--main-compact-icon js-stores-maps-toggle-btn" aria-owns="stores-maps-toggle-listing-detail, stores-maps-toggle-map">
          <span class="hide-visually">View <span class="js-stores-maps-toggle-btn__txt">map</span></span>
          <span class="icon icon--map2 icon--lrg" aria-hidden="true"></span>
          <span class="icon icon--list icon--lrg" aria-hidden="true"></span>
        </button>
        <%# //List/map toggle %>

      </div>

      <%# Post filter count %>
      <%# [BACKEND] inject this when a category filter has been applied, see the store name in the list below for further instructions %>
      <%# <div class="stores-maps__filters-count">
        <div class="container">
          <p aria-live="polite"><span class="icon icon--pin"></span> 44 Results found</p>
        </div>
      </div> %>
      <%# //Post filter count %>

    </div>
    <%# //Filters & list/map toggle button %>

    <%# Stores list %>
    <div class="stores-maps__list-detail js-defer-image-load-container" id="stores-maps-toggle-listing-detail">
      <dl class="stores-list">
        <% @stores.each do |letter, stores| %>

          <dt>
            <div class="stores-list__inner container"><%= letter %></div>
          </dt>

          <% stores.each do |store| %>
          <dd data-store-id="<%= store.id %>">
            <div class="stores-list__inner container">

              <%# Store name %>
              <div class="stores-list__store-name">
                <%# [BACKEND] cannot use the link until storefront feature is complete %>
                <!-- <strong><%= link_to store.name, (centre_store_url @centre.code , store.id) %></strong> -->
                <strong><%= store.name %></strong>
                <%# Phone no %>
                <span class="hide-fully--palm"><%= store.phone_number %></span>
                <%# //Phone no %>
                <%# [BACKEND] inject this `span` when a category filter has been applied %>
                <%# <span class="icon icon--pin icon--flush-top"></span> %>
              </div>
              <%# //Store name %>




              <%# Logo %>
              <% if store.has_logo? %>
                <div class="stores-list__logo hide-fully--palm">
                  <div class="vert-align">
                    <div class="vert-align__inner">
                      <span class="preloader preloader--light" data-image-src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, quality: 25, crop: :pad, background: 'rgb:FFFFFF') %>" data-image-alt="<%= "#{store.name} logo" %>" data-image-itemprop="photo">
                        <span class="preloader__spinner"></span>
                        <em class="hide-visually">Loading, please wait&#8230;</em>
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
              <%# //Logo %>

              <%# Icon links %>
              <div class="stores-list__phone-map storefront-storelist-phone-map-links">

                <%# Phone no %>
                <a href="tel:<%= (store.phone_number || "").gsub(/\s+/,'') %>" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm">
                  <span class="hide-visually">Call store: <%= store.phone_number %></span>
                  <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
                </a>
                <%# //Phone no %>

                <%# Location %>
                <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location">
                  <span class="hide-visually">View on map</span>
                  <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
                </a>
                <%# //Location %>

              </div>
              <%# //Icon links %>

            </div>
          </dd>
          <% end %>

        <% end %>
      </dl>
    </div>
    <%#//Stores list %>

  </div>
  <%# //Contain 'filters', 'map/list toggle', and 'listings' %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map" id="stores-maps-toggle-map">
    <%= render partial: 'shared/map', locals: {store_id: nil, interactive: true, load_immediately: false} %>
  </div>
  <%# //Map %>

</div>

<%- content_for :javascript do -%>
  <%= javascript_tag do %>
    (function initialiseResponsiveMap() {

      var map = new window.map.Micello(),
          viewingList = true;

      function resetView(listView) {
        <%# listView = [true, false, null]
              true = list view
              false = map view
              null = desktop view
        %>
        viewingList = listView;

        $('.js-stores-maps-toggle-btn').toggleClass('is-expanded', listView === false);   <%# toggle button        %>
        $('.js-stores-maps-toggle-btn__txt').html(listView ? 'map' : 'list');             <%# toggle button text   %>
        $('.js-stores-maps-toggle-wrap').toggleClass('is-map-view', listView === false);  <%# store list container %>

        if(!listView) map.load().centreOffset({x: listView === false ? 0.5 : 0.75, y: 0.5});
      }

      function showStoreDetail(storeId) {
        map.setTarget(storeId).showLevel().centre().highlight().detail();
      }

      function nonPalmView() {
        resetView(null);
        $('*', document).off('.map-palm')
        $('[data-store-id]').on('click.map-non-palm', function() {
          showStoreDetail($(this).data('store-id'));
        });
      }

      function palmView() {
        resetView(true);
        $('*', document).off('.map-non-palm')
        $('.js-stores-maps-toggle-btn').on('click.map-palm', function() {
          resetView(!viewingList);
        });
        $('[data-store-id]').on('click.map-palm', 'a[href="#infoDiv"]', function(event) {
          resetView(false);
          showStoreDetail($(event.delegateTarget).data('store-id'));
        });
      }

      $script.ready('<%= asset_path 'enquire.js' %>', function() {
        $(function() {
          enquire.register("all and (min-width: 64em)", {
            match: nonPalmView,
            unmatch: palmView,
            setup: palmView
          }, true);
        });
      }, $script);
    }());

    $('.js-defer-image-load-container').deferImages({matchMedia: 'all and (min-width: 40.0625em)'});
  <% end %>
<%- end -%>
