<% content_for :class_for_main, "container--wide" %>

<div class="stores-maps container js-stores-maps-toggle-wrap is-list-view">

  <%# Contain 'filters', 'map/list toggle', and 'listings' %>
  <div class="js-pjax-container-stores" aria-live="polite" aria-atomic="true">

    <h1 class="hide-visually">Stores</h1>

    <%# PJAX preloader %>
    <span class="preloader preloader--middle preloader--light">
      <span class="preloader__spinner"></span>
      <em class="hide-visually">Loading, please wait&#8230;</em>
    </span>
    <%# //PJAX preloader %>

    <div class="stores-maps__inner stores-maps__inner--listing">

      <%# Filters & list/map toggle button %>
      <div class="stores-maps__filters-toggle">

        <div class="container container--position">

          <h2 class="stores-maps__filters-toggle__hdr hide-visually">Stores A-Z</h2>

          <%# Filters %>
          <div class="stores-maps__filters">

            <p class="hide-visually">Filter stores by <strong>Category</strong> and whether they accept <strong>Gift cards</strong>.</p>

            <%# Category %>
            <%# [BACKEND] When a category has been selected remove the Category filter HTML from the DOM, if cannot remove from the DOM then append `hide-fully` class to this `div` %>
            <div class="stores-maps__filters__item drop-down-menu drop-down-container">

              <%#
                [BACKEND] following keyboard behaviour is required:
                - ENTER/SPACE key opens the drop down when focused on the drop down trigger.
                - Only 1 tab stop which should only be the 'Drop down trigger'. So all links need `tabindex="-1"`.
                - When the drop down is open set focus to the 1st link so if the T2 category menu is open set focus to the 'Back' link.
                - Down/up arrow keys sets focus to the links and cylces through i.e. if you get to the last link and hit down arrow key you'll go the top link.
                - See here for example: http://dl.dropboxusercontent.com/u/1065747/csun13/with_aria.html.
              %>

              <%# Drop down trigger %>
              <button class="drop-down-menu__trigger btn btn--main btn--main-dark btn--pointer btn--pointer-padding-med js-disabled-hide" toggle-visibility="category-store-filter">
                Category
                <span class="hide-visually"> filter</span>
                <span aria-hidden="true" class="icon icon--lrg icon--arrow-down-full btn--pointer__icon"></span>
              </button>
              <%# //Drop down trigger %>

              <%# Drop down target %>
              <div class="drop-down-menu__target drop-down-menu__target--alt-width-palm drop-down pointer-up box box--drop-down" id="category-store-filter">

                <%# T1 categories %>
                <%# [BACKEND] when a T1 has been selected remove `is-active` class to hide it, bring it back when the 'Back' anchor is selected in the relevant T2's header %>
                <ul id="stores-t1-categories" class="drop-down-menu__list toggle-visibility is-active">
                  <li class="drop-down-menu__divider">
                    <%#
                      [BACKEND] the T1 links to it's T2 via the T2's `id` (make sure the `id` isn't in the URL) and each T1 link that has children needs a unique `id` for ARIA, just increment the number at the end of the `id`s, the following ARIA attr's are needed:
                      - `aria-haspopup="true"`.
                      - `aria-controls="id-of-T2-container"`.
                    %>
                    <a href="#stores-t2-category-1" id="stores-t1-category-1" class="drop-down-menu__hdr-btn btn btn--full btn--full-left btn--pointer">
                      Health Services
                      <span class="hide-visually"> (view sub categories)</span>
                      <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon js-disabled-hide" aria-hidden="true"></span>
                    </a>
                    <%# [BACKEND] for when gift cards aren't available for a category i.e. disabled state, make sure no ARIA attr's are applied %>
                    <!-- <div class="drop-down-menu__hdr-btn btn btn--full btn--full-left btn--pointer is-disabled is-disabled--no-hover">
                      [T1 category]
                      <span class="hide-visually"> (gift cards not available for this category)</span>
                      <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon js-disabled-hide" aria-hidden="true"></span>
                    </div> -->
                    <%# [BACKEND] for when T1's don't have T2's, these links needs to render at the bottom of the list, if you need a way to target these links use `is-childless`, make sure no ARIA attr's are applied %>
                    <!-- <a href="#" class="drop-down-menu__hdr-btn btn btn--full btn--full-left btn--pointer">[T1 category]</a> -->
                  </li>
                </ul>
                <%# //T1 categories %>

                <%# T2 categories %>
                <%#
                  [BACKEND] the display of the T2 categories are handled via the `is-active` class, when a T1 has been selected append `is-active` to the container `div` and remove the `is-active` from the T1 container `div`. The following ARIA attr's are needed:
                  - `aria-hidden`, default value is `true`, when it's in view it should be `false`.
                  - `aria-labelledby="id-of-T1-anchor"`.
                %>
                <div id="stores-t2-category-1" class="toggle-visibility">
                  <div class="drop-down-menu__hdr drop-down-menu__divider islet">
                    <h3>[T2 category]</h3>
                    <%# [BACKEND] simple anchor link that links to the T1 category container `ul`, make sure the `id` isn't in the URL %>
                    <a href="#stores-t1-categories" class="btn js-disabled-hide">
                      <span class="hide-visually">Back to main categories</span>
                      <span class="icon icon--arrow-left-big icon--lrg" aria-hidden="true"></span>
                    </a>
                  </div>
                  <ul class="drop-down-menu__list">
                    <li class="drop-down-menu__divider">
                      <a href="#" class="btn btn--full btn--full-left">[T2 category]</a>
                      <%# [BACKEND] for when gift cards aren't available for a category i.e. disabled state %>
                      <!-- <div class="btn btn--full btn--full-left is-disabled">
                        [T2 sub category]
                        <span class="hide-visually"> (gift cards not available for this category)</span>
                      </div> -->
                    </li>
                  </ul>
                </div>
                <%# //T2 categories %>

              </div>
              <%# //Drop down target %>

            </div><!--
            <%# //Category %>

            <%# Applied category %>
            <%# [BACKEND] this shouldn't be in the DOM until a category has been selected, if it can't be removed from the DOM then use class `hide-fully` on the `form` %>
            --><!-- <form action="" method="get" class="stores-maps__filters__item">
                <legend class="hide-visually">Clear the filtered category from the stores list</legend>
                <button type="submit" class="tags__btn tags__btn--solo btn">
                  <span class="txt-truncate">Specialty Health Providers</span>
                  <span class="icon icon--close-sml icon--lrg icon--flush-top" aria-hidden="true"></span>
                </button>
            </form> --><!--
            <%# //Applied category %>

            <%# Gift card filter %>
            --><form action="" method="get" class="stores-maps__filters__item">
                <legend class="hide-visually">Gift card filter</legend>
                <%# [BACKEND] when the gift card checkbox is checked append class `is-active` to the `label` and when gift cards aren't available in categories append class `is-disabled` onto the `label` and see below for further instructions %>
                <label for="gift-card-store-filter" class="btn btn--main btn--main-dark btn--main-checkbox-toggle btn--main-checkbox-toggle-icon">
                  <%# [BACKEND] when gift cards aren't available in categories append `disabled` attr onto the `checkbox` %>
                  <input id="gift-card-store-filter" type="checkbox" class="btn--main-checkbox-toggle__input">
                  <span class="btn--main-checkbox-toggle__lbl">
                    <span class="hide-visually">Westfield </span>
                    Gift Card
                    <span class="hide-visually"> accepted</span>
                    <span aria-hidden="true" class="icon icon--gift-card icon--xlrg icon--flush-top-mozilla"></span>
                  </span>
                </label>
                <%# [BACKEND] use this submit button to submit the above checkbox when JS is disabled and when gift cards aren't available in categories append `disabled` attr onto the `button` %>
                <button type="submit" class="js-enabled-hide">Go</button>
            </form>
            <%# //Gift card filter %>

          </div>
          <%# //Filters %>

          <%# List/map toggle %>
          <button type="button" class="stores-maps__toggle btn btn--main btn--main-white btn--main-compact-icon js-stores-maps-toggle-btn" aria-owns="stores-maps-toggle-listing-detail stores-maps-toggle-map">
            <span class="hide-visually">View <span class="js-stores-maps-toggle-btn-txt">map</span></span>
            <span class="icon icon--map2 icon--lrg" aria-hidden="true"></span>
            <span class="icon icon--list icon--lrg" aria-hidden="true"></span>
          </button>
          <%# //List/map toggle %>

        </div>

      </div>
      <%# //Filters & list/map toggle button %>

      <%# Stores list %>
      <div class="stores-maps__list-detail js-defer-image-load-container" id="stores-maps-toggle-listing-detail">
        <dl class="stores-list js-fastclick">
          <% @grouped_stores.each do |letter, stores| %>

            <dt>
              <div class="stores-list__inner container">
                <%# [BACKEND] this should just go back to rendering the letter only %>
                <% if @letter == 'All' %>
                  <%= letter %>
                <% else %>
                  Stores starting with "<%= letter %>"
                <% end %>
              </div>
            </dt>

            <% stores.each do |store| %>
            <dd>
              <div class="stores-list__inner container">

                <%# Store name %>
                <div class="stores-list__store-name test-store">
                  <strong><%= link_to store.name, (centre_store_url @centre.code, store.retailer_code, store.id), class: 'js-pjax-link-stores' %></strong>
                  <%# Phone no %>
                  <span class="hide-fully--palm">
                    <span class="hide-visually">Call store: </span>
                    <%= phone_format store.phone_number %>
                  </span>
                  <%# //Phone no %>
                </div>
                <%# //Store name %>

                <%# Logo %>
                <% if store.has_logo? %>
                  <div class="stores-list__logo hide-fully--palm">
                    <div class="vert-align">
                      <div class="vert-align__inner">
                        <span class="preloader preloader--light js-disabled-hide" data-image-src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, crop: :pad, background: 'rgb:FFFFFF', fetch_format: 'auto') %>" data-image-alt="<%= "#{store.name} logo" %>" data-image-itemprop="photo">
                          <span class="preloader__spinner"></span>
                          <em class="hide-visually">Loading, please wait&#8230;</em>
                        </span>
                        <noscript>
                          <img src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, crop: :pad, background: 'rgb:FFFFFF', fetch_format: 'auto') %>" alt="<%= "#{store.name} logo" %>">
                        </noscript>
                      </div>
                    </div>
                  </div>
                <% end %>
                <%# //Logo %>

                <%# Icon links %>
                <div class="stores-list__phone-map storefront-storelist-phone-map-links">

                  <%# Phone no %>
                  <%= phone_link store.phone_number, class: 'storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm' do |phone_number| %>
                    <span class="hide-visually">Call store: <%= phone_number %></span>
                    <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
                  <% end %>
                  <%# //Phone no %>

                  <%# Location %>
                  <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="<%= store.id %>">
                    <span class="hide-visually">View on map</span>
                    <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
                  </a>
                  <%# //Location %>

                </div>
                <%# //Icon links %>

              </div>
            </dd>
            <% end %>

          <% end %>
        </dl>
      </div>
      <%#//Stores list %>

      <%= javascript_tag do %>
        function storeMapPageReady() {
          $('.js-defer-image-load-container').deferImages({matchMedia: 'all and (min-width: 40.0625em)'});
          storeMapPage.store();
        }
      <% end %>

    </div>
  </div>
  <%# //Contain 'filters', 'map/list toggle', and 'listings' %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map" id="stores-maps-toggle-map">
    <%= render partial: 'shared/micello_maps/map', locals: {store_id: nil, interactive: true, load_immediately: false} %>
  </div>
  <%# //Map %>

</div>

<%- content_for :javascript do -%>
  <%= javascript_include_tag 'stores_maps' %>
<%- end -%>
