<% content_for :class_for_main, "container--wide" %>

<div class="stores-maps stores-maps--listing container js-stores-maps-toggle-wrap">

  <h1 class="hide-visually">Stores</h1>

  <%# Contain 'filters', 'map/list toggle', and 'listings' %>
  <%# [BACKEND] append `is-filter-applied` class to this container when a category filter has been applied %>
  <div class="js-pjax-container-stores" aria-live="polite" aria-atomic="true">

    <%# PJAX preloader %>
    <span class="preloader preloader--middle preloader--light">
      <span class="preloader__spinner"></span>
      <em class="hide-visually">Loading, please wait&#8230;</em>
    </span>
    <%# //PJAX preloader %>

    <div class="stores-maps__inner stores-maps__inner--listing">

      <%# Filters & list/map toggle button %>
      <div class="stores-maps__filters-toggle">

        <div class="container">

          <h2 class="stores-maps__filters-toggle__hdr">Stores A-Z</h2>

          <%# Filters %>
          <%# [BACKEND] Markup for the 'Category' and 'Gift Card' filters %>
          <%#<ul class="stores-maps__filters horiz-list horiz-list--gutter-half">

              <li class="drop-down-menu drop-down-container">
                <button class="drop-down-menu__trigger btn btn--main btn--main-alt2 btn--pointer btn--pointer-padding-med" toggle-visibility="stores-filters">Category<span aria-hidden="true" class="icon icon--lrg icon--arrow-down-full btn--pointer__icon"></span></button>
                <div class="drop-down-menu__target drop-down-menu__target--alt-width-palm drop-down box box--drop-down" id="stores-filters">
                  <ul class="drop-down-menu__list">
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Women's Fashion</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Shoes &amp; Footwear</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Jewellery &amp; Watches</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Bags &amp; Luggage</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Computers &amp; Electronics</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Movies &amp; Music</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Women's Fashion</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Shoes &amp; Footwear</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Jewellery &amp; Watches</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Bags &amp; Luggage</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Computers &amp; Electronics</button></li>
                    <li class="drop-down-menu__divider"><button class="btn btn--full btn--full-left">Movies &amp; Music</button></li>
                  </ul>
                </div>
              </li><!--

              --><li>
                <label for="gift-card-toggle" class="btn btn--main btn--main-alt2 btn--checkbox-toggle btn--checkbox-toggle-icon">
                  <input id="gift-card-toggle" type="checkbox" class="btn--checkbox-toggle__input"><span class="btn--checkbox-toggle__lbl"><span class="hide-visually">Westfield </span>Gift Card<span class="hide-visually"> accepted</span><span aria-hidden="true" class="icon icon--gift-card icon--xlrg icon--flush-top-mozilla"></span></span>
                </label>
              </li>

          </ul>%>
          <%# //Filters %>

          <%# List/map toggle %>
          <button class="stores-maps__toggle btn btn--main btn--main-alt4 btn--main-compact-icon js-stores-maps-toggle-btn" aria-owns="stores-maps-toggle-listing-detail, stores-maps-toggle-map">
            <span class="hide-visually">View <span class="js-stores-maps-toggle-btn-txt">map</span></span>
            <span class="icon icon--map2 icon--lrg" aria-hidden="true"></span>
            <span class="icon icon--list icon--lrg" aria-hidden="true"></span>
          </button>
          <%# //List/map toggle %>

        </div>

        <%# Post filter count %>
        <%# [BACKEND] inject this when a category filter has been applied, see the store name in the list below for further instructions %>
        <%# <div class="stores-maps__filters-count">
          <div class="container">
            <p aria-live="polite"><span class="icon icon--pin"></span> 44 Results found</p>
          </div>
        </div> %>
        <%# //Post filter count %>

      </div>
      <%# //Filters & list/map toggle button %>

      <%# Stores list %>
      <div class="stores-maps__list-detail js-defer-image-load-container" id="stores-maps-toggle-listing-detail">
        <dl class="stores-list">
          <% @stores.each do |letter, stores| %>

            <dt>
              <div class="stores-list__inner container"><%= letter %></div>
            </dt>

            <% stores.each do |store| %>
            <dd>
              <div class="stores-list__inner container">

                <%# Store name %>
                <div class="stores-list__store-name">
                  <strong><%= link_to store.name, (centre_store_url @centre.code, store.retailer_code, store.id), class: 'js-pjax-link-stores' %></strong>
                  <%# Phone no %>
                  <span class="hide-fully--palm"><span class="hide-visually">Phone number: </span><%= phone_format store.phone_number %></span>
                  <%# //Phone no %>
                  <%# [BACKEND] inject this `span` when a category filter has been applied %>
                  <%# <span class="icon icon--pin icon--flush-top"></span> %>
                </div>
                <%# //Store name %>

                <%# Logo %>
                <% if store.has_logo? %>
                  <div class="stores-list__logo hide-fully--palm">
                    <div class="vert-align">
                      <div class="vert-align__inner">
                        <span class="preloader preloader--light js-disabled-hide" data-image-src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, crop: :pad, background: 'rgb:FFFFFF') %>" data-image-alt="<%= "#{store.name} logo" %>" data-image-itemprop="photo">
                          <span class="preloader__spinner"></span>
                          <em class="hide-visually">Loading, please wait&#8230;</em>
                        </span>
                        <noscript><img src="<%= cl_image_path(store.logo, type: "fetch", width: 168, height: 62, crop: :pad, background: 'rgb:FFFFFF') %>" alt="<%= "#{store.name} logo" %>"></noscript>
                      </div>
                    </div>
                  </div>
                <% end %>
                <%# //Logo %>

                <%# Icon links %>
                <div class="stores-list__phone-map storefront-storelist-phone-map-links">

                  <%# Phone no %>
                  <a href="tel:<%= (store.phone_number || "").gsub(/\s+/,'') %>" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm">
                    <span class="hide-visually">Call store: <%= phone_format store.phone_number %></span>
                    <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
                  </a>
                  <%# //Phone no %>

                  <%# Location %>
                  <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="<%= store.id %>">
                    <span class="hide-visually">View on map</span>
                    <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
                  </a>
                  <%# //Location %>

                </div>
                <%# //Icon links %>

              </div>
            </dd>
            <% end %>

          <% end %>
        </dl>
      </div>
      <%#//Stores list %>

      <%= javascript_tag do %>
        function storeMapPageReady() {
          $('.js-defer-image-load-container').deferImages({matchMedia: 'all and (min-width: 40.0625em)'});
        }
      <% end %>

    </div>
  </div>
  <%# //Contain 'filters', 'map/list toggle', and 'listings' %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map" id="stores-maps-toggle-map">
    <%= render partial: 'shared/map', locals: {store_id: nil, interactive: true, load_immediately: false} %>
  </div>
  <%# //Map %>

</div>

<%- content_for :javascript do -%>
  <%= javascript_include_tag 'stores_maps' %>
<%- end -%>
