<% content_for :class_for_main, "container--wide" %>

<div class="stores-maps stores-maps--detail container js-stores-maps-toggle-wrap">

  <%# Contain 'back to listing link' and 'store details' %>
  <div class="stores-maps__inner js-stores-maps-toggle-listing-detail" id="stores-maps-toggle-listing-detail">

    <%# Back to listing link %>
    <div class="stores-maps__filters-toggle">
      <div class="container">
        <a href="<%= centre_stores_path(@centre) %>" class="stores-maps__hdr"><span class="icon icon--arrow-left-big" aria-hidden="true"></span> Stores A-Z</a>
      </div>
    </div>
    <%# //Back to listing link %>

    <%# Store detail %>
    <div class="stores-maps__list-detail">

      <article class="storefront" role="article">

        <%# Header (flexslider) %>
        <header>
          <h1 class="hide-visually"><%= @store.name %> storefront</h1>
          <div class="flexslider flexslider--contain-controls" style="background-image: url(/assets/dummy/store-banner.jpg);">
            <ul class="slides">
              <li>
                <img src="/assets/dummy/store-banner.jpg" alt="<%= @store.name %> banner">
                <%#
                    FIXME: [BACKEND] the storefront banner is optional so if no banner provided then:
                    - Render the below HTML.
                    - Remove the above image.
                    - Remove the `h1` element above: `<h1 class="hide-visually">`.
                    - Remove the inline `style` attr on the Flexslider `div` container above.
                    - Append class `.is-no-store-banner` to the Flexslider `div` container above.
                    - If store name exceeds or equals 58 chars then append class `.is-long-store-name` to the `em` element: `<em class="h1">`.
                    All via server side not JS
                %>
                <!-- <div class="storefront__flexslider-storename vert-align">
                  <div class="vert-align__inner">
                    <h1><%= @store.name %></h1>
                  </div>
                </div> -->
              </li>
              <%# FIXME: [BACKEND] this blurb absolutely cannot exceed 300 characters in back office console or wherever it's coming from AND because this is optional do not render the `li` if no blurb is provided (via server side not JS) %>
              <li class="storefront__flexslider-blurb">
                <div class="vert-align">
                  <div class="vert-align__inner">
                    <p><%= @store.description %></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <%# //Header (flexslider) %>

        <%# Store details %>
        <div class="storefront__details">

          <%# Inner container %>
          <div class="container">

            <%# Store meta %>
            <dl class="storefront__details__meta">
              <dt class="hide-visually">Opening hours</dt>
              <%# FIXME: [BACKEND] make dynamic inc. the `datetime` attr in the `time` element %>
              <dd class="storefront__details__meta__no-indent">Open till <time datetime="">6pm</time> tonight</dd>
              <dt class="hide-visually hide-fully--palm">Store phone number</dt>
              <%# FIXME: [BACKEND] make dynamic %>
              <dd class="hide-fully--palm">02 9869 5263<span class="icon icon--phone2 icon--xlrg" aria-hidden="true"></span></dd>
              <dt class="hide-visually">Store email</dt>
              <%# FIXME: [BACKEND] make dynamic inc. the `mailto:` attr %>
              <dd class="txt-truncate"><a href="mailto:">westfield@sabaloremipsumhellocheck.com.au</a><span class="icon icon--email icon--xlrg" aria-hidden="true"></span></dd>
              <dt class="hide-visually">Westfield gift card</dt>
              <%# FIXME: [BACKEND] if store doesn't except gift cards then say "Not accepted" %>
              <dd>Accepted<span class="icon icon-gift-card icon--xlrg" aria-hidden="true"></span></dd>
            </dl>
            <%# //Store meta %>

            <%# Icon links - store phone no and location %>
            <div class="storefront__details__phone-map storefront-storelist-phone-map-links">

              <%# Phone no %>
              <%# FIXME: [BACKEND] make dynamic inc. the `tel:` attr which needs all white space stripped out ala: `tel: (store.phone_number || "").gsub(/\s+/,'') ` %>
              <a href="tel:" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm">
                <span class="hide-visually">Call store: </span>
                <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
              </a>
              <%# //Phone no %>

              <%# Location %>
              <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location">
                <span class="storefront-storelist-phone-map-links__cell__valign">
                  <span class="icon icon--pin icon--flush-top"></span>
                  <span class="hide-visually">Store location</span>
                </span>
              </a>
              <%# //Location %>

            </div>
            <%# //Icon links - store phone no and location %>

          </div>
          <%# //Inner container %>

          <%# Store external link %>
          <div class="storefront__details__storelink">
            <div class="container">
              <%# FIXME: [BACKEND] make dynamic, see 'Store link' in products show %>
              <a href="#" class="btn btn--pointer btn--full btn--full-left btn--main btn--main-alt2 btn--main-lrg btn--main-flanked" rel="external nofollow">
                Buy from Justice Health - Centre for Health Research and Criminal Justice
                <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
                <span class="icon icon--link icon--xlrg icon--flush-top btn--pointer__icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <%# //Store external link %>

        </div>
        <%# //Store details %>

      </article>

    </div>
    <%#//Store detail %>

  </div>
  <%# //Contain 'back to listing link' and 'store details' %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map" id="stores-maps-toggle-map">
    <%= render partial: 'shared/map', locals: {store_id: nil, interactive: true, load_immediately: false} %>
  </div>
  <%# //Map %>

</div>

<%- content_for :javascript do -%>

  <%= javascript_include_tag 'flexslider/jquery.flexslider' %>
  <script>

    // Run 'Flexslider' plugin
    $(window).load(function() {

      // Get the count of flexslider items
      var flexsliderItemsCount = $('.flexslider .slides li').length;

      // Only initialise flexslider if more than 1 item
      if (flexsliderItemsCount > 1) {

        $('.flexslider').flexslider({
          animationSpeed: 50,
          controlNav: true,
          directionNav: false,
          slideshow: false,
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            slider.controlNav.attr({'href' : '#', 'role' : 'button'});
          },
          // Do stuff after each slider animation completes
          after: function(slider) {
            slider.slides.attr('aria-selected', 'false');
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
          }
        });

      }

    });

  </script>
<%- end -%>