<% content_for :class_for_main, "container--wide" %>

<div class="stores-maps container js-stores-maps-toggle-wrap">

  <%# Contain 'back to listing link' and 'store details' %>
  <div class="js-pjax-container-stores" aria-live="polite" aria-atomic="true">

    <%# PJAX preloader %>
    <span class="preloader preloader--middle preloader--light">
      <span class="preloader__spinner"></span>
      <em class="hide-visually">Loading, please wait&#8230;</em>
    </span>
    <%# //PJAX preloader %>

    <div class="stores-maps__inner stores-maps__inner--detail js-store-hours-toggle-container<%= ' is-featured-items' if @products.present? or @deals.present? %>" id="stores-maps-toggle-listing-detail">

      <%# Back to listing link %>
      <div class="stores-maps__filters-toggle">
        <div class="container">

          <%# Small screen view %>
          <a href="<%= centre_stores_path(@centre) %>" class="stores-maps__toggle stores-maps__toggle--link btn btn--main btn--main-white btn--main-compact-icon js-maintain-store-filter js-pjax-link-stores js-pjax-view-stores">
            <span class="hide-visually--palm">View stores</span>
            <span class="icon icon--list icon--lrg" aria-hidden="true"></span>
          </a>
          <%# //Small screen view %>

          <%# Large screen view %>
          <span class="stores-maps__filters-toggle__hdr txt-truncate">
            <a href="<%= centre_stores_path(@centre) %>" class="js-maintain-store-filter js-pjax-link-stores">
              <span class="icon icon--arrow-left-big" aria-hidden="true"></span>
              <span class="hide-visually">Back to </span>
              Stores
            </a>
            <span class="hide-visually">You are viewing store:</span> <%= @store.name %>
          </span>
          <%# //Large screen view %>
        </div>
      </div>
      <%# //Back to listing link %>

      <%# Store details %>
      <div class="stores-maps__list-detail">

        <article class="storefront" role="article">

          <%# Header (carousel) %>
          <%= render @store.has_storefront? ? 'header_with_banner' : 'header_without_banner' %>
          <%# //Header (carousel) %>

          <%# Store details %>
          <div class="storefront__details">

            <%# Inner container %>
            <div class="container container--position">

              <%# Store meta %>
              <dl class="storefront__details__meta">

                <%# Store level %>
                <%- if @store.level.present? %>
                  <dt class="hide-visually">Shopping centre level</dt>
                  <dd class="hide-visually"><%= @store.level %></dd>
                <%- end %>
                <%# //Store level %>

                <%# Store phone no %>
                <%- if @store.phone_number.present? %>
                  <dt class="hide-visually hide-fully--palm">Store phone number</dt>
                  <dd class="hide-fully--palm">
                    <%= phone_format @store.phone_number %>
                    <span class="icon icon--phone2 icon--xlrg icon--fixed-width" aria-hidden="true"></span>
                  </dd>
                <%- end %>
                <%# //Store phone no %>

                <%# Store email %>
                <%- if @store.email_address.present? %>
                  <dt class="hide-visually">Store email</dt>
                  <dd class="txt-truncate">
                    <%= mail_to @store.email_address, @store.email_address %>
                    <span class="icon icon--email icon--xlrg icon--fixed-width" aria-hidden="true"></span>
                  </dd>
                <%- end %>
                <%# //Store email %>

                <%# Store gift cards accepted %>
                <%- if @store.accepts_giftcards.present? %>
                  <dt class="hide-visually">Westfield gift card</dt>
                  <dd>
                    Gift card accepted in store
                    <span class="icon icon--gift-card icon--xlrg icon--fixed-width" aria-hidden="true"></span>
                  </dd>
                <%- end %>
                <%# //Store gift cards accepted %>

                <%# Opening hours %>
                <%- if @store.closing_time.present? and !@store.closed_today %>
                  <dt class="hide-visually">Opening hours</dt>
                  <dd>Open<span class="hide-fully--palm-inline"> from</span> <time datetime="<%= @store.opening_time %>"><%= twelve_hour_format @store.opening_time %></time>&#8211;<time datetime="<%= @store.closing_time %>"><%= twelve_hour_format @store.closing_time %></time><span class="hide-fully--palm-inline"> today</span>
                  <% if @this_week_hours.present? %>
                    <button class="btn btn--faux-link js-store-hours-toggle-trigger js-disabled-hide" toggle-visibility="store-hours">
                      <span class="hide-fully--palm">
                        (Show
                        <span class="show-when-visible">less)</span>
                        <span class="hide-when-visible">more)</span>
                      </span>
                      <span class="hide-fully--non-palm">
                        <span class="show-when-visible">(Less)</span>
                        <span class="hide-when-visible">(More)</span>
                      </span>
                    </button>
                  <% end %>
                  <span class="icon icon--hours icon--xlrg icon--fixed-width" aria-hidden="true"></span>
                  </dd>
                <%- else %>
                  <dd>
                    Closed today
                    <span class="icon icon--hours icon--xlrg icon--fixed-width" aria-hidden="true"></span>
                  </dd>
                <%- end %>
                <%# //Opening hours %>

              </dl>
              <%# //Store meta %>

              <%# Icon links - store phone no and location %>
              <div class="storefront__details__phone-map storefront-storelist-phone-map-links">

                <%# Phone no %>
                <%- if @store.phone_number.present? %>
                  <%= phone_link @store.phone_number, class: 'storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm' do |phone_number| %>
                    <span class="hide-visually">Call store: <%= phone_number %></span>
                    <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
                  <% end %>
                <%- end %>
                <%# //Phone no %>

                <%# Location %>
                <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="<%= @store.id %>">
                  <span class="storefront-storelist-phone-map-links__cell__valign">
                    <span class="icon icon--pin icon--flush-top"></span>
                    <span class="hide-visually--palm">Store location</span>
                  </span>
                </a>
                <%# //Location %>

              </div>
              <%# //Icon links - store phone no and location %>

            </div>
            <%# //Inner container %>

          </div>
          <%# //Store details %>

          <%# Store opening hours %>
          <% if @this_week_hours.present? %>
            <div class="storefront__featured storefront__featured--hours toggle-visibility island-ends js-store-hours-toggle-target" id="store-hours">
              <div class="container">
                <div class="txt-formatted">
                  <h2 class="mrg-half">Store Hours</h2>
                </div>
                <div class="islet island-non-palm box">
                  <table cellspacing="0" class="table-striped table-fixed">
                    <colgroup>
                      <col class="one-tenth lap-sml-one-eighth lap-lrg-one-sixths desk-one-tenth"></col>
                      <col class="one-quarter lap-sml-one-sixth lap-lrg-one-fifth desk-one-sixth"></col>
                      <col class="desk-two-fifths" style="background: pinks;"></col>
                      <col class="two-fifths lap-lrg-one-third desk-one-quarter"></col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th scope="col" class="table-cell-padding-off">
                          <span class="hide-visually">Day</span>
                        </th>
                        <th scope="col" class="table-cell-padding-off">
                          <span class="hide-visually">Date</span>
                        </th>
                        <th scope="col" class="table-cell-padding-off">
                          <span class="hide-visually">Public holiday</span>
                        </th>
                        <th scope="col" class="table-cell-padding-off">
                          <span class="hide-visually">Hours</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @this_week_hours.each do |hour| %>
                        <tr<%= " class=txt-bold" if today?(hour.date) %>>
                          <td>
                            <%= format_day(hour.date,0,3) %><span class="hide-fully--palm-inline"><%= format_day(hour.date,3,6) %></span>
                          </td>
                          <td>
                            <%= format_date(hour.date, "#{ordinalize_day(hour.date)} %b") %>
                          </td>
                          <td>
                            <% if hour.description.present? %>
                              <em class="pill <%= "txt-truncate txt-truncate--inline-block " if hour.description.length > 18 %>" <%= "title=#{hour.description.html_safe}" if hour.description.length > 18 %>><%= hour.description %></em>
                            <% end %>
                          </td>
                          <td class="txt-right">
                            <% if hour.closed %>
                              Closed
                            <% else %>
                              <time datetime="<%= hour.date %>T<%= hour.opening_time %>"><%= twelve_hour_format(hour.opening_time) %></time> &#8211; <time datetime="<%= hour.date %>T<%= hour.closing_time %>"><%= twelve_hour_format(hour.closing_time) %></time>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
          <%# //Store opening hours %>

          <%# Product and Deal tiles %>
          <%- if @products.present? or @deals.present? %>
            <footer>
              <%= render 'tiles', results: @products, kind: 'product', heading: 'Featured', path: centre_products_path( centre_id: @centre.code, retailer: [ params[ :retailer_code ] ] ), store: @store if @products.present? %>
              <%= render 'tiles', results: @deals, kind: 'deal', heading: 'Deals', path: centre_deals_path( @centre.code ), store: @store if @deals.present? %>
            </footer>
          <% end %>
          <%# //Product and Deal tiles %>

      </article>

      </div>
      <%#//Store details %>

      <script>
        function storeMapPageReady() {

          // If the user has come from the stores index page when filtering by category
          // then set the back link to the correct category.
          if (Modernizr.localstorage) {
            if (typeof localStorage.filteredCategory != 'undefined') {
              $('.js-maintain-store-filter').attr('href', function(i, href) {
                return href + '/' + localStorage.filteredCategory;
              });
              localStorage.removeItem('filteredCategory');
            }
            if (typeof localStorage.giftCards != 'undefined' && !!localStorage.giftCards) {
              $('.js-maintain-store-filter').attr('href', function(i, href) {
                return href + '?gift_cards=true';
              });
              localStorage.removeItem('giftCards');
            }
          }

          // Target the store in the map
          storeMapPage.store(<%= @store.id %>);

          // Run 'Flexslider' plugin

          // Get the count of flexslider items
          var flexsliderItemsCount = $('.flexslider .slides li').length;

          // Only initialise flexslider if more than 1 item
          if (flexsliderItemsCount > 1) {

            $('.flexslider').flexslider({
              animationSpeed: 50,
              controlNav: true,
              directionNav: false,
              slideshow: false,
              // Do stuff when the slider loads the first slide
              start: function(slider) {
                // Add some ARIA
                slider.container.attr('role', 'listbox');
                slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
                slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
                slider.controlNav.attr({'href' : '#', 'role' : 'button'}).prepend('Show slide ');
              },
              // Do stuff after each slider animation completes
              after: function(slider) {
                slider.slides.attr('aria-selected', 'false');
                slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
              }
            });

          }

          $('.js-store-hours-toggle-trigger').click(function() {
            if ($('.js-store-hours-toggle-target').hasClass('is-active')) {
              $('.js-store-hours-toggle-container').addClass('is-store-hours-visible');
            } else {
              $('.js-store-hours-toggle-container').removeClass('is-store-hours-visible');
            }
          })
        }
      </script>

    </div>
  </div>
  <%# //Contain 'back to listing link' and 'store details' %>

  <%# Map %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map" id="stores-maps-toggle-map">
    <%= render partial: 'shared/micello_maps/map', locals: {store_id: nil, interactive: true, load_immediately: false} %>
  </div>
  <%# //Map %>

</div>

<%- content_for :custom_javascript do -%>
  <%= javascript_include_tag 'stores_maps' %>
<%- end -%>
