<% content_for :class_for_main, "container--wide" %>

<div class="stores-maps stores-maps--detail container js-stores-maps-toggle-wrap">

  <%# Contain 'back to listing link' and 'store details' %>
  <div class="stores-maps__inner js-stores-maps-toggle-listing-detail" id="stores-maps-toggle-listing-detail">

    <%# Back to listing link %>
    <div class="stores-maps__filters-toggle">
      <div class="container">
        <a href="<%= centre_stores_path(@centre) %>" class="stores-maps__filters-toggle__hdr txt-truncate"><span><span class="icon icon--arrow-left-big" aria-hidden="true"></span> Stores A-Z</span> / Justice Health - Centre for Health Research and Criminal Justice</a>
      </div>
    </div>
    <%# //Back to listing link %>

    <%# Store details %>
    <div class="stores-maps__list-detail is-featured-items">

      <article class="storefront" role="article">

        <%# Header (flexslider) %>
        <header>
          <h1 class="hide-visually"><%= @store.name %> storefront</h1>
          <div class="flexslider flexslider--contain-controls" style="background-image: url(/assets/dummy/store-banner.jpg);">
            <ul class="slides">
              <li>
                <img src="/assets/dummy/store-banner.jpg" alt="<%= @store.name %> banner">
                <%#
                    FIXME: [BACKEND] the storefront banner is optional so if no banner is provided then:
                    - Render the below HTML.
                    - Remove the above image.
                    - Remove the `h1` element above: `<h1 class="hide-visually">`.
                    - Remove the inline `style` attr on the Flexslider `div` container above.
                    - Append class `.is-no-store-banner` to the Flexslider `div` container above: `<div class="flexslider flexslider--contain-controls">`.
                    - If store name exceeds or equals 58 chars then append class `.is-long-store-name` to the `h1` element.
                    All via server side not JS
                %>
                <!-- <div class="storefront__flexslider-storename vert-align">
                  <div class="vert-align__inner">
                    <h1><%= @store.name %></h1>
                  </div>
                </div> -->
              </li>
              <%# FIXME: [BACKEND] this blurb absolutely cannot exceed 300 characters in back office console or wherever it's coming from AND because this is optional do not render the `li` if no blurb is provided (via server side not JS) %>
              <li class="storefront__flexslider-blurb">
                <div class="vert-align">
                  <div class="vert-align__inner">
                    <p><%= @store.description %></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <%# //Header (flexslider) %>

        <%# Store details %>
        <div class="storefront__details">

          <%# Inner container %>
          <div class="container">

            <%# Store meta %>
            <dl class="storefront__details__meta">
              <dt class="hide-visually">Opening hours</dt>
              <%# FIXME: [BACKEND] make dynamic inc. the `datetime` attr %>
              <dd class="storefront__details__meta__no-indent">Open till <time datetime="">6pm</time> tonight</dd>
              <dt class="hide-visually hide-fully--palm">Store phone number</dt>
              <%# FIXME: [BACKEND] make dynamic %>
              <dd class="hide-fully--palm">02 9869 5263<span class="icon icon--phone2 icon--xlrg" aria-hidden="true"></span></dd>
              <dt class="hide-visually">Store email</dt>
              <%# FIXME: [BACKEND] make dynamic inc. the `mailto:` attr %>
              <dd class="txt-truncate"><a href="mailto:">westfield@areallymassivelongemailaddress.com.au</a><span class="icon icon--email icon--xlrg" aria-hidden="true"></span></dd>
              <dt class="hide-visually">Westfield gift card</dt>
              <%# FIXME: [BACKEND] if store doesn't except gift cards then say "Not accepted" %>
              <dd>Accepted<span class="icon icon-gift-card icon--xlrg" aria-hidden="true"></span></dd>
            </dl>
            <%# //Store meta %>

            <%# Icon links - store phone no and location %>
            <div class="storefront__details__phone-map storefront-storelist-phone-map-links">

              <%# Phone no %>
              <%# FIXME: [BACKEND] make dynamic inc. the `tel:` attr which needs all white space stripped out ala: `tel: (store.phone_number || "").gsub(/\s+/,'') ` %>
              <a href="tel:" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm">
                <span class="hide-visually">Call store: 02 9236 6589</span>
                <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign"></span>
              </a>
              <%# //Phone no %>

              <%# Location %>
              <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location js-stores-maps-toggle-btn">
                <span class="storefront-storelist-phone-map-links__cell__valign">
                  <span class="icon icon--pin icon--flush-top"></span>
                  <span class="hide-visually">Store location</span>
                </span>
              </a>
              <%# //Location %>

            </div>
            <%# //Icon links - store phone no and location %>

          </div>
          <%# //Inner container %>

          <%# Store external link %>
          <%# FIXME: [BACKEND] not all stores will have a website so do not render any of this HTML and append class `.is-no-external-link` to the main container above: `<div class="storefront__details">` when this is the case (server side) %>
          <div class="storefront__details__storelink">
            <div class="container">
              <%# FIXME: [BACKEND] make URL dynamic, see 'Store link' in products show %>
              <a href="#" class="btn btn--pointer btn--full btn--full-left btn--main btn--main-alt2 btn--main-lrg btn--main-flanked" rel="external nofollow">
                <span class="txt-truncate">Buy from <%= @store.name %></span>
                <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
                <span class="icon icon--link icon--xlrg icon--flush-top btn--pointer__icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <%# //Store external link %>

        </div>
        <%# //Store details %>

        <%# 'Product' and 'Deal' tiles %>
        <%# FIXME: [BACKEND] the following HTML won't be available for every store so do not render any of the HTML when this is the case or only render the applicable HTML e.g. either render 'Product' or 'Deal' tiles AND when they're tiles (any) append class `.is-featured-items` to `<div class="stores-maps__list-detail">` (server side) %>
        <footer class="storefront__featured">

            <%# 'Product' tiles %>
            <div class="storefront__featured__item storefront__featured__item--products island island--top-btm">
              <div class="container">
                <h2 class="storefront__featured__hdr">Featured from <%= @store.name %></h2>
                <div class="tiles-non-pinboard">
                  <%# FIXME: [BACKEND] hacked this together so needs to be done properly and we only show 3 tiles or less %>
                  <% 3.times do |n| %>
                    <div class="tiles-non-pinboard__tile">
                      <%= render partial: '/shared/tiles/product',
                          layout: '/layouts/tile',
                          locals: {result: Hashie::Mash.new(
                            title: '',
                            sku: '',
                            retailer_code: '',
                            primary_image: 'http://cs1.wol.io/img_resized/sheike-shimmer-ring/5736ff15e337203d4d7b9b960fb4e8eec30a06e7_182x182.jpg',
                            kind: 'product',
                            meta: Hashie::Mash.new(
                              title: '',
                              image: ''
                            )
                          )
                      } %>
                    </div>
                  <% end %>
                </div>
                <%# FIXME: [BACKEND] make URL dynamic %>
                <a href="#" class="storefront__featured__view-more">View more<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a>
              </div>
            </div>
            <%# //Product tiles %>

            <%# Deal tiles %>
            <div class="storefront__featured__item storefront__featured__item--deals island island--top-btm">
              <div class="container">
                <h2 class="storefront__featured__hdr">Deals from <%= @store.name %></h2>
                <div class="tiles-non-pinboard">
                  <%# FIXME: [BACKEND] hacked this together so needs to be done properly and we only show 3 tiles or less %>
                  <% 3.times do |n| %>
                    <div class="tiles-non-pinboard__tile">
                      <%= render partial: '/shared/tiles/deal',
                          layout: '/layouts/tile',
                          locals: {result: Hashie::Mash.new(
                            title: 'deal super #{n}',
                            retailer_logo_url: 'http://image-service.systest.dbg.westfield.com/transform?ref=fcc997784861edcc4a1bd8abd93cb5930c75dacca267636afa4a5ff47d4c3693.gif',
                            store_name: '',
                            kind: 'deal',
                            meta: Hashie::Mash.new(
                              title: '',
                              image: ''
                            )
                          )
                      } %>
                    </div>
                  <% end %>
                </div>
                <%# FIXME: [BACKEND] make URL dynamic %>
                <a href="#" class="storefront__featured__view-more">View more<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a>
              </div>
            </div>
            <%# //Deal tiles %>

        </footer>
        <%# Product and Deal tiles %>

      </article>

    </div>
    <%#//Store details %>

  </div>
  <%# //Contain 'back to listing link' and 'store details' %>

  <%# Map %>
  <%# FIXME: [BACKEND] map not rendering %>
  <div class="stores-maps__map map-micello js-stores-maps-toggle-map" id="stores-maps-toggle-map">
    <%= render partial: 'shared/map', locals: {store_id: nil, interactive: true, load_immediately: false} %>
  </div>
  <%# //Map %>

</div>

<%- content_for :javascript do -%>

  <%= javascript_include_tag 'flexslider/jquery.flexslider' %>
  <script>

    // Run 'Flexslider' plugin
    $(window).load(function() {

      // Get the count of flexslider items
      var flexsliderItemsCount = $('.flexslider .slides li').length;

      // Only initialise flexslider if more than 1 item
      if (flexsliderItemsCount > 1) {

        $('.flexslider').flexslider({
          animationSpeed: 50,
          controlNav: true,
          directionNav: false,
          slideshow: false,
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            slider.controlNav.attr({'href' : '#', 'role' : 'button'});
          },
          // Do stuff after each slider animation completes
          after: function(slider) {
            slider.slides.attr('aria-selected', 'false');
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
          }
        });

      }

    });

    // Conditionally load Micello maps for palm view and toggle the detail/map views
    /*
      FIXME: [BACKEND] this is now being shared across 'index' and 'show' with the exception of `deferImages` and 'show' doesn't need this:
        $('.js-stores-maps-toggle-btn').toggleClass('is-expanded', listView === false);
        $('.js-stores-maps-toggle-btn__txt').html(listView ? 'map' : 'list');
        So pull this into an external JS file
    */
    (function initialiseResponsiveMap() {

      if(deferCall(window.enquire)) return;

      var map = new window.map.Micello(),
          viewingList = true;

      function resetView(listView) {
        viewingList = listView;

        if(!listView) map.load();

        $('.js-stores-maps-toggle-wrap').toggleClass('is-map-view', listView === false);  // storefront/maps container
      }

      function nonPalmView() {
        resetView(null);
        $('*', document).off('.map-palm')
        $('[data-store-id]').on('click.map-non-palm', function() {
          map.highlight($(this).data('store-id'));
        });
      }

      function palmView() {
        resetView(true);
        $('*', document).off('.map-non-palm')
        $('.js-stores-maps-toggle-btn').on('click.map-palm', function() {
          resetView(!viewingList);
        });
        $('[data-store-id]').on('click.map-palm', 'a[href="#infoDiv"]', function(event) {
          resetView(false);
          map.highlight($(event.delegateTarget).data('store-id'));
        });
      }

      $(function() {
        enquire.register("all and (min-width: 64em)", {
          match: nonPalmView,
          unmatch: palmView,
          setup: palmView
        }, true);
      });
    }());

  </script>
<%- end -%>