<div class="sg-section container container--narrow">
  <h3 class="sg-h2"><%= section.section %> <code><%= section.filename %></code></h3>

  <% unless section.description.blank? %>
    <div class="sg-section__desc"><p><%= section.description %></p></div>
  <% end %>

  <% if section.modifiers.any? %>
    <table cellspacing="0" class="sg-table table-bordered">
      <caption class="hide-visually"><%= section.section %> modifier classes</caption>
      <thead>
        <tr>
          <th class="two-fifths">Modifier Classes</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% section.modifiers.each do |modifier| %>
          <tr>
            <td>
              <code><%= modifier.name %></code>
            </td>
            <td>
              <%= modifier.description %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="sg-example sg-modifier">
    <span class="sg-modifier__name">Base style</span>
    <div class="sg-example-inner">
      <%= example_html.strip.gsub(' $modifier_class', '').html_safe %>
    </div>
    <div class="sg-code">
     <pre class="sg-code-block"><code class="language-markup"><%= example_html.strip.gsub(' $modifier_class', '') %></code></pre>
    </div>
  </div>

  <% section.modifiers.each do |modifier| %>
    <div class="sg-example sg-modifier">
      <span class="sg-modifier__name"><%= modifier.name %></span>
      <div class="sg-example-inner">
        <% if named_examples[modifier.name] %>
          <%= named_examples[modifier.name].gsub('$modifier_class', modifier.class_name).html_safe %>
        <% else %>
          <%= example_html.gsub('$modifier_class', modifier.class_name).html_safe %>
        <% end %>
      </div>

      <div class="sg-code">
        <% if named_examples.key? modifier.name %>
        <pre class="sg-code-block txt-break-word"><code class="language-markup"><%= named_examples[modifier.name].gsub('$modifier_class', modifier.class_name).gsub(" class=\"\"", "") %></code></pre>
        <% else %>
        <pre class="sg-code-block"><code class="language-markup"><%= example_html.gsub('$modifier_class', modifier.class_name).gsub(" class=\"\"", "") %></code></pre>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless script.blank? %>
  <div class="sg-code">
    <span class="sg-code-language">Javascript</span>
    <pre class="sg-code-block"><code class="language-javascript"><%= script %></code></pre>
  </div>
  <% end %>
</div>