<div class="sg-section">
  <div class="sg-h1">Buttons</div>
  <div class="box island">All of the different button styles</div>
</div>

<%= render 'styleguide/buttons/base' %>

<%= render 'styleguide/buttons/main' %>

<%= render 'styleguide/buttons/faux_link' %>

<%= render 'styleguide/buttons/expand_collapse' %>

<%= render 'styleguide/buttons/menu' %>

<%= render 'styleguide/buttons/site_feedback' %>