<%# Divider %>
<div class="divider divider--lrg">

  <%# Tabs %>
  <div class="tabs">

    <%# Nav contextual %>
    <div class="nav-contextual js-nav-contextual js-viewport-check js-disabled-hide">
      <div class="nav-contextual__clip">
        <div class="nav-contextual__clip__inner">
          <ul class="tab__nav nav-contextual__list js-nav-contextual-list horiz-list">
            <% @weeks.each_with_index do |week, week_number| %><li>
              <a class="<%= 'is-active' if week_number == 0 %>" href="#tab-<%= week_number %>"><%= ["This week", "Next week"][week_number] || "#{week.first.date '%-d %b'} - #{week.last.date '%-d %b'}" %></a>
            </li><% end %>
            <%# [BACKEND]
                - For the first item of the dates with special opening hours (Christmas, ANAZC etc), need to add class `nav-contextual__divider` to the `a`
                - Need to add a `href` that matches the `id` of the `tab__content` that contains the content for the the special opening hours. E.g. `#tab-[the date of special opening hours]`.
            %>
            <%#<li>%>
              <%# [BACKEND] `href` needs to match the `id` of the `tab__content` it's referencing %>
              <%#= link_to '2-9 December', '#', class: 'nav-contextual__divider' %>
            <%#</li>%>
          </ul>
        </div>
        <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
      </div>
    </div>
    <%# //Nav contextual %>

    <%# Hours %>
    <% @weeks.each_with_index do |week, week_number| %>
      <%# Tab content %>
      <div id="tab-<%= week_number %>" class="tab__content <%= 'is-active' if week_number == 0 %>">

        <h2 class="tab__content__hdr"><%= ["This week", "Next week"][week_number] || "#{week.first.date '%-d %b'} - #{week.last.date '%-d %b'}"%></h2>

        <%# Grid %>
        <div class="grid grid--gutter-dbl grid--mrg-base-lap-sml">

          <%# Centre hours %>
          <div class="grid__item non-palm-one-half lap-sml-one-whole">

            <%# Centre hours box %>
            <div class="islet island-non-palm box">

              <%# Centre hours table %>
              <table cellspacing="0" class="table-striped table-fixed">
                <caption><%= week.find { |hour| hour.christmas? } ? "Christmas Centre Hours" : "Westfield Centre Hours" %></caption>

                <colgroup>
                  <col class="one-sixth lap-lrg-one-fifth desk-one-fifth"></col>
                  <col></col>
                  <col class="three-sixths lap-lrg-two-fifths desk-two-fifths"></col>
                </colgroup>

                <thead>
                  <tr>
                    <th scope="col" class="table-cell-padding-off">
                      <span class="hide-visually">Day</span>
                    </th>
                    <th scope="col" class="table-cell-padding-off">
                      <span class="hide-visually">Public holiday</span>
                    </th>
                    <th scope="col" class="table-cell-padding-off">
                      <span class="hide-visually">Time</span>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <% week.each do |day| %>
                    <tr>
                      <td>
                        <% if today?(day.date) %>
                          <em class="txt-bold">
                        <% end %>
                          <%= format_day(day.date,0,3) %><span class="hide-fully--palm-inline"><%= format_day(day.date,3,6) %></span>
                        <% if today?(day.date) %>
                          </em>
                        <% end %>
                      </td>
                      <td>
                        <% if day.description.present? %>
                          <em class="pill <%= "txt-truncate" if day.description.length > 18 %> hide-fully--palm-inline-block" <%= "title=\"#{day.description}\"".html_safe if day.description.length > 18 %>><%= day.description %></em>
                        <% else %>
                          &nbsp;
                        <% end %>
                      </td>
                      <td class="txt-right">
                        <% if today?(day.date) %>
                          <em class="txt-bold">
                        <% end %>
                        <% if day.closed %>
                          Closed
                        <% else %>
                          <time datetime="<%= day.date %>T<%= day.opening_time %>"><%= twelve_hour_format(day.opening_time) %></time> &#8211; <time datetime="<%= day.date %>T<%= day.closing_time %>"><%= twelve_hour_format(day.closing_time) %></time>
                          <% end %>
                        <% if today?(day.date) %>
                          </em>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%# //Centre hours table %>

            </div>
            <%# // Centre hours box %>

          </div>
          <%# // Centre hours %>

          <%# Store hours %>
          <% if @stores_with_hours.present? %>
            <div id="shopping-hours" class="grid__item non-palm-one-half lap-sml-one-whole">
              <%# Store hours box %>
              <div class="islet island-non-palm box box--position">

                <%# Store filter %>
                <form action="<%= current_url %>#shopping-hours", method="get", class="js-store-trading-hours mrg-base", id="store-<%= week_number %>">
                  <div class="flag">
                    <div class="flag__img two-fifths lap-sml-two-sixths">
                      <label for="store-id-<%= week_number %>" class="txt-bold">Store Hours</label>
                    </div>
                    <div class="flag__body three-fifths lap-sml-four-sixths">
                      <%= select_tag :store_id, options_from_collection_for_select(@stores_with_hours, :id, :name, params[:store_id]), class: 'one-whole', id: "store-id-#{week_number}" %>
                      <%= submit_tag 'Search', class: 'js-enabled-hide' %>
                    </div>
                  </div>
                </form>
                <%# //Store filter %>

                <%# Store hours table %>
                <table cellspacing="0" class="table-striped table-fixed">
                  <caption class="flush-btm"><span class="hide-visually"><%= @store.name %> shopping hours</span></caption>

                  <colgroup>
                    <col></col>
                    <col class="three-sixths lap-lrg-two-fifths desk-two-fifths"></col>
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col" class="table-cell-padding-off"><span class="hide-visually">Day</span></th>
                      <th scope="col" class="table-cell-padding-off"><span class="hide-visually">Time</span></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @store_trading_hours[week_number].each do |day| %>
                      <tr>
                        <td>
                          <% if today?(day.date) %><em class="txt-bold"><% end %><%= format_day(day.date,0,3) %><span class="hide-fully--palm-inline"><%= format_day(day.date,3,6) %></span><% if today?(day.date) %></em><% end %>
                        </td>
                        <td class="txt-right">
                          <% if today?(day.date) %><em class="txt-bold"><% end %>
                          <% if day.closed %>
                            Closed
                          <% else %>
                            <time datetime="<%= day.date %>T<%= day.opening_time %>"><%= twelve_hour_format(day.opening_time) %></time> &#8211; <time datetime="<%= day.date %>T<%= day.closing_time %>"><%= twelve_hour_format(day.closing_time) %></time>
                            <% end %>
                          <% if today?(day.date) %></em><% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%# //Store hours table %>
              </div>
              <%# //Store hours box %>
            </div>
          <% end %>
          <%# // Store hours %>
        </div>
        <%# //Grid %>

      </div>
      <%# //Tab content %>

    <% end %>
    <%# //Hours %>

  </div>
  <%# //Tabs %>

</div>
<%# //Divider %>

<%# Footer promo tiles %>
<%= render "shared/footer_promo_tiles",
  promo_tile_1: {
    image_src: "promo-tiles/promo-tile-03.jpg",
    icon: "icon--info",
    heading: "Centre Info",
    desc: "Get information on parking, getting there and more.",
    link_text: "View Centre Info",
    link_url: centre_info_path(@centre)
  },
  promo_tile_2: {
    image_src: "promo-tiles/promo-tile-02.jpg",
    icon: "icon--service",
    heading: "Centre Services",
    desc: "Centre Concierge, Giftcards and a list of services available.",
    link_text: "View Centre Services",
    link_url: centre_services_path(@centre)
  }
%>
<%# //Footer promo tiles %>

<%- content_for :custom_javascript do -%>
  <script>
    $(function() {
      // Submit store trading hours request on change
      $(".js-store-trading-hours").each(function(index,value) {
        $("#store-id-"+index).change(function () {
          $("#store-"+index).submit();
        })
      })
    });
  </script>
<%- end -%>
