<footer class="grid grid--gutter-dbl">
  <% [col_left, col_right].each do |promo| %>
    <div class="grid__item non-palm-one-half">
      <%# Promo tile %>
      <div class="promo-tile box">
        <%= image_tag promo[:image_src], alt: '' %>
        <span class="promo-tile__icon icon <%= promo[:icon] %> icon--flush-top" aria-hidden="true"></span>
        <div class="islet island--non-palm">
          <h2 class="promo-tile__hdr"><%= promo[:heading] %></h2>
          <p><%= promo[:desc] %></p>
          <%= link_to promo[:link_text], promo[:link_url] %>
        </div>
      </div>
      <%# //Promo tile %>
    </div>
  <% end %>
</footer>