<!--[if lte IE 8]>
  <div id="map" class="map map--ie-support <%= 'map--non-interactive' unless interactive %>">
    <div class="zoom">
      <div class="zoom__in">+</div>
      <div class="zoom__out">-</div>
    </div>
    <div class="level-select">
      <% (1...@centre.number_of_levels).to_a.reverse.each do |level| %>
        <div class="level-select__level" data-level="<%= level %>"><%= level %></div>
      <% end %>
    </div>
    <div class="container">
      <% (1...@centre.number_of_levels).each do |level| %>
        <img class="hidden" data-level="<%= level %>" src="<%= image_path("centre/#{@centre.micello_community}_#{level}.png") %>"/>
      <% end %>
    </div>
    <%= javascript_include_tag 'map/ie_support' %>
    <%= javascript_tag do %>
      new map.ie_support.Map({select: <%= store_id || 'null' %>})
    <% end %>
  </div>
<![endif]-->
<!--[if gt IE 8]><!-->
	<p class="feedback feedback--warning js-enabled-hide">You need JavaScript enabled to view this map. <a href="http://enable-javascript.com/" rel="external">Visit here</a> for instructions on how to enable JavaScript.</p>
  <div id="map" class="map-micello__api js-disabled-hide"><span class="preloader preloader--light"><span class="preloader__spinner"></span><em class="hide-visually">Loading, please wait&#8230;</em></span></div>
  <div class="map-micello__overlay-wrap">
    <% if interactive %>
      <%= render partial: 'shared/map_popups/interactive' %>
    <% else %>
      <%= render partial: 'shared/map_popups/non_interactive' %>
    <% end %>
  </div>
	<%= javascript_include_tag 'http://maps.micello.com/webmap/v0/micellomap.js' %>
	<%= javascript_include_tag 'map/micello' %>
	<%= javascript_tag do %>
	  new map.micello.Map({select: <%= store_id || 'null' %>})
	<% end %>
<!--<![endif]-->
