<!--[if lte IE 8]>
	<div id="map">Upgrade your browser, limited support for older browsers coming soon.</div>
<![endif]-->
<!--[if gt IE 8]><!-->
	<p class="feedback feedback--warning js-enabled-hide">You need JavaScript enabled to view this map. <a href="http://enable-javascript.com/" rel="external">Visit here</a> for instructions on how to enable JavaScript.</p>
  <div id="map" class="map-micello__api js-disabled-hide"><span class="preloader preloader--light"><span class="preloader__spinner"></span><em class="hide-visually">Loading, please wait&#8230;</em></span></div>
  <div class="map-micello__overlay-wrap">
    <% if interactive %>
      <%= render partial: 'shared/map_popups/interactive' %>
    <% else %>
      <%= render partial: 'shared/map_popups/non_interactive' %>
    <% end %>
  </div>
	<%= javascript_include_tag 'http://maps.micello.com/webmap/v0/micellomap.js' %>
	<%= javascript_include_tag 'map' %>
	<%= javascript_tag do %>
	  new Map({select: <%= store_id || 'null' %>})
	<% end %>
<!--<![endif]-->
