<div itemscope itemtype="http://data-vocabulary.org/Event">

  <div class="island detail-view__divider">
    <header class="detail-view__mrg-base">
      <h1 class="detail-view__hdr hn" id="detail-view__hdr"><%= @event.name %></h1>
      <ul class="detail-view__meta islet islet--top-btm detail-view__divider detail-view__divider--top-btm horiz-list horiz-list--fit">
        <li class="detail-view__subtle-txt"><%= @event.date '%-d %b %Y' %></li><!--
      --><li><span class="icon icon--pin icon--lrg icon--spacing" aria-hidden="true"></span><span itemprop="location"><%= @event.location %></span></li>
      </ul>
    </header>

    <div class="detail-view__media detail-view__mrg-base">
      <%= fetch_image_tag @event.image,
        alt: "Photo of event: #{@event.name}",
        width: 638,
        crop: :limit
      %>
    </div>

    <h2 class="detail-view__hdr-sub hn">Event Details</h2>
    <div class="detail-view__desc txt-formatted txt-formatted--user-generated">
      <p itemprop="summary"><%= @event.description %></p>
      <div itemprop="description">
        <% @event.body.each do |paragraph| %>
          <p><%= paragraph %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="detail-view__schedule island">
    <h2 class="detail-view__hdr-sub hn">Event Schedule</h2>
    <dl class="timeline">
      <dt>
        <%= @event.date '%A' %>
        <em class="timeline__date">
          <span><%= @event.date '%-d' %></span>
          <%= @event.date '%b' %>
        </em>
      </dt>
      <dd>
        <time itemprop="startDate" datetime="<%= @event.start %>"><%= @event.start '%l:%M%P' %></time> -
        <time itemprop="endDate" datetime="<%= @event.finish %>"><%= @event.finish '%l:%M%P' %></time>
      </dd>
    </dl>
  </div>

</div>