<div itemscope itemtype="http://data-vocabulary.org/Event">

  <div class="island detail-view__divider">
    <header class="detail-view__mrg-base">
      <h1 class="detail-view__hdr hn" itemprop="summary"><%= @event.name %></h1>
      <ul class="detail-view__meta detail-view__divider detail-view__divider--top-btm islet-ends horiz-list horiz-list--fit">
        <li class="detail-view__subtle-txt"><%= display_event_date(@event) %></li>
        <%- if @event.location.present? -%>
          <li><span class="icon icon--pin icon--lrg icon--spacing" aria-hidden="true"></span><span itemprop="location"><%= @event.location %></span></li>
        <% end %>
      </ul>
    </header>

    <div class="detail-view__media detail-view__mrg-base" itemprop="photo">
      <%= fetch_image_tag @event.image,
        alt: "",
        width: 638,
        crop: :limit,
        format: :auto
      %>
    </div>

    <%- if @event.description.present? -%>
      <h2 class="detail-view__hdr-sub hn">Event Details</h2>
      <div class="detail-view__desc" itemprop="description">
        <% to_paragraphs(@event.description).each do |text| %>
          <p><%= text %></p>
        <%- end %>
      </div>
    <% end %>

  </div>

  <div class="detail-view__schedule island">
    <h2 class="detail-view__hdr-sub hn">Event Schedule</h2>

    <%# Event schedule %>
    <dl class="timeline">
      <% @event.event_times_grouped_by_date.each do |date, occurrences| %>
        <dt>
          <%= date.strftime("%A") %>
          <em class="timeline__date">
            <span><%= date.strftime("%e") %></span> <abbr title="<%= date.strftime("%B") %>"><%= date.strftime("%b") %></abbr>
          </em>
        </dt>
        <% occurrences.each do |occurrence| %>
          <dd>
            <time datetime="<%= occurrence.start(:raw) %>" itemprop="startDate"><%= occurrence.start(:hour_minute_period) %></time> &#8211; <time datetime="<%= occurrence.finish(:raw) %>" itemprop="endDate"><%= occurrence.finish(:hour_minute_period) %></time>
          </dd>
        <% end %>
      <% end %>
    </dl>
    <%# //Event schedule %>

  </div>
  <%# //Event details %>

</div>
