<div itemscope itemtype="http://schema.org/Event">

  <%# Event name, date, location and details %>
  <div class="island detail-view__divider">

    <%# Event name, date and location %>
    <header class="detail-view__mrg-base">
      <h1 class="detail-view__hdr hn" itemprop="name"><%= @event.name %></h1>
      <ul class="detail-view__meta detail-view__divider detail-view__divider--top-btm islet-ends horiz-list horiz-list--fit">
        <li class="detail-view__subtle-txt"><%= display_event_date(@event) %></li>
        <%- if @event.location.present? -%>
          <li itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span class="icon icon--pin icon--lrg" aria-hidden="true"></span>
            <span itemprop="name"><%= @event.location %></span>
            <span class="hide-fully" aria-hidden="true" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress"><%= @centre.street_address %></span>,
              <span itemprop="addressLocality"><%= @centre.suburb %></span>,
              <span itemprop="addressRegion"><%= @centre.state %></span>
            </span>
          </li>
        <% end %>
      </ul>
    </header>
    <%# //Event name, date and location %>

    <%# Event image %>
    <section class="detail-view__media detail-view__mrg-base" aria-labelledby="image">
      <h2 class="hide-visually" id="image">Event Image</h2>
      <%= fetch_image_tag @event.image,
        alt: "",
        width: 638,
        crop: :limit,
        format: :auto
      %>
    </section>
    <%# //Event image %>

    <%# Event details & external link %>
    <% if @event.description.present? or @event.external_url.present? %>
      <section aria-labelledby="details">
        <%# Event details %>
        <h2 class="detail-view__hdr-sub hn" id="details">Event Details</h2>
        <% if @event.description.present? %>
          <div class="detail-view__desc<%= ' detail-view__mrg-base' if @event.external_url_and_description_present? %>" itemprop="description">
            <% to_paragraphs( @event.description ).each do |text| %>
              <p><%= text %></p>
            <% end %>
          </div>
        <% end %>
        <%# //Event details %>
        <%# External link %>
        <% if @event.external_url_and_description_present? %>
          <span class="icon icon--external-link icon--spacing icon--flush-top" aria-hidden="true"></span>
          <%= link_to @event.external_url_description, @event.external_url, target: '_blank', rel: 'external' %>
        <% end %>
        <%# //External link %>
      </section>
    <% end %>
    <%# //Event details & external link %>

  </div>
  <%# //Event name, date, location and details %>

  <%# Event schedule %>
  <section class="detail-view__schedule island" aria-labelledby="schedule">
    <h2 class="detail-view__hdr-sub hn" id="schedule">Event Schedule</h2>
    <dl class="timeline">
      <% @event.event_times_grouped_by_date.each do |date, occurrences| %>
        <dt>
          <%= date.strftime("%A") %>
          <em class="timeline__date">
            <span><%= date.strftime("%e") %></span>
            <abbr title="<%= date.strftime("%B") %>"><%= date.strftime("%b") %></abbr>
          </em>
        </dt>
        <% occurrences.each do |occurrence| %>
          <dd>
            <time datetime="<%= occurrence.start(:raw) %>"><%= occurrence.start(:hour_minute_period) %></time> &#8211; <time datetime="<%= occurrence.finish(:raw) %>"><%= occurrence.finish(:hour_minute_period) %></time>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </section>
  <%# //Event schedule %>

</div>
