<div class="detail-view__divider detail-view__divider--col grid grid--gutterless grid--flush">

  <%# The Deal %>
  <div class="grid__item non-palm-one-half">
    <div class="island detail-view__divider--palm">
      <header class="deal-main box box--torn">
        <h1 class="deal-main__hdr h1"><%= @deal.title %></h1>
        <p class="deal-main__meta">
          from <%= @store.name %>
          <span>
            Deal from
            <time datetime="<%= @deal.available_from.strftime("%Y-%m-%d") %>"><%= @deal.available_from.strftime("%A %e %B") %></time>
            to
            <time datetime="<%= @deal.available_to.strftime("%Y-%m-%d") %>"><%= @deal.available_to.strftime("%A %e %B") %></time>
          </span>
        </p>
      </header>
    </div>
  </div>
  <%# //The Deal %>

  <%# Store location and contact store %>
  <section class="grid__item non-palm-one-half" aria-labelledby="location-contact">
    <h2 class="hide-visually" id="location-contact">Store location and contact details</h2>

    <%# Store location %>
    <div class="map-micello map-micello--static detail-view__divider">
      <%= render partial: 'shared/micello_maps/map', locals: {store_id: @store.id, interactive: false, load_immediately: true} %>
    </div>
    <%# //Store location %>

    <%# Contact store %>
    <div class="island-sides islet-ends island--fill island--center">

      <%# Palm version %>
      <span class="hide-fully--non-palm">
        <%= phone_link @store.phone_number, class: 'btn btn--full btn--main btn--main-dark btn--main-lrg' do |phone_number| %>
          <span class="txt-truncate">
            <span class="icon icon--phone icon--xlrg icon--spacing-lrg icon--flush-top" aria-hidden="true"></span>
            Call <%= @store.name %>
          </span>
        <% end %>
      </span>
      <%# //Palm version %>

      <%# Non-palm version %>
      <p class="detail-view__check-avble hide-fully--palm">
        <span class="detail-view__subtle-txt">Check store availability</span>
        <em>
          <span class="icon icon--phone icon--lrg icon--spacing" aria-hidden="true"></span>
          <%= @store.phone_number %>
        </em>
      </p>
      <%# //Non-palm version %>

    </div>
    <%# //Contact store %>

  </section>
  <%# //Store location and contact store %>

  <%# Divider %>
  <span class="detail-view__divider--col-line hide-fully--palm"></span>
  <%# //Divider %>

</div>

<%# Availability %>
<% if @deal.stores and @deal.stores.size > 1 %>
  <section class="island" aria-labelledby="availability">
    <h2 class="detail-view__hdr-sub detail-view__mrg-off hn" id="availability"><%= @store.name %> also available at</h2>
    <ul class="detail-view__mrg-base">
      <% @deal.stores[0..2].each do |store| %>
        <% unless store.id == @store.id %>
          <li>
            <a href="<%= centre_deal_path(store.centre.code, @deal.retailer_code, @deal.id)%>" class="list-divider">
              <span class="icon icon--pin icon--lrg icon--spacing-lrg icon--base-color" aria-hidden="true"></span><%= store.centre.name %>
              <span class="icon icon--arrow-right icon--lrg icon--base-color" aria-hidden="true"></span>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
<%# //Availability %>

<%# Fine print %>
<% if @deal.terms_and_conditions and !@deal.terms_and_conditions.empty? %>
  <section class="island toggle-visibility<% if @deal.stores and @deal.stores.size > 1 %> detail-view__divider detail-view__divider--top<% end %>" aria-labelledby="fine-print" id="fine-print-toggle">
    <h2 class="detail-view__hdr-sub hn" id="fine-print">The fine print</h2>
    <div class="detail-view__desc detail-view__desc--fine-print detail-view__subtle-txt">
      <% @deal.terms_and_conditions.each do |paragraph| %>
        <% unless paragraph.empty? %><p><%= paragraph %></p><% end %>
      <% end %>
    </div>
  </section>
  <button type="button" class="btn btn--full btn--expand-collapse js-disabled-hide" toggle-visibility="fine-print-toggle" toggle-visibility-drop-down="false">
    <span class="show-when-visible show-when-visible--block">
      Collapse the fine print
      <span aria-hidden="true" class="icon icon--arrow-up-full icon--lrg"></span>
    </span>
    <span class="hide-when-visible">
      Read the fine print
      <span aria-hidden="true" class="icon icon--arrow-down-full icon--lrg"></span>
    </span>
  </button>
<% end %>
<%# //Fine print %>