<div class="detail-view__divider detail-view__divider--col grid grid--gutterless grid--flush">

  <%# The Deal %>
  <div class="grid__item non-palm-one-half">
    <div class="island detail-view__divider--palm">
      <header class="deal-main box box--torn">
        <h1 class="deal-main__hdr h1"><%= @deal.title %></h1>
        <p class="deal-main__meta">from <%= @store.name %> <span>Deal from  <time datetime="<%= @deal.available_from.strftime("%Y-%m-%d") %>"><%= @deal.available_from.strftime("%A %e %B") %></time> to <time datetime="<%= @deal.available_to.strftime("%Y-%m-%d") %>"><%= @deal.available_to.strftime("%A %e %B") %></time></span></p>
      </header>
    </div>
  </div>
  <%# //The Deal %>

  <%# Store location & contact store %>
  <div class="grid__item non-palm-one-half">

    <%# Store location %>
    <div class="map-micello map-micello--static detail-view__divider">
      <%= render partial: 'shared/micello_maps/map', locals: {store_id: @store.id, interactive: false, load_immediately: true} %>
    </div>
    <%# //Store location %>

    <%# Contact store %>
    <div class="island-sides islet-ends island--fill island--center">
      <span class="hide-fully--non-palm">
        <%= phone_link @store.phone_number, class: 'btn btn--full btn--main btn--main-alt2 btn--main-lrg' do |phone_number| %>
          <span class="icon icon--phone icon--xlrg icon--spacing-lrg icon--flush-top" aria-hidden="true"></span><strong>Call <%= @store.name %></strong>
        <% end %>
      </span>
      <p class="detail-view__check-avble hide-fully--palm"><span class="detail-view__subtle-txt">Check store availability</span> <em><span class="icon icon--phone icon--lrg icon--spacing" aria-hidden="true"></span> <%= @store.phone_number %></em></p>
    </div>
    <%# //Contact store %>

  </div>
  <%# //Store location & contact store %>

  <span class="detail-view__divider--col-line hide-fully--palm"></span>

</div>

<%# Availability %>
<% if false #@deal.stores and @deal.stores.size > 1 %>
  <div class="island">
    <h3 class="detail-view__hdr-sub detail-view__mrg-off hn"><%= @store.name %> also available at</h3>
    <ul class="detail-view__mrg-base">
      <% @deal.stores[0..2].each do |store| %>
        <% unless store.id == @store.id %>
          <li><a href="<%= centre_deal_path(store.centre.code, @deal.retailer_code, @deal.id)%>" class="list-divider"><span class="icon icon--pin icon--lrg icon--spacing-lrg icon--base-color" aria-hidden="true"></span><%= store.centre.name %><span class="icon icon--arrow-right icon--lrg icon--base-color" aria-hidden="true"></span></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
<%# //Availability %>

<%# Fine print %>
<% if @deal.terms_and_conditions and !@deal.terms_and_conditions.empty? %>
  <div class="island toggle-content js-toggle-content js-hide-show<% if @deal.stores and @deal.stores.size > 1 %> detail-view__divider detail-view__divider--top<% end %>">
    <h2 class="detail-view__hdr-sub hn">The fine print</h2>
    <div class="detail-view__desc detail-view__desc--fine-print detail-view__subtle-txt">
      <% @deal.terms_and_conditions.each do |paragraph| %>
        <% unless paragraph.empty? %><p><%= paragraph %></p><% end %>
      <% end %>
    </div>
  </div>
<% end %>
<%# //Fine print %>

<%- content_for :javascript do -%>
  <%# Run 'Toggle content' plugin %>
  <%= javascript_include_tag 'jquery-extensions/jquery.toggle-content' %>

  <script>
    $(function() {

      // Run 'Toggle content' plugin
      $('.js-toggle-content').toggleContent({
        btnTxtOpen: 'Read the fine print <span aria-hidden="true" class="icon icon--arrow-down-full icon--lrg"></span>',
        btnTxtClose: 'Collapse the fine print <span aria-hidden="true" class="icon icon--arrow-up-full icon--lrg"></span>'
      });
    });
  </script>
<%- end -%>
