<div class='facet'>
  <div class='facet-name'><%= defined?(title) ? title : facet.title %></div>
  <ul class='facet-values' data-facet-field='<%= facet.url_key_name %>'>
    <%- selected = Array.wrap(params[facet.url_key_name]) %>
    <%- facet[:values].each do |value| -%>
      <li class='facet-value<%= value.selected ? ' facet-value--selected' : '' %>' data-facet-value='<%= value.code %>'>
        <%- url_params = if value.selected -%>
          <%- params.merge facet.url_key_name => (selected - [value.code]) -%>
        <%- else -%>
          <%- params.merge facet.url_key_name => (selected + [value.code]).sort -%>
        <%- end.delete_if {|k,v| v.blank? }.merge(last: facet.url_key_name) -%>
        <%= link_to value.name, centre_products_path(url_params) %>
      </li>
    <%- end -%>
  </ul>
</div>
