<% content_for :class_for_body, "national" %>

<%# Background images of the centre tiles at each breakpoint %>
<% content_for :custom_styles do %>
  <style>
  <%# [BACKEND] We need to dynamically generate the class names for each centre and its relevant background image. At the moment this is duplicated from  `_hero_custom_styles.html.erb`. Can we refactor it so we just use same custom styles? %>

  <%# Hero image at small breakpoint %>
  <%# @media (max-width: 25em) {
    .national__centre-tile--bondijunction {background-image: url('http://res.cloudinary.com/wlabs/image/fetch/w_400,h_107,c_fill,e_blur:300/http://beta.westfield.com.au/assets/heroes/bondijunction-lrg-4ec924a641f26e4ae8822ec42d6bb7a3.jpg');}
    } %>

    <%# Hero image at medium breakpoint %>
    <%# @media (min-width: 25.0625em) and (max-width: 48em) {
      .national__centre-tile--bondijunction {background-image: url('http://res.cloudinary.com/wlabs/image/fetch/w_768,h_205,c_fill,e_blur:300/http://beta.westfield.com.au/assets/heroes/bondijunction-lrg-4ec924a641f26e4ae8822ec42d6bb7a3.jpg');}
    } %>

    <%# Hero image at large breakpoint %>
    <%# @media (min-width: 48.0625em) {    
      .national__centre-tile--bondijunction {background-image: url('http://res.cloudinary.com/wlabs/image/fetch/w_1600,h_300,c_fill,e_blur:300/http://beta.westfield.com.au/assets/heroes/bondijunction-lrg-4ec924a641f26e4ae8822ec42d6bb7a3.jpg');}
    } %>

    <%# Old IE %>
    <%# .old-ie .national__centre-tile--bondijunction {
      background-image: url('http://res.cloudinary.com/wlabs/image/fetch/w_1600,h_300,c_fill,e_blur:300/http://beta.westfield.com.au/assets/heroes/bondijunction-lrg-4ec924a641f26e4ae8822ec42d6bb7a3.jpg');
    }%>
  </style>
<% end %>
<%# //Background images of centre tiles %>


<%# National landing page wrapper %>
<div class="national__inner">

  <%# Header %>
  <header class="national__header img-rotate img-rotate--items-2"> 
    <%# Rotating images %>
    <div class="national__hero__1 img-rotate__item img-rotate__item__1 is-loaded"></div>
    <div class="national__hero__2 img-rotate__item img-rotate__item__2 is-loaded"></div>
    <%# //Rotating images %>

    <%# Container %>
    <div class="container container--position">
      <%# Logo %>
      <img src="<%= image_path "logo-white.svg" %>" alt="Westfield" data-svg-fallback="<%= image_path "logo-white.png" %>" class="national__logo">
      <%# //Logo %>

      <%# Hero heading wrap %>
      <div class="national__heading-wrap">
        <h1>
          <%# [BACKEND] Number of stores and products need to be dynamic. The number will also need to be rounded so it's presentable. We always round down to the hundred e.g. if it's 3995 stores, we'll present "3,900". %>
          <span>Over [#,###] stores. Over [##,###] products</span>
          You want. We find.
        </h1>

        <%# TODO: Add link to YouTube video when it's ready %>
        <!-- <a class="national__video" href="#" rel="external" target="_blank">
          <img src="<%= image_path "video-thumbnail.jpg" %>" alt="Westfield Campaign video">
          <span class="icon icon--play" aria-hidden="true"></span>
        </a> -->
        <div class="national__video">
          <img src="<%= image_path "video-thumbnail.jpg" %>" alt="Westfield Campaign video">
          <span class="icon icon--play" aria-hidden="true"></span>
        </div>
      </div>
      <%# //Hero heading wrap %>

      <%# Nav %>
      <nav role="navigation">
        <ul class="horiz-list horiz-list--gutter-half">
          <%# TODO: Add link to National product browse page when it's ready %>
          <%# <li>
            <a href="#">
              <span class="icon icon--shirt" aria-hidden="true"></span>Shop products
            </a>
          </li> %>
          <li>
            <a href="http://www.westfieldgiftcards.com.au" rel="external">
              <span class="icon icon--gift-card" aria-hidden="true"></span>Buy Gift Cards
            </a>
          </li>
        </ul>
      </nav>
      <%# //Nav %>

    </div>
    <%# //Container %>
  </header>
  <%# //Header %>

  <%# Tabs %>
  <main class="national__tabs tabs" id="main" role="main">

    <div class="container">
      <h2>Find your centre</h2>
      <%# Tab nav %>
      <ul class="tab__nav horiz-list">
        <li>
          <a class="is-active" href="#tab-nsw"><abbr title="New South Wales">NSW</abbr></a>
        </li>
        <li>
          <a href="#tab-act"><abbr title="Australian Capital Territoy">ACT</abbr></a>
        </li>
        <li>
          <a href="#tab-qld"><abbr title="Queensland">QLD</abbr></a>
        </li>
        <li>
          <a href="#tab-vic"><abbr title="Victoria">VIC</abbr></a>
        </li>
        <li>
          <a href="#tab-sa"><abbr title="South Australia">SA</abbr></a>
        </li>
        <li>
          <a href="#tab-wa"><abbr title="Western Australia">WA</abbr></a>
        </li>
      </ul>
      <%# //Tab nav %>
    </div>

    <%# NSW %>
    <ul id="tab-nsw" class="tab__content is-active">
      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Tea Tree Plaza</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>

      <li>
        <a class="national__centre-tile " href="#">
          <div class="container">
            <h3 class="h1">Warringah Mall</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>

      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Bondi Junction</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>
    </ul>
    <%# //NSW %>

    <%# ACT %>
    <ul id="tab-act" class="tab__content">
      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Centre ACT</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>
    </ul>
    <%# //ACT %>

    <%# QLD %>
    <ul id="tab-qld" class="tab__content">
      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Centre QLD</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>
    </ul>
    <%# //QLD %>

    <%# VIC %>
    <ul id="tab-vic" class="tab__content">
      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Centre VIC</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>
    </ul>
    <%# //VIC %>

    <%# SA %>
    <ul id="tab-sa" class="tab__content">
      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Centre SA</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>
    </ul>
    <%# //SA %>

    <%# WA %>
    <ul id="tab-wa" class="tab__content">
      <li>
        <a class="national__centre-tile" href="#">
          <div class="container">
            <h3 class="h1">Centre WA</h3>
            <span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
          </div>
        </a>
      </li>
    </ul>
    <%# //WA %>
  </main>
  <%# //Tabs %>

  <%# Footer %>
  <footer class="national__footer" role="contentinfo">
    <div class="container">
      <ul class="horiz-list--slash">
        <li>
          <a href="http://corporate.westfield.com/" rel="external">Westfild Group</a>
        </li>
        <li>
          <a href="<%= root_path %>"><abbr title="Australia">AU</abbr></a>
        </li>
        <li>
          <a href="http://www.westfield.co.nz/" rel="external"><abbr title="New Zealand">NZ</abbr></a>
        </li>
        <li>
          <a href="http://uk.westfield.com/" rel="external"><abbr title="United Kingdom">UK</abbr></a>
        </li>
        <li>
          <a href="http://www.westfield.com/" rel="external"><abbr title="United States of America">USA</abbr></a>
        </li>
        <li>
          <a href="http://corporate.westfield.com/careers/" rel="external">Jobs</a>
        </li>
        <li>
          <a href="http://corporate.westfield.com/about/sustainability/" rel="external">Our Community</a>
        </li>
      </ul>

      <ul class="horiz-list--slash">
        <li>
          <small>&copy; Westfield <%= Time.now.year %></small>
        </li>
        <li>
          <%# TODO: need to confirm the link %>
          <a href="#">Terms &amp; Conditions</a>
        </li>
        <li>
        <%# TODO: need to confirm the link %>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </footer>
  <%# //Footer %>

</div>
<%# //National landing page wrapper %>
