<% content_for :custom_styles do %>
  <!-- [BACK END] These bg images need to be dynamically updated according to the shopping centre site user is on -->
  <style>
    /* Hero image at this breakpoint (small) */
    @media (max-width: 25em) {
        .header__hero {background-image: url(<%= asset_path("heroes/#{params[:id]}-sml.jpg") %>);}
    }
    /* Hero image at this breakpoint (medium) */
    @media (min-width: 25.0625em) and (max-width: 48em) {
        .header__hero {background-image: url(<%= asset_path("heroes/#{params[:id]}-med.jpg") %>);}
    }
    /* Hero image at this breakpoint (large) */
    @media (min-width: 48.0625em) {
        .header__hero {background-image: url(<%= asset_path("heroes/#{params[:id]}-lrg.jpg") %>);}
    }
    /* Old IE */
    .old-ie .header__hero {background-image: url(<%= asset_path("heroes/#{params[:id]}-lrg.jpg") %>);}
  </style>
<% end %>

<div id="pin-board" class="pin-board">

  <%- @stream.each do |result| -%>
    <%= render partial: "/shared/tiles/#{result.kind}",
        layout: '/layouts/tile',
        locals: { result: result, image: {href: result[:_links][:image][:href], title: result[:name]} }
    %>
  <%- end -%>

</div>
