<% content_for :custom_styles do %>
  <!-- [BACK END] These bg images need to be dynamically updated according to the shopping centre site user is on -->
  <style>
    /* Hero image at this breakpoint (small) */
    @media (max-width: 25em) {
        .header__hero {background-image: url(/assets/heroes/<%= params[:id] %>-sml.jpg);}
    }
    /* Hero image at this breakpoint (medium) */
    @media (min-width: 25.0625em) and (max-width: 48em) {
        .header__hero {background-image: url(/assets/heroes/<%= params[:id] %>-med.jpg);}
    }
    /* Hero image at this breakpoint (large) */
    @media (min-width: 48.0625em) {
        .header__hero {background-image: url(/assets/heroes/<%= params[:id] %>-lrg.jpg);}
    }
    /* Old IE */
    .old-ie .header__hero {background-image: url(/assets/heroes/<%= params[:id] %>-lrg.jpg);}
  </style>
<% end %>

<br /><br />

<main class="container" id="main" role="main">
  <div id="pin-board">

    <%- @stream.each_slice(4) do |group| -%>
      <%- group.each do |result| -%>
        <% if %w(deal event product).include?(result['type']) %>
          <%= render partial: "shared/tiles/#{result['type']}", locals: {result: result} %>
        <% end %>
      <%- end -%>
    <%- end -%>

  </div>
</main>

<br /><br />