<%# Image %>
<div class="tile__image">
  <%# FIXME There is something causing some images in beta not to load if the cl_image_tag is used here %>
  <%= fetch_image_tag result.primary_image, {
      'data-height' => result.image_height,
      width: 289,
      alt: "",
      crop: :limit,
      format: :auto
    }.merge((options if defined? options) || {})
  %>
</div>
<%# //Image %>

<%# Meta %>
<div class="tile__meta">

  <%# Product name %>
  <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
  <%# //Product name %>

  <%# Product brand %>
  <p class="tile__meta__desc txt-truncate">from <strong><%= result.retail_chain_name %></strong></p>
  <%# //Product brand %>

  <%# Price %>
  <div class="tile__meta__price">
    <div class="txt-truncate">
      <%#- if @product.is_discounted -%>
        <!-- <span class="hide-visually">Old price: </span>
        <s><%=number_to_currency result.sale_price %></s>
        <span class="hide-visually">Sale price: </span>
        <%=number_to_currency result.sale_price %>
        <strong>40% Off</strong> -->
      <%#- else -%>
        <strong><%=number_to_currency result.sale_price %></strong>
        <strong class="tile__meta__price__discount">40% Off</strong>
      <%#- end -%>
    </div>
  </div>
  <%# //Price %>

  <%# Icon %>
  <span class="tile__meta__icon icon icon--products icon--lrg" aria-hidden="true"></span>
  <%# //Icon %>

</div>
<%# //Meta %>