<% if @search.products.blank? %>

  <%# No product search results message %>
  <div class="no-content-fallback-msg">
    <span class="icon icon--products icon--flush-top" aria-hidden="true"></span>
    <p role="status" aria-live="polite"><em class="h1">No products <% if params[:search_query] %> matching <span>"<%= params[:search_query] %>"</span><% end %></em> <span>See nearby centres</span></p>
  </div>
  <%# //No product search results message %>

<%- else -%>

  <%# Pin board %>
  <%= pin_board(@search.products) do |result| %>
    <%= tile "product",
      result: result,
      image: { href: result.default_image_url, title: result.name }
    %>
  <% end %>
  <%# //Pin board %>

  <%# Pager %>
  <% if @search.products.present? %>
    <nav class="pager pager--pin-board" role="navigation" aria-label="Product pagination">
      <div class="pager__inner">
        <em class="pager__count">
          <span class="hide-visually">Page </span>
          <%= @pagination[:page] %> of <%= @pagination[:page_count] %>
        </em>
        <%# Previous page %>
        <% if @pagination[:page] > 1 %>
          <%= link_to prev_page_url, { rel: 'prev', class: 'pager__prev btn btn--main btn--main-alt4 btn--pointer btn--pointer-alt'} do %>
            <span class="icon icon--arrow-left-big btn--pointer__icon btn--pointer__icon--flush" aria-hidden="true"></span>
            Prev
          <% end %>
        <% end %>
        <%# //Previous page %>
        <%# Next page %>
        <% if @pagination[:page] < @pagination[:page_count] %>
          <%= link_to next_page_url, { rel: 'next', class: 'pager__next btn btn--main btn--main-alt4 btn--pointer'} do %>
            Next
            <span class="icon icon--arrow-right-big btn--pointer__icon btn--pointer__icon--flush" aria-hidden="true"></span>
          <% end %>
        <% end %>
        <%# //Next page %>
      </div>
    </nav>
  <% end %>
  <%# //Pager %>

<%- end -%>