<%= form_tag centre_products_path(id: params[:centre_id]), method: :get, id: 'search_form' do %>
  <%# TODO: Category select %>
  <%- params.select{|k,v| %w(category sub_category super_cat).include?(k.to_s)}.each do |key,value| -%>
    <%= hidden_field_tag key, value %>
  <%- end %>
  <%= select_tag "retailer[]",
        options_for_select(
          @search.facets.retailer[:values].map{|facet| [facet.name.titleize, facet.code] },
          params[:retailer]
        ), include_blank: true, class: 'chzn-select', multiple: true, 'data-placeholder' => 'Stores' %>
  <%= select_tag "brand[]",
        options_for_select(
          @search.facets.brand[:values].map{|facet| [facet.name.titleize, facet.code] },
          params[:brand]
        ), include_blank: true, class: 'chzn-select', multiple: true, 'data-placeholder' => 'Brands' %>
  <%- if @search.facets.colour -%>
    <%= select_tag "colour[]",
          options_for_select(
            @search.facets.colour[:values].map{|facet| [facet.name.titleize, facet.code] },
            params[:colour]
          ), include_blank: true, class: 'chzn-select', multiple: true, 'data-placeholder' => 'Colour' %>
  <% end %>
<% end %>

<div id="tiles" class="clearfix isotope">
<%- @search.products.each do |product| -%>
  <div class="tile products isotope-item" data-url="">
    <%= image_tag product.default_image_url %>
    <div class="title">
      <p class="name">
        <%=  product.lozenge_name %><br>
        <small><span>from</span> <%= product.retail_chain_name %></small>
      </p>
      <p class="price">$<%= product.display_sale_price %></p>
    </div>
  </div>
<%- end -%>

</div>

<%- content_for :javascript do -%>
  <script type='text/javascript'>
    jQuery("#search_form input, #search_form select").change(function(event) {
      jQuery("#search_form").submit();
    });
  </script>
<%- end -%>
