<% content_for :class_for_main, "container--spacing-top-main-content" %>

<% content_for :link_rels do %>
  <link rel="canonical" href="<%= canonical_url %>">
<% end %>

<%# Section nav %>
<% content_for :section_nav do %>
  <%= render layout: '/layouts/section_nav' do %>
    <%=
        render(
          :collection => @super_categories,
          :partial => '/shared/categories/super_cat_nav',
          :as => :category
        )
    -%>
  <% end %>
<% end %>
<%# //Section nav %>

<h1 class="hide-visually">Products</h1>

<%# 'Super category' and 'Category' %>
<script type="text/ng-template" id="CategoryItemTemplate">
  <div class="drop-down-menu__hdr drop-down-menu__divider islet">
    <h3>{{search.categories.title}}</h3>
    <div ng-include src="'FilterItemBackButton'"></div>
  </div>

  <ul class="drop-down-menu__list">
    <li ng-repeat="category in search.categories.values | orderBy: 'sort_order'" class="drop-down-menu__divider">
      <div ng-if="search.categories.field === 'super_cat'">
        <a ng-href="<%= pb_path %>/{{ category.code }}" ng-click="go($event, '<%= pb_path %>/' + category.code)" class="btn btn--full btn--full-left">{{ category.name }}</a>
      </div>

      <div ng-if="search.categories.field === 'category'">
        <a ng-href="<%= pb_path %>/{{category.url_args.super_cat}}/{{category.code}}" ng-click="go($event, '<%= pb_path %>/' + category.url_args.super_cat + '/' + category.code)" class="btn btn--full btn--full-left">{{ category.name }}</a>
      </div>
    </li>
  </ul>
</script>
<%# //'Super category' and 'Category' %>

<%# Category %>
<script type="text/ng-template" id="SubCategoryTemplate">
  <div class="drop-down-menu__hdr drop-down-menu__divider islet">
    <h3>{{search.categories.title}}</h3>
    <div ng-include src="'FilterItemBackButton'"></div>
  </div>

  <ul class="drop-down-menu__list">
    <li ng-repeat="category in search.categories.values | orderBy: 'sort_order'" class="drop-down-menu__divider islet">
      <input ng-model="category.selected" ng-checked="category.selected" value="{{ category.code }}" id="category_{{ category.code }}" type="checkbox"><!--
      --><label for="category_{{ category.code }}">{{ category.name }}</label>
    </li>
  </ul>

  <button type="submit" ng-click="mvFilterSearch( 'categories' )" class="btn btn--main drop-down-menu__apply">Apply</button>
</script>
<%# //Category %>

<%# Back button %>
<script type="text/ng-template" id="FilterItemBackButton">
  <button type="button" ng-click="closeFilters()" class="filters__hide-wide btn">
    <span class="icon icon--arrow-left-big icon--lrg" aria-hidden="true"></span>
    <span class="hide-visually">Back</span>
  </button>
</script>
<%# //Back button %>

<script type="text/ng-template" id="ProductBrowseView">
  <div class="filters__filter-sort">

    <div class="hide-visually">
      <h2>Filter products</h2>
      <p>Select a button to display filter menu</p>
    </div>

    <div class="drop-down-menu drop-down-container">

      <%# Drop down trigger (narrow view) %>
      <button type="button" ng-click="showFilterButtons" toggle-visibility="filters" class="filters__hide-wide drop-down-menu__trigger btn btn--main btn--main-white btn--pointer btn--pointer-padding-med">
        Filter
        <span class="icon icon--lrg icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
      </button>
      <%# //Drop down trigger (narrow view) %>

      <%# Drop down target (narrow view) %>
      <div id="filters" class="drop-down-menu__target drop-down pointer-up box box--drop-down">

        <ul class="filters__list test-products-category-filters">

          <%# Categories %>
          <li ng-if="filterIsAvailable(search.categories.values)">

            <%# Narrow view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'category')" class="filters__trigger filters__trigger--narrow drop-down-menu__hdr-btn drop-down-menu__divider btn btn--full btn--full-left btn--pointer">
              {{ search.categories.title }}
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Narrow view trigger %>

            <%# Wide view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'category')" aria-haspopup="true" aria-expanded="{{activeFilter === 'category'}}" aria-controls="filters-category" class="filters__trigger filters__trigger--wide drop-down-menu__trigger btn btn--pointer btn--main btn--main-white" ng-class="{'is-active': activeFilter === 'category'}">
              {{ search.categories.title }}
              <span class="icon icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Wide view trigger %>

            <div id="filters-category" wf-filter-submit ng-show="activeFilter === 'category'" class="filters__target pointer-up js-products-filter-dropdown">
              <div ng-show="search.categories.field === 'super_cat'"><div ng-include src="'CategoryItemTemplate'"></div></div>
              <div ng-show="search.categories.field === 'category'"><div ng-include src="'CategoryItemTemplate'"></div></div>
              <div ng-show="search.categories.field === 'sub_category'"><div ng-include src="'SubCategoryTemplate'"></div></div>
            </div>

          </li><!--
          <%# //Categories %>

          <%# Retailers %>
          --><li ng-if="filterIsAvailable(search.retailers.values)">

            <%# Narrow view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'retailer')" class="filters__trigger filters__trigger--narrow drop-down-menu__hdr-btn drop-down-menu__divider btn btn--full btn--full-left btn--pointer" ng-class="{'is-disabled': filterIsDisabled('retailers')}" ng-disabled="filterIsDisabled('retailers')">
              {{ search.retailers.title }}
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Narrow view trigger %>

            <%# Wide view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'retailer')" aria-haspopup="true" aria-expanded="{{activeFilter === 'retailer'}}" aria-controls="filters-retailer" class="filters__trigger filters__trigger--wide drop-down-menu__trigger btn btn--pointer btn--main btn--main-white" ng-class="{'is-active': activeFilter === 'retailer', 'is-disabled': filterIsDisabled('retailers')}" ng-disabled="filterIsDisabled('retailers')">
              {{ search.retailers.title }}
              <span class="icon icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Wide view trigger %>

            <div id="filters-retailer" wf-filter-submit ng-show="activeFilter === 'retailer'" class="filters__target pointer-up js-products-filter-dropdown">

              <div class="drop-down-menu__hdr drop-down-menu__divider islet">
                <h3>{{ search.retailers.title }}</h3>
                <div ng-include src="'FilterItemBackButton'"></div>
              </div>

              <div class="drop-down-menu__divider islet">
                <label for="filters-stores-search" class="hide-visually">Type to filter list of stores below</label>
                <input ng-model="storeSearch" class="txt-input" type="search" placeholder="Enter a store name" id="filters-stores-search">
              </div>

              <ul class="drop-down-menu__list">
                <li ng-repeat="retailer in search.retailers.values | nameStartsWith: storeSearch | limitTo: 250" class="drop-down-menu__divider islet">
                  <input ng-model="retailer.selected" ng-checked="retailer.selected" value="{{ retailer.code }}" id="retailer_{{ retailer.code }}" type="checkbox"><!--
                  --><label for="retailer_{{ retailer.code }}" class="txt-truncate txt-truncate--inline-block">{{ retailer.name }}</label>
                </li>
              </ul>

              <button type="submit" ng-click="mvFilterSearch( 'retailers' )" class="btn btn--main drop-down-menu__apply">Apply</button>

            </div>

          </li><!--
          <%# //Retailers %>

          <%# Brands %>
          --><li ng-if="filterIsAvailable(search.brands.values)">

            <%# Narrow view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'brand')" class="filters__trigger filters__trigger--narrow drop-down-menu__hdr-btn drop-down-menu__divider btn btn--full btn--full-left btn--pointer" ng-class="{'is-active': activeFilter === 'brand', 'is-disabled': filterIsDisabled('brands')}" ng-disabled="filterIsDisabled('brands')">
              {{ search.brands.title }}
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Narrow view trigger %>

            <%# Wide view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'brand')" aria-haspopup="true" aria-expanded="{{activeFilter === 'brand'}}" aria-controls="filters-brand" class="filters__trigger filters__trigger--wide drop-down-menu__trigger btn btn--pointer btn--main btn--main-white" ng-class="{'is-active': activeFilter === 'brand', 'is-disabled': filterIsDisabled('brands')}" ng-disabled="filterIsDisabled('brands')">
              {{ search.brands.title }}
              <span class="icon icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Wide view trigger %>

            <div id="filters-brand" wf-filter-submit ng-show="activeFilter === 'brand'" class="filters__target pointer-up js-products-filter-dropdown">

              <div class="drop-down-menu__hdr drop-down-menu__divider islet">
                <h3>{{ search.brands.title }}</h3>
                <div ng-include src="'FilterItemBackButton'"></div>
              </div>

              <div class="drop-down-menu__divider islet">
                <label for="filters-brands-search" class="hide-visually">Type to filter list of brands below</label>
                <input ng-model="brandSearch" class="txt-input" type="search" placeholder="Enter a brand name" id="filters-brands-search">
              </div>

              <ul class="drop-down-menu__list">
                <li ng-repeat="brand in search.brands.values | nameStartsWith: brandSearch | limitTo: 250" class="drop-down-menu__divider islet">
                  <input ng-model="brand.selected" ng-checked="brand.selected" value="{{ brand.code }}" id="brand_{{ brand.code }}" type="checkbox"><!--
                  --><label for="brand_{{ brand.code }}" class="txt-truncate txt-truncate--inline-block">{{ brand.name }}</label>
                </li>
              </ul>

              <button type="submit" ng-click="mvFilterSearch( 'brands' )" class="btn btn--main drop-down-menu__apply">Apply</button>

            </div>

          </li><!--
          <%# //Brands %>

          <%# Colours %>
          --><li ng-if="filterIsAvailable(search.colours.values)">

            <%# Narrow view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'colour')" class="filters__trigger filters__trigger--narrow drop-down-menu__hdr-btn drop-down-menu__divider btn btn--full btn--full-left btn--pointer">
              {{ search.colours.title }}
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Narrow view trigger %>

            <%# Wide view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'colour')" aria-haspopup="true" aria-expanded="{{activeFilter === 'colour'}}" aria-controls="filters-colour" class="filters__trigger filters__trigger--wide drop-down-menu__trigger btn btn--pointer btn--main btn--main-white" ng-class="{'is-active': activeFilter === 'colour'}">
              {{ search.colours.title }}
              <span class="icon icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Wide view trigger %>

            <div id="filters-colour" wf-filter-submit ng-show="activeFilter === 'colour'" class="filters__target pointer-up js-products-filter-dropdown">

              <div class="drop-down-menu__hdr drop-down-menu__divider islet">
                <h3>{{ search.colours.title }}</h3>
                <div ng-include src="'FilterItemBackButton'"></div>
              </div>

              <ul class="drop-down-menu__list">
                <li ng-repeat="colour in search.colours.values" class="drop-down-menu__divider islet">
                  <input ng-model="colour.selected" ng-checked="colour.selected" value="{{ colour.code }}" id="colour_{{ colour.code }}" type="checkbox"><!--
                  --><label for="colour_{{ colour.code }}">{{ colour.name }}</label>
                </li>
              </ul>

              <button type="submit" ng-click="mvFilterSearch( 'colours' )" class="btn btn--main drop-down-menu__apply">Apply</button>

            </div>

          </li><!--
          <%# //Colours %>

          <%# Size %>
          --><li ng-if="filterIsAvailable(search.sizes.values)">

            <%# Narrow view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'size')" class="filters__trigger filters__trigger--narrow drop-down-menu__hdr-btn drop-down-menu__divider btn btn--full btn--full-left btn--pointer">
              {{ search.sizes.title }}
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Narrow view trigger %>

            <%# Wide view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'size')" aria-haspopup="true" aria-expanded="{{activeFilter === 'size'}}" aria-controls="filters-size" class="filters__trigger filters__trigger--wide drop-down-menu__trigger btn btn--pointer btn--main btn--main-white" ng-class="{'is-active': activeFilter === 'size'}">
              {{ search.sizes.title }}
              <span class="icon icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Wide view trigger %>

            <div id="filters-size" wf-filter-submit ng-show="activeFilter === 'size'" class="filters__target pointer-up js-products-filter-dropdown">

              <div class="drop-down-menu__hdr drop-down-menu__divider islet">
                <h3>{{ search.sizes.title }}</h3>
                <div ng-include src="'FilterItemBackButton'"></div>
              </div>

              <ul class="drop-down-menu__list">
                <li ng-repeat="size in search.sizes.values" class="drop-down-menu__divider islet">
                  <label for="size_{{ size.code }}">{{ size.name }}</label><!--
                  --><input ng-model="size.selected" ng-checked="size.selected" value="{{ size.code }}" id="size_{{ size.code }}" type="checkbox">
                </li>
              </ul>

              <button type="submit" ng-click="mvFilterSearch( 'sizes' )" class="btn btn--main drop-down-menu__apply">Apply</button>

            </div>

          </li><!--
          <%# //Size %>

          <%# Price %>
          --><li ng-if="filterIsAvailable(search.price.values)">

            <%# Narrow view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'price')" class="filters__trigger filters__trigger--narrow drop-down-menu__hdr-btn drop-down-menu__divider btn btn--full btn--full-left btn--pointer">
              {{ search.price.title }}
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Narrow view trigger %>

            <%# Wide view trigger %>
            <button type="button" ng-show="triggersVisible" ng-click="toggleFilter($event, 'price')" aria-haspopup="true" aria-expanded="{{activeFilter === 'price'}}" aria-controls="filters-price" class="filters__trigger filters__trigger--wide drop-down-menu__trigger btn btn--pointer btn--main btn--main-white" ng-class="{'is-active': activeFilter === 'price'}">
              {{ search.price.title }}
              <span class="icon icon--arrow-down-full btn--pointer__icon" aria-hidden="true"></span>
            </button>
            <%# //Wide view trigger %>

            <div id="filters-price" wf-filter-submit ng-show="activeFilter === 'price'" class="filters__target pointer-up js-products-filter-dropdown">

              <div class="drop-down-menu__hdr drop-down-menu__divider islet">
                <h3>{{ search.price.title }}</h3>
                <div ng-include src="'FilterItemBackButton'"></div>
              </div>

              <div class="drop-down-menu__range islet">
                <div class="drop-down-menu__range__input">
                  <label class="hide-visually" for="price-range-start">Price range start</label>
                  <span>$</span>
                  <input ng-model="search.price.values.range_start" ng-change="rangeFilter('price')" id="price-range-start" class="txt-input">
                </div>
                <em class="drop-down-menu__range__lbl">to</em>
                <div class="drop-down-menu__range__input drop-down-menu__range__input--last">
                  <label class="hide-visually" for="price-range-end">Price range end</label>
                  <span>$</span>
                  <input ng-model="search.price.values.range_end" ng-change="rangeFilter('price')" id="price-range-end" class="txt-input">
                </div>
              </div>

              <button type="submit" ng-click="submitPriceFilter()" class="btn btn--main drop-down-menu__apply">Apply</button>

            </div>

          </li><!--
          <%# //Price %>

          <%# On sale %>
          --><li>

            <%# Narrow view toggle %>
            <div ng-show="triggersVisible" class="filters__trigger filters__trigger--narrow islet">
              <input ng-model="on_sale" ng-checked="search.params().on_sale" ng-change="filterSearch('on_sale')" id="sale-items" type="checkbox"><!--
              --><label for="sale-items">On sale</label>
            </div>
            <%# //Narrow view toggle %>

            <%# Wide view toggle %>
            <label ng-show="triggersVisible" for="sale-items-2" class="filters__trigger filters__trigger--wide btn btn--main btn--main-white btn--main-toggle btn--main-toggle-checkbox">
              <input ng-model="on_sale" ng-checked="search.params().on_sale" ng-change="filterSearch('on_sale')" id="sale-items-2" type="checkbox" class="btn--main-toggle__input"><!--
              --><span class="btn--main-toggle__lbl">On sale</span>
            </label>
            <%# //Wide view toggle %>

          </li>
          <%# //On sale %>

        </ul>
      </div>
      <%# //Drop down target (narrow view) %>

    </div>

    <%# Sort %>
    <div class="filters__sort">
      <label for="filters-sort" class="hide-visually">Sort product results by</label>
      <select ng-model="sort" ng-change="filterSearch('sort')" ng-options="option.code as option.description for option in search.sortOptions | filter:{display: true}" id="filters-sort"></select>
    </div>
    <%# //Sort %>

  </div>

  <%# Applied filters %>
  <div ng-if="hasActiveFilters()" class="tags">
    <div class="hide-visually">
      <h3>Applied Filters</h3>
      <p>Select button to clear filter</p>
    </div>
    <ul class="horiz-list test-product-search-filters">
      <li ng-repeat="filter in search.appliedFilters">
        <button type="button" ng-click="removeSelectedFilter(filter)" class="tags__btn btn">
          <span class="txt-truncate" ng-if="filter.type !== 'price'">{{ filter.title }}</span>
          <span class="txt-truncate" ng-if="filter.type == 'price'">{{ filter.title | formatPriceRange }}</span>
          <span class="icon icon--close-sml icon--lrg icon--flush-top" aria-hidden="true"></span>
        </button>
      </li>
      <li>
        <a href="<%= pb_path %>" ng-click="removeAllFilters()" class="tags__btn tags__btn--clear btn btn--faux-link">Clear all</a>
      </li>
    </ul>
  </div>
  <%# //Applied filters %>
</script>

<%# Expose product categories for non JS users %>
<noscript>
  <nav role="navigation" class="island box mrg-base mrg-base-top">
    <h2>Product categories</h2>
    <ul class="mrg-base">
      <% @search.categories.each do |category| %>
        <li>
          <%= link_to category.name, noscript_category_canonical_url(category.url_args) %>
        </li>
      <% end %>
    </ul>
    <h2>Brands at Westfield</h2>
    <ul>
      <% @search.brands.each do |brand| %>
        <li>
          <%= link_to brand.name, url_for(:controller => params[:controller], :action => params[:action], :params => {brand: brand.code}) %>
        </li>
      <% end %>
    </ul>
  </nav>
</noscript>
<%# //Expose product categories for non JS users %>

<p class="feedback feedback--warning js-enabled-hide">You need JavaScript enabled to use the product filters, as a fallback you can filter via the <strong>Product categories</strong> above. <a href="http://enable-javascript.com/" rel="external" target="_blank">Visit here</a> for instructions on how to enable JavaScript.</p>

<div class="ng-cloak filters js-disabled-hide">

  <%# ProductBrowseView will be rendered within here %>
  <div ng-view></div>
</div>

<%# Render results %>
<div ng-cloak ng-controller="ProductsController" aria-live="polite" aria-atomic="true">

  <%# Preloader %>
  <div ng-if="products.loading">
    <span class="preloader preloader--middle preloader--light js-disabled-hide">
      <span class="preloader__spinner"></span>
      <em class="hide-visually">Loading, please wait&#8230;</em>
    </span>
  </div>
  <%# //Preloader %>

  <%# Pinboard %>
  <div ng-if="!products.loading">
    <div ng-if="products.loaded" ng-bind-html="products.list"></div>
    <%# Using a !products.loaded on ng-hide so that the loader will be shown immediately %>
    <div ng-if="!products.loaded"><%= render 'products' %></div>
  </div>
  <%# //Pinboard %>

</div>
<%# //Render results %>