<%- %w(super_cat category sub_category type).each do |category| -%>
  <%= render partial: 'products/facets/list', locals: {facet: @search.facets.send(category), title: 'Category'} if @search.facets.send(category) %>
<%- end -%>
<%= render partial: 'products/facets/filtered_list', locals: {facet: @search.facets.retailer} if @search.facets.retailer %>
<%= render partial: 'products/facets/filtered_list', locals: {facet: @search.facets.brand} if @search.facets.brand %>
<%= render partial: 'products/facets/list', locals: {facet: @search.facets.colour, title: "Colours"} if @search.facets.colour %>
<%= render partial: 'products/facets/price', locals: {facet: @search.facets.price} if @search.facets.price %>

<span class='sort_options'>
  Sort by: <%= products_sort_tag @search.sort_options %>
</span>

<div id="tiles" class="clearfix isotope">
  <%- @search.products.each do |product| -%>
    <div class="tile products isotope-item" data-url="">
      <%= image_tag product.default_image_url %>
      <div class="title">
        <p class="name">
          <%=  product.lozenge_name %><br>
          <small>
            <span>from</span> <%= product.retail_chain_name %>
            <%= price_tag(product) %>
          </small>
        </p>
      </div>
    </div>
  <%- end -%>
</div>
<%= paginate @search %>

<%- content_for :javascript do -%>
  <script type='text/javascript'>
    jQuery('.facet ul li[data-facet-link]').click(function(event) {
      window.location = jQuery(event.target).attr('data-facet-link');
    });
    jQuery('#sort').change(function(event) {
      window.location = jQuery("#sort option[value='"+jQuery('#sort').val()+"']").attr('data-sort-link')
    });
   jQuery("#price-facet-slider").slider({
      range: true, min: 0, max: <%= @search.facets.price[:max] %>,
      values: [<%= params[:price] ? params[:price].split("-").join(", ") : [0, @search.facets.price[:max]].join(", ") %>],
      slide: function(event, ui) {
        console.debug({price: ui.values[0] + "-" + ui.values[1]});
      }
    });
  </script>
<%- end -%>
