<% if params[:centre_id] %>
  <% content_for :link_rels do %>
    <link rel="canonical" href="<%= product_url @product.to_param %>">
  <% end %>
<% end %>

<div class="detail-view__divider--non-palm detail-view__divider--col grid grid--gutterless grid--rev-stack grid--rev grid--flush">

  <div class="grid__item non-palm-two-fifths">

    <%# Product name, brand and price %>
    <header class="detail-view__divider">

      <%# Product name and brand %>
      <div class="detail-view__divider island">
        <h1 class="detail-view__hdr hn detail-view__mrg-half"><%= @product.name %></h1>
        <p class="detail-view__meta">
          <span class="detail-view__subtle-txt">from</span>
          <%= @product.retail_chain_name %>
        </p>
      </div>
      <%# //Product name and brand %>

      <%# Product price %>
      <p class="price-strip price-strip--lrg island-sides islet-ends <%= 'is-long-price' if @product.price.to_s.length > 5 %>">
        <%- if @product.is_discounted -%>
          <span class="price-strip__normal hide-visually">Normal price: </span>
          <s class="price-strip__normal"><%= Money.new(@product.price).format %></s>
          <span class="hide-visually">Sale price: </span>
          <strong class="price-strip__sale"><%= Money.new(@product.sale_price).format %></strong>
          <strong class="price-strip__savings islet"><%= number_to_percentage @product.percent_discount, precision: 0 %> Off
          </strong>
        <%- else -%>
          <strong>
            <span class="hide-visually">Price: </span>
            <%= Money.new(@product.sale_price).format %>
          </strong>
        <%- end -%>
      </p>
      <%# //Product price %>

    </header>
    <%# //Product name, brand and price %>

    <%# Product location, contact and store link %>
    <% if @centre.present? or @product.primary_retailer_product_url.present? %>
      <section aria-labelledby="location-contact-storelink">
        <h2 class="hide-visually" id="location-contact-storelink">Store location, contact details and store link</h2>

        <%# Check if a product is not available at centre or centre has not been selected %>
        <% if !@centre.present? or @centre_stores.empty? %>

          <div class="detail-view__product-not-avble detail-view__divider">
            <div class="vert-align">
              <div class="vert-align__inner">
                <span class="icon icon--map icon--flush-top" aria-hidden="true"></span>
                <span class="icon icon--pin" aria-hidden="true"></span>

                <% if @centre.present? %>
                  <p><strong><%= @product.retail_chain_name %></strong> is not located in <%= @centre.name %></p>
                  <p>Choose a different centre to see availability</p>
                <% else %>
                  <p>Choose a centre to see availability</p>
                <% end %>

                <div class="drop-down-menu drop-down-menu--target-width-center-align drop-down-container">

                  <button type="button" class="drop-down-menu__trigger btn btn--full btn--full-left btn--main btn--main-dark btn--pointer btn--pointer-padding-med js-disabled-hide" toggle-visibility="product-details-centre-selection-menu">
                    Select Centre
                    <span aria-hidden="true" class="icon icon--lrg icon--arrow-down-full btn--pointer__icon"></span>
                  </button>

                  <div class="drop-down-menu__target drop-down pointer-up box box--drop-down" id="product-details-centre-selection-menu">
                    <dl class="drop-down-menu__list">
                      <% states.each do |state| %>
                        <% if @centres_by_store[state].present? %>
                          <dt class="drop-down-menu__hdr-sub drop-down-menu__divider"><%= state %></dt>
                          <% @centres_by_store[state].each do |centre| %>
                            <dd class="drop-down-menu__divider">
                              <%= link_to centre.short_name, context_aware_link(centre), class: 'btn btn--full btn--full-left' %>
                            </dd>
                          <% end %>
                        <% end %>
                      <% end %>
                    </dl>
                  </div>

                </div>
              </div>
            </div>
          </div>

        <%- elsif @centre.present? -%>

          <%# When product is available at a centre %>

          <%# Store location %>
          <div class="map-micello map-micello--static detail-view__divider">
            <%= render partial: 'shared/micello_maps/map', locals: {store_id: @centre_stores.first.try(:id), interactive: false, load_immediately: true} %>
          </div>
          <%# //Store location %>

          <%# Contact store %>
          <div class="detail-view__divider island-sides islet-ends island--fill island--center">

            <%# Palm version %>
            <span class="hide-fully--non-palm">
              <%= phone_link store_phone_number(@centre_stores, @product.retail_chain), class: 'btn btn--full btn--main btn--main-dark btn--main-lrg' do |phone_number| %>
                <span class="txt-truncate">
                  <span class="icon icon--phone icon--lrger icon--spacing-lrg icon--flush-top" aria-hidden="true"></span>
                  Call <%= @product.retail_chain_name %>
                </span>
              <% end %>
            </span>
            <%# //Palm version %>

            <%# Non-palm version %>
            <p class="detail-view__check-avble hide-fully--palm">
              <span class="detail-view__subtle-txt">Check store availability</span>
              <em>
                <span class="icon icon--phone icon--lrg icon--spacing" aria-hidden="true"></span>
                <%= phone_format store_phone_number(@centre_stores, @product.retail_chain) %>
              </em>
            </p>
            <%# //Non-palm version %>

          </div>
          <%# //Contact store %>

          <%# //When product is available at a centre %>

        <%- end -%>
        <%# //Check if a product is not available at centre or centre has not been selected %>

        <%# Store link %>
        <%- if @product.primary_retailer_product_url -%>
          <div class="detail-view__divider--palm island island--center">
            <%= link_to @product_redirection_url, target: "_blank",
              class: "btn btn--full btn--main btn--main-dark btn--main-lrg js-redirect ga-click-out-to-retailer test-product-click-out-to-retailer", rel: "external nofollow" do %>
              <span class="txt-truncate">
                <span class="icon icon--external-link icon--lrg icon--spacing-lrg icon--flush-top" aria-hidden="true"></span>
                Buy from <%= @product.retail_chain_name %>
              </span>
            <%- end -%>
          </div>
        <%- end -%>
        <%# //Store link %>

      </section>
    <%- end -%>
    <%# //Product location, contact and store link %>

  </div>

  <%# Product images %>
  <div class="grid__item non-palm-three-fifths">

    <section class="detail-view__divider--palm island-ends" aria-labelledby="images">
      <h2 class="hide-visually" id="images">Images</h2>

      <%# Carousel - large image %>
      <div class="flexslider flexslider--lrg-img flexslider--gallery">
        <ul class="slides">
          <%- @product.images[0...4].each do |img| -%>
            <li><%= fetch_image_tag(img,
              alt: "Photo of #{@product.name}",
              width: 469,
              height: 474,
              crop: :lpad,
              format: :auto
            ) %></li>
          <%- end -%>
        </ul>
      </div>
      <%# //Carousel - large image %>

      <%# Carousel - thumbnails %>
      <div class="flexslider flexslider--thumbs flexslider--gallery">
        <ul class="slides">
          <%- @product.images[0...4].each do |img| -%>
            <li><%= fetch_image_tag(img,
              alt: "Thumbnail photo of #{@product.name}",
              width: 74,
              height: 74,
              crop: :lpad,
              format: :auto
            ) %></li>
          <%- end -%>
        </ul>
      </div>
      <%# //Carousel - thumbnails %>

    </section>

  </div>
  <%# //Product images %>

  <%# Divider %>
  <span class="detail-view__divider--col-line hide-fully--palm"></span>
  <%# //Divider %>

</div>

<div class="grid grid--gutterless grid--rev grid--flush">

  <%# Available Colours %>
  <%- if @product.available_colours.present? -%>
  <div class="grid__item non-palm-two-fifths">
    <section class="island island--flush-btm island--flush-btm-off-non-palm" aria-labelledby="available-colours">
      <h2 class="detail-view__hdr-sub hn" id="available-colours">Available Colours</h2>
      <ul class="horiz-list horiz-list--comma"><!--
        <%- @product.available_colours.each do |colour| -%>
          --><li><strong><%= colour %></strong></li><!--
        <%- end -%>
      --></ul>
    </section>
  </div>
  <%- end -%>
  <%# //Available Colours %>

  <%# Description %>
  <%- if @product.available_colours.present? -%>
  <div class="grid__item non-palm-three-fifths">
  <% else %>
  <div class="grid__item non-palm-one-whole">
  <%- end -%>
    <%- if @product.detailed_description.present? || @product.short_description.present? %>
      <section class="island" aria-labelledby="description">
        <h2 class="detail-view__hdr-sub hn" id="description">Description</h2>
        <div class="txt-formatted txt-formatted--user-generated">
          <%= raw(@product.detailed_description || @product.short_description) %>
        </div>
      </section>
    <%- end -%>
  </div>
  <%# //Description %>

</div>

<%# See More %>
<% if @product.category_hierarchy.present? %>
  <section class="detail-view__divider--top-btm detail-view__divider--top island" aria-labelledby="see-more">
    <h2 class="detail-view__hdr-sub hn" id="see-more">See More</h2>
    <nav role="navigation">
      <ul class="horiz-list horiz-list--spacing-micro horiz-list--spacing-half-wrap">
        <% @product.category_hierarchy.each_with_index do |category, category_count| %>
          <li>
            <%= link_to category_canonical_url(category_count), class: "btn btn--main btn--main-dark btn--main-arrow btn--main-max-width ga-prod-see-more" do %>
              <span class="txt-truncate"><%= category.name %></span>
            <% end %>
          </li>
        <% end %>
        <% if @product.retailer_code.present? %>
          <li>
            <%= link_to retailer_canonical_url, class: "btn btn--main btn--main-dark btn--main-arrow btn--main-max-width ga-prod-see-more" do %>
              <span class="txt-truncate"><%= @product.retail_chain_name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </section>
<% end %>
<%# //See More %>

<%# Availability %>
<%- if @product_centres.present? -%>
<section class="detail-view__divider--top-btm detail-view__divider--top island" aria-labelledby="availability">
  <h2 class="detail-view__hdr-sub detail-view__mrg-off hn" id="availability"><%= @product.retail_chain_name %> also available at</h2>
  <ul class="detail-view__centres">
    <%- @product_centres.each do |centre| -%>
      <li>
        <%= link_to centre_product_path(centre, @product.to_param),
          class: "list-divider" do %>
          <span class="icon icon--pin icon--lrg icon--spacing-lrg icon--base-color" aria-hidden="true"></span>
          <%= centre.name %>
          <span class="icon icon--arrow-right icon--lrg icon--base-color" aria-hidden="true"></span>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
</section>
<%- end -%>
<%# //Availability %>

<%- content_for :custom_javascript do -%>
  <%# Run 'Flexslider' plugin %>
  <%= javascript_include_tag 'flexslider/jquery.flexslider' %>

  <script>
    // Initialise 'Flexslider' plugin
    $(window).load(function() {

      // Get the count of flexslider items
      var flexsliderItemsCount = $('.flexslider .slides li').length;
      // Flexslider thumbs
      var flexsliderThumbs = $('.flexslider--thumbs');

      // Only initialise flexslider if more than 2 items
      if (flexsliderItemsCount > 2) {

        // Thumbnails
        flexsliderThumbs.addClass('is-multiple-items');
        $('.flexslider--thumbs').flexslider({
          animation: 'slide',
          animationSpeed: 200,
          multipleKeyboard: true,
          controlNav: false,
          directionNav: false,
          touch: false,
          itemWidth: 76,
          itemMargin: 3,
          slideshow: false,
          asNavFor: '.flexslider--lrg-img',
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
          }
        });

        // Large image
        $('.flexslider--lrg-img').flexslider({
          animationSpeed: 50,
          multipleKeyboard: true,
          slideshow: false,
          sync: '.flexslider--thumbs',
          prevText: '<span class="icon icon--arrow-left-big icon--flush-top" aria-hidden="true"></span><span class="hide-visually">Previous photo</span>',
          nextText: '<span class="icon icon--arrow-right-big icon--flush-top" aria-hidden="true"></span><span class="hide-visually">Next photo</span>',
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            slider.controlNav.attr({'href' : '#', 'role' : 'button'}).prepend('Show photo ');
            slider.directionNav.attr('role', 'button');
          },
          // Do stuff asynchronously with each slider animation
          before: function(slider) {
            $('.flexslider--thumbs').find('.flex-active-slide').attr('aria-selected', 'false');
          },
          // Do stuff after each slider animation completes
          after: function(slider) {
            slider.slides.attr('aria-selected', 'false');
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            $('.flexslider--thumbs').find('.flex-active-slide').attr('aria-selected', 'true');
          }
        });

      }

    });

    // Pass query parameters forward to redirection action to pass forward for tracking.
    $(document).ready(function() {
      $('.js-redirect').on("click", function(e){
        var pru = "<%= @product_redirection_url.html_safe %>" +  window.location.search;
        e.preventDefault();
        window.open(pru, "_blank");
      });
    });
  </script>

<%- end -%>
