<div class="detail-view__divider--col grid grid--gutterless grid--rev-stack grid--rev grid--flush">

  <!-- Product name, brand, price, location and contact -->
  <div class="grid__item non-palm-two-fifths">

    <!-- Product name, brand and price -->
    <header class="island detail-view__divider">
      <h2 class="detail-view__hdr hn detail-view__mrg-half" id="detail-view__hdr"><%= @product.name %></h2>
      <p class="detail-view__meta">
        <span class="detail-view__subtle-txt">from</span>
        <%= @product.retail_chain_name %>
        <%- if @product.is_discounted -%>
          <em class="detail-view__meta__sale-price">
            <span><%= Money.new(@product.price).format%></span>
            <%= Money.new(@product.sale_price).format %>
          </em>
        <%- else -%>
          <em><%= Money.new(@product.sale_price).format %></em>
        <%- end -%>
      </p>
    </header>
    <!-- //Product name, brand and price -->

    <!-- Store location -->
    <div class="store-location detail-view__divider">
      <%= render partial: 'shared/map', locals: {store_id: 490} %>
    </div>
    <!-- //Store location -->

    <!-- Contact store -->
    <div class="island island--fill island--center islet-tops detail-view__divider">
      <span class="hide-fully--non-palm">
        <a href="tel:<%= @product.retail_chain.phone_no %>" class="btn btn--full btn--main btn--main-alt2 btn--main-lrg"><span class="icon icon--phone icon--xlrg icon--spacing-lrg icon--flush-top" aria-hidden="true"></span><strong>Call <%= @product.retail_chain_name %></strong></a>
      </span>
      <p class="detail-view__check-avble hide-fully--palm"><span class="detail-view__subtle-txt">Check store availability</span> <em><span class="icon icon--phone icon--lrg icon--spacing" aria-hidden="true"></span> <%= @product.retail_chain.phone_no %></em></p>
    </div>
    <!-- //Contact store -->

    <!-- Store link -->
    <div class="island island--center detail-view__divider--palm">
      <%= link_to '#', class: "btn btn--pointer btn--full btn--full-left btn--main btn--main-alt2 btn--main-lrg btn--main-flanked", rel: "external" do %>
        Buy from <%= @product.retail_chain_name %>
        <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
        <span class="icon icon--link icon--xlrg icon--flush-top btn--pointer__icon" aria-hidden="true"></span>
      <%- end -%>
    </div>
    <!-- //Store link -->

  </div>
  <!-- //Product name, brand, price, location and contact -->

  <!-- Product images -->
  <div class="grid__item non-palm-three-fifths">

    <div class="island island--top-btm detail-view__divider--palm">
      <!-- Flexslider -->
      <div class="flexslider flexslider--gallery flexslider--gallery-lrg-img">
        <ul class="slides">
          <!-- [BACK END] 4 images is the max, dimensions are 469px x 474px (938px x 948px for retina which we serve for all but reduce the compression) and `alt` attr's need to be dynamically populated e.g. 'Product name photo' -->
          <%- @product.images.each do |img| -%>
            <li><%= image_tag(img) %></li>
          <%- end -%>
        </ul>
      </div>
      <div class="flexslider flexslider--gallery flexslider--gallery-thumbs">
        <ul class="slides">
          <%- @product.images.each do |img| -%>
            <li><%= image_tag(img) %></li>
          <%- end -%>
        </ul>
      </div>
      <!-- //Flexslider -->
    </div>

  </div>
  <!-- //Product images -->

  <span class="detail-view__divider--col-line hide-fully--palm"></span>

</div>

<div class="grid grid--gutterless grid--rev grid--flush detail-view__divider">

  <!-- Available Colours -->
  <div class="detail-view__divider--top-non-palm grid__item non-palm-two-fifths">
    <div class="island island--btm-palm">
      <h3 class="detail-view__hdr-sub hn">Available Colours</h3>
      <ul class="horiz-list horiz-list--comma"><!--
        <%- @product.available_colours.each do |colour| -%>
          --><li><strong><%= colour %></strong></li><!--
        <%- end -%>
      --></ul>
    </div>
  </div>
  <!-- //Available Colours -->

  <!-- Description -->
  <div class="detail-view__desc detail-view__divider--top-non-palm grid__item non-palm-three-fifths">
    <div class="island">
      <h3 class="detail-view__hdr-sub hn">Description</h3>
      <%= raw(@product.detailed_description || @product.short_description) %>
    </div>
  </div>
  <!-- //Description -->

</div>

<!-- Availability -->
<div class="island">
  <h3 class="detail-view__hdr-sub hn">Also available at</h3>
  <ul>
    <li><a href="#" class="centres-list"><span class="icon icon--pin icon--lrg icon--spacing-lrg" aria-hidden="true"></span>Eastgardens<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a></li>
    <li><a href="#" class="centres-list"><span class="icon icon--pin icon--lrg icon--spacing-lrg" aria-hidden="true"></span>Warringah Mall<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a></li>
    <li><a href="#" class="centres-list"><span class="icon icon--pin icon--lrg icon--spacing-lrg" aria-hidden="true"></span>Bondi Junction<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span></a></li>
  </ul>
</div>
<!-- //Availability -->

<%- content_for :javascript do -%>
  <!-- Run 'Flexslider' plugin -->
  <%= javascript_include_tag 'flexslider/jquery.flexslider' %>
  <script>
    $(window).load(function() {

      // Get the count of flexslider items
      var flexsliderItemsCount = $('.flexslider .slides li').length;
      // Flexslider thumbs
      var flexsliderThumbs = $('.flexslider--gallery-thumbs');

      // Only initialise flexslider if more than 1 item
      if (flexsliderItemsCount > 2) {

        // Thumbnails
        flexsliderThumbs.addClass('is-multiple-items');
        $('.flexslider--gallery-thumbs').flexslider({
          animation: 'slide',
          animationSpeed: 200,
          multipleKeyboard: true,
          controlNav: false,
          directionNav: false,
          touch: false,
          itemWidth: 76,
          itemMargin: 3,
          slideshow: false,
          asNavFor: '.flexslider--gallery-lrg-img',
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
          }
        });

        // Large image
        $('.flexslider--gallery-lrg-img').flexslider({
          animationSpeed: 50,
          multipleKeyboard: true,
          slideshow: false,
          sync: '.flexslider--gallery-thumbs',
          prevText: '<span class="hide-visually">Previous</span>',
          nextText: '<span class="hide-visually">Next</span>',
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            slider.controlNav.attr({'href' : '#', 'role' : 'button'});
            slider.directionNav.attr('role', 'button');
            // Inject classes into prev/next buttons
            $('.flexslider--gallery-lrg-img').find('.flex-prev').addClass('icon icon--arrow-left-big icon--flush-top'); // prev
            $('.flexslider--gallery-lrg-img').find('.flex-next').addClass('icon icon--arrow-right-big icon--flush-top'); // next
          },
          // Do stuff asynchronously with each slider animation
          before: function(slider) {
            $('.flexslider--gallery-thumbs').find('.flex-active-slide').attr('aria-selected', 'false');
          },
          // Do stuff after each slider animation completes
          after: function(slider) {
            slider.slides.attr('aria-selected', 'false');
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            $('.flexslider--gallery-thumbs').find('.flex-active-slide').attr('aria-selected', 'true');
          }
        });

      }

    });
  </script>
<%- end -%>
