<% if params[:centre_id] %>
  <% content_for :link_rels do %>
    <link rel="canonical" href="<%= product_url @product.to_param %>">
  <% end %>
<% end %>

<div class="detail-view__divider--non-palm detail-view__divider--col grid grid--gutterless grid--rev-stack grid--rev grid--flush">

  <%# Product name, brand, price, location and contact %>
  <div class="grid__item non-palm-two-fifths">

    <%# Product name, brand and price %>
    <header class="island detail-view__divider">
      <h1 class="detail-view__hdr hn detail-view__mrg-half"><%= @product.name %></h1>
      <p class="detail-view__meta">
        <span class="detail-view__subtle-txt">from</span>
        <%= @product.retail_chain_name %>
        <%- if @product.is_discounted -%>
          <em class="detail-view__meta__sale-price">
            <span class="hide-visually">Old price: </span>
            <s><%= Money.new(@product.price).format%></s>
            <span class="hide-visually">Current price: </span>
            <%= Money.new(@product.sale_price).format %>
          </em>
        <%- else -%>
          <em><%= Money.new(@product.sale_price).format %></em>
        <%- end -%>
      </p>
    </header>
    <%# //Product name, brand and price %>

    <% if @centre.present? or @product.primary_retailer_product_url.present? %>
      <section aria-labelledby="product-store">
        <h2 class="hide-visually" id="product-store">Store location and contact</h2>

        <%# Check if a product is available at a centre %>
        <% if @centre.present? && @centre_stores.empty? %>

          <%# When product is not available at a centre %>
          <div class="detail-view__product-not-avble detail-view__divider">
            <div class="vert-align">
              <div class="vert-align__inner">
                <span class="icon icon--map icon--flush-top" aria-hidden="true"></span>
                <span class="icon icon--pin" aria-hidden="true"></span>
                <p><strong><%= @product.retail_chain_name %></strong> is not located in <%= @centre.name %></p>
              </div>
            </div>
          </div>
          <%# //When product is not available at a centre %>

        <%- elsif @centre.present? -%>

          <%# When product is available at a centre %>

          <%# Store location %>
          <div class="map-micello map-micello--static detail-view__divider">
            <%= render partial: 'shared/micello_maps/map', locals: {store_id: @centre_stores.first.try(:id), interactive: false, load_immediately: true} %>
          </div>
          <%# //Store location %>

          <%# Contact store %>
          <div class="detail-view__divider island-sides islet-ends island--fill island--center">
            <span class="hide-fully--non-palm">
              <%= phone_link store_phone_number(@centre_stores, @product.retail_chain), class: 'btn btn--full btn--main btn--main-dark btn--main-lrg' do |phone_number| %>
                <span class="icon icon--phone icon--xlrg icon--spacing-lrg icon--flush-top" aria-hidden="true"></span><strong>Call <%= @product.retail_chain_name %></strong>
              <% end %>
            </span>
            <p class="detail-view__check-avble hide-fully--palm"><span class="detail-view__subtle-txt">Check store availability</span> <em><span class="icon icon--phone icon--lrg icon--spacing" aria-hidden="true"></span><%=  phone_format store_phone_number(@centre_stores, @product.retail_chain) %></em></p>
          </div>
          <%# //Contact store %>

          <%# //When product is available at a centre %>

        <%- end -%>
        <%# //Check if a product is available at a centre %>

        <%# Store link %>
        <%- if @product.primary_retailer_product_url -%>
          <div class="island island--center detail-view__divider--palm">
            <%= link_to @product_redirection_url, target: "_blank",
              class: "btn btn--pointer btn--full btn--full-left btn--main btn--main-dark btn--main-lrg btn--main-flanked js-redirect", rel: "external nofollow" do %>
              <span class="txt-truncate">Buy from <%= @product.retail_chain_name %></span>
              <span class="icon icon--arrow-right-big icon--lrg btn--pointer__icon" aria-hidden="true"></span>
              <span class="icon icon--bag icon--xlrg icon--flush-top btn--pointer__icon" aria-hidden="true"></span>
            <%- end -%>
          </div>
        <%- end -%>
        <%# //Store link %>
      </section>
    <%- end -%>
  </div>
  <%# //Product name, brand, price, location and contact %>

  <%# Product images %>
  <div class="grid__item non-palm-three-fifths">

    <section class="detail-view__divider--palm island-ends" aria-labelledby="product-image">
      <h2 class="hide-visually" id="product-image">Images</h2>

      <%# Flexslider %>
      <div class="flexslider flexslider--lrg-img flexslider--gallery">
        <ul class="slides">
          <%- @product.images[0...4].each do |img| -%>
            <li><%= fetch_image_tag(img,
              alt: "Photo of #{@product.name}",
              width: 469,
              height: 474,
              crop: :lpad,
              format: :auto
            ) %></li>
          <%- end -%>
        </ul>
      </div>
      <div class="flexslider flexslider--thumbs flexslider--gallery">
        <ul class="slides">
          <%- @product.images[0...4].each do |img| -%>
            <li><%= fetch_image_tag(img,
              alt: "Thumbnail photo of #{@product.name}",
              width: 74,
              height: 74,
              crop: :lpad,
              format: :auto
            ) %></li>
          <%- end -%>
        </ul>
      </div>
      <%# //Flexslider %>
    </section>

  </div>
  <%# //Product images %>

  <span class="detail-view__divider--col-line hide-fully--palm"></span>

</div>

<div class="grid grid--gutterless grid--rev grid--flush">

  <%# Available Colours %>
  <%- if @product.available_colours.present? -%>
  <div class="grid__item non-palm-two-fifths">
    <section class="island island--flush-btm-palm" aria-labelledby="available-colours">
      <h2 class="detail-view__hdr-sub hn" id="available-colours">Available Colours</h2>
      <ul class="horiz-list horiz-list--comma"><!--
        <%- @product.available_colours.each do |colour| -%>
          --><li><strong><%= colour %></strong></li><!--
        <%- end -%>
      --></ul>
    </section>
  </div>
  <%- end -%>
  <%# //Available Colours %>

  <%# Description %>
  <%- if @product.available_colours.present? -%>
  <div class="grid__item non-palm-three-fifths">
  <% else %>
  <div class="grid__item non-palm-one-whole">
  <%- end -%>
    <%- if @product.detailed_description.present? || @product.short_description.present? %>
      <section class="island" aria-labelledby="description">
        <h2 class="detail-view__hdr-sub hn" id="description">Description</h2>
        <div class="txt-formatted txt-formatted--user-generated">
          <%= raw(@product.detailed_description || @product.short_description) %>
        </div>
      </section>
    <%- end -%>
  </div>
  <%# //Description %>

</div>

<%# Availability %>
<%- if @product_centres.present? -%>
<section class="island detail-view__divider--top-btm detail-view__divider--top" aria-labelledby="available">
  <h2 class="detail-view__hdr-sub detail-view__mrg-off hn" id="available"><%= @product.retail_chain_name %> also available at</h2>
  <ul class="detail-view__centres">
    <%- @product_centres.each do |centre| -%>
      <li>
        <%= link_to centre_product_path(centre, @product.to_param),
          class: "list-divider" do %>
          <span class="icon icon--pin icon--lrg icon--spacing-lrg icon--base-color" aria-hidden="true"></span>
          <%= centre.name %>
          <span class="icon icon--arrow-right icon--lrg icon--base-color" aria-hidden="true"></span>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
</section>
<%- end -%>
<%# //Availability %>

<%- content_for :javascript do -%>
  <%# Run 'Flexslider' plugin %>
  <%= javascript_include_tag 'flexslider/jquery.flexslider' %>
  <script>
    $(window).load(function() {

      // Get the count of flexslider items
      var flexsliderItemsCount = $('.flexslider .slides li').length;
      // Flexslider thumbs
      var flexsliderThumbs = $('.flexslider--thumbs');

      // Only initialise flexslider if more than 2 items
      if (flexsliderItemsCount > 2) {

        // Thumbnails
        flexsliderThumbs.addClass('is-multiple-items');
        $('.flexslider--thumbs').flexslider({
          animation: 'slide',
          animationSpeed: 200,
          multipleKeyboard: true,
          controlNav: false,
          directionNav: false,
          touch: false,
          itemWidth: 76,
          itemMargin: 3,
          slideshow: false,
          asNavFor: '.flexslider--lrg-img',
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
          }
        });

        // Large image
        $('.flexslider--lrg-img').flexslider({
          animationSpeed: 50,
          multipleKeyboard: true,
          slideshow: false,
          sync: '.flexslider--thumbs',
          prevText: '<span class="icon icon--arrow-left-big icon--flush-top" aria-hidden="true"></span><span class="hide-visually">Previous photo</span>',
          nextText: '<span class="icon icon--arrow-right-big icon--flush-top" aria-hidden="true"></span><span class="hide-visually">Next photo</span>',
          // Do stuff when the slider loads the first slide
          start: function(slider) {
            // Add some ARIA
            slider.container.attr('role', 'listbox');
            slider.slides.attr({'role': 'option', 'aria-selected': 'false'});
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            slider.controlNav.attr({'href' : '#', 'role' : 'button'}).prepend('Show photo ');
            slider.directionNav.attr('role', 'button');
          },
          // Do stuff asynchronously with each slider animation
          before: function(slider) {
            $('.flexslider--thumbs').find('.flex-active-slide').attr('aria-selected', 'false');
          },
          // Do stuff after each slider animation completes
          after: function(slider) {
            slider.slides.attr('aria-selected', 'false');
            slider.slides.eq(slider.currentSlide).attr('aria-selected', 'true');
            $('.flexslider--thumbs').find('.flex-active-slide').attr('aria-selected', 'true');
          }
        });

      }

    });

    // Pass query parameters forward to redirection action to pass forward for tracking.
    $(document).ready(function() {
      $('.js-redirect').on("click", function(e){
        var pru = "<%= @product_redirection_url.html_safe %>" +  window.location.search;
        e.preventDefault();
        window.open(pru, "_blank");
      });
    });
  </script>

<%- end -%>
