<%# Header %>
<header class="header<%= " header--hero" if header_hero? %>" role="banner">

	<%# Header secondary %>
	<div class="header__secondary drop-down-container">
		<div class="container">

			<%# Logo %>
			<%= link_to site_logo, centre_path(@centre), target: "_self", rel: "home", class: "logo" %>
			<%# //Logo %>

			<%# Menu toggle button for palm/small tablet devices %>
			<button type="button" class="btn btn--menu js-disabled-hide" toggle-visibility="header-menu-toggle">
				<span class="hide-visually">Show menu</span>
				<span class="btn--menu__icon"></span>
			</button>
			<%# //Menu toggle button for palm/small tablet devices %>

			<%# Centre select and sub/tertiary/social navigation %>
			<div class="header-menu-toggle drop-down pointer-up" id="header-menu-toggle">

				<%# Centre selector %>
				<div class="header-centre-select container">
					<h1 class="header-centre-select__centre-name"><%= @centre.short_name %></h1>
					<button type="button" class="header-centre-select__centre-name btn h1" toggle-visibility="nav-social-tertiary-container" aria-owns="nav-social-tertiary-container"><%= @centre.short_name %><span class="hide-visually"> (show menu)</span> <span class="icon icon--arrow-down-full" aria-hidden="true"></span></button>
					<a href="/" target="_self" class="header-centre-select__link" rel="home">Change<span class="hide-visually"> centre</span><span class="icon icon--arrow-right icon--xlrg icon--flush-top" aria-hidden="true"></span></a>
				</div>
				<%# //Centre selector %>

				<%# Sub navigation %>
				<div class="nav-sub-container">

					<nav class="header-menu-toggle__nav" role="navigation" aria-label="Sub navigation">
						<ul class="nav-sub">
							<%# Centre opening hours (centre home page) %>
							<li class="open-hours-link"><a href="<%= centre_hours_path( params[ :centre_id ] || params[ :id ] ) %>" target="_self"><span class="icon icon--hours" aria-hidden="true"></span> <strong><% if @centre.today_closed %>Closed today<% else %>Open <time datetime="<%= @centre.today_opening_time %>"><%= twelve_hour_format(@centre.today_opening_time) %></time> - <time datetime="<%= @centre.today_closing_time %>"><%= twelve_hour_format(@centre.today_closing_time) %></time> today<% end %></strong><span class="icon icon--arrow-right" aria-hidden="true"></span></a></li>
							<%# //Centre opening hours (centre home page) %>
              <li class="open-hours-link-alt"><%= link_to centre_hours_path(params[:centre_id] || params[:id]), :class => (page?(:centre_hours) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--hours icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Shopping Hours</span><% end %></li>
							<!-- <li><%#= link_to centre_dining_path(params[:centre_id] || params[:id]), :class => (page?(:dining) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--dining icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Dining</span><%# end %></li> -->
							<% if @centre.cinema %>
								<li><%= link_to centre_movies_path(params[:centre_id] || params[:id]), :class => (page?(:movies) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--video icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Cinemas</span><% end %></li>
							<% end %>
							<li><%= link_to centre_info_path(params[:centre_id] || params[:id]), :class => (page?(:centre_info) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--info icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Centre Information</span><% end %></li>
							<li><%= link_to centre_services_path(params[:centre_id] || params[:id]), :class => (page?(:centre_service_details) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--service icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Centre Services</span><% end %></li>
						</ul>
					</nav>

					<%# Social follow navigation %>
					<% if social_media.present? && header_hero? %>
					<ul class="nav-social-follow horiz-list">
						<% if @centre.facebook.present? %>
						<li><a href="<%= @centre.facebook %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Facebook</span><span class="icon icon--facebook icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.twitter.present? %>
						<li><a href="<%= @centre.twitter %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Twitter</span><span class="icon icon--twitter icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.instagram.present? %>
						<li><a href="<%= @centre.instagram %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Instagram</span><span class="icon icon--instagram icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.pinterest.present? %>
						<li><a href="<%= @centre.pinterest %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Pinterest</span><span class="icon icon--pinterest icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.youtube.present? %>
						<li><a href="<%= @centre.youtube %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">YouTube</span><span class="icon icon--youtube icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.google_plus.present? %>
						<li><a href="<%= @centre.google_plus %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Google Plus</span><span class="icon icon--google-plus icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
					</ul>
					<% end %>
					<%# //Social follow navigation %>

				</div>
				<%# //Sub navigation %>

				<%# Social follow and Tertiary navigation %>
				<div class="nav-social-tertiary-container container drop-down pointer-up" id="nav-social-tertiary-container">

					<%# Centre selector (large tablet/desk) %>
					<a href="/" target="_self" class="header-centre-select__link header-centre-select__link--alt" rel="home">Change centre<span class="icon icon--arrow-right icon--xlrg icon--flush-top" aria-hidden="true"></span></a>
					<%# Centre selector (large tablet/desk) %>

					<%# Social follow navigation - for 'Centre home page banner' only at large desktop size %>
					<% if social_media.present? %>
					<ul class="nav-social-follow horiz-list">
						<% if @centre.facebook.present? %>
						<li><a href="<%= @centre.facebook %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Facebook</span><span class="icon icon--facebook icon--xlrg icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.twitter.present? %>
						<li><a href="<%= @centre.twitter %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Twitter</span><span class="icon icon--twitter icon--xlrg icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.instagram.present? %>
						<li><a href="<%= @centre.instagram %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Instagram</span><span class="icon icon--instagram icon--xlrg icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.pinterest.present? %>
						<li><a href="<%= @centre.pinterest %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Pinterest</span><span class="icon icon--pinterest icon--xlrg icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.youtube.present? %>
						<li><a href="<%= @centre.youtube %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">YouTube</span><span class="icon icon--youtube icon--xlrg icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
						<% if @centre.google_plus.present? %>
						<li><a href="<%= @centre.google_plus %>" target="_blank" rel="external" target="_blank"><span class="hide-visually">Google Plus</span><span class="icon icon--google-plus icon--xlrg icon--flush-top" aria-hidden="true"></span></a></li>
						<% end %>
					</ul>
					<% end %>
					<%# //Social follow navigation - for 'Centre home page banner' only at large desktop size %>

					<%# Tertiary navigation %>
					<nav class="nav-tertiary" role="navigation" aria-label="Tertiary navigation">
						<ul>
							<li class="nav-buy-gift-cards"><%= link_to 'Buy Gift Cards', 'http://www.westfieldgiftcards.com.au', rel: 'external', target: '_blank' %></li>
							<li><%= link_to 'Westfield Group', 'http://corporate.westfield.com/', rel: 'external', target: '_blank' %></li>
							<li><%= link_to 'Media', 'http://media.westfield.com.au', rel: 'external', target: '_blank' %></li>
							<li><%= link_to 'Terms &amp; Conditions'.html_safe, '/terms-conditions' %></li>
							<li><%= link_to 'Privacy Policy', '/privacy-policy' %></li>
							<li class="nav-site-feedback"><button type="button" class="btn js-btn-site-feedback">Give feedback</button></li>
						</ul>
					</nav>
					<%# //Tertiary navigation %>

				</div>
				<%# //Social follow and Tertiary navigation %>

			</div>
			<%# //Centre select and sub/tertiary/social navigation %>

			<%# Centre selector (tablet small) %>
			<div class="header-centre-select header-centre-select-alt">
				<h1 class="header-centre-select__centre-name"><%= @centre.short_name %></h1>
			</div>
			<%# //Centre selector (tablet small) %>

			<%# Gift Card link %>
			<a href="http://www.westfieldgiftcards.com.au" rel="external" target="_blank" class="nav-buy-gift-cards--alt"><span class="icon icon--gift-card icon--spacing" aria-hidden="true"></span>Buy Gift Cards</a>
			<%# //Gift Card link %>

			<%# Search toggle / favourites (palm) %>
			<div class="search-toggle-favs hide-fully--non-palm">

				<%# Search toggle btn %>
				<button class="btn js-disabled-hide" type="button" toggle-visibility="site-search" aria-owns="site-search">
					<span class="hide-visually">Show site search</span>
					<span class="icon icon--search icon--spacing icon--flush-top icon--kilo" aria-hidden="true"></span>
				</button>
				<%# //Search toggle btn %>

			</div>
			<%# //Search toggle / favourites (palm) %>

		</div>
	</div>
	<%# //Header secondary %>

	<%# Centre home page hero banner %>
	<% if header_hero? %>
		<div class="header__hero">

			<div class="header__hero__inner hide-fully--non-palm">

				<%# Centre selector %>
				<div class="header-centre-select">
					<h1 class="header-centre-select__centre-name"><%= @centre.short_name %></h1>
				</div>
				<%# //Centre selector %>

				<%# Centre opening hours %>
	      <a href="<%= centre_hours_path( params[ :centre_id ] || params[ :id ] ) %>" target="_self" class="open-hours-link"><span class="icon icon--hours" aria-hidden="true"></span> <strong>Open <time datetime="<%= @centre.today_opening_time %>"><%= twelve_hour_format(@centre.today_opening_time) %></time> - <time datetime="<%= @centre.today_closing_time %>"><%= twelve_hour_format(@centre.today_closing_time) %></time> today</strong><span class="icon icon--arrow-right" aria-hidden="true"></span></a>
				<%# //Centre opening hours %>

			</div>

			<%# 'Artist impression' disclaimer %>
			<% if header_disclaimer? @centre.code %>
				<div class="header-disclaimer container container--position">
					<small>Artist's impression<span class="hide-visually"> of Westfield centre</span></small>
				</div>
			<%- end -%>
			<%# //'Artist impression' disclaimer %>

			<%# Gradient overlay %>
			<span class="hero-gradient"></span>
			<%# //Gradient overlay %>

		</div>
	<%- end -%>
	<%# //Centre home page hero banner %>

	<%# Header primary %>
	<div class="header__primary drop-down-container">
		<div class="container">

			<%# Main navigation %>
			<nav role="navigation" aria-label="Main navigation">
				<ul class="nav-main horiz-list horiz-list--fit horiz-list--center horiz-list--dividers">
				  <li><%= link_to centre_stores_path(params[:centre_id] || params[:id]), :class => (page?(:stores) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--store" aria-hidden="true"></span><span class="hide-visually"> Stores</span><% end %></li>
				  <li><%= link_to centre_products_path(params[:centre_id] || params[:id]), :class => (page?(:products) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--products" aria-hidden="true"></span><span class="hide-visually"> Products</span><% end %></li>
				  <li><%= link_to centre_deals_path(params[:centre_id] || params[:id]), :class => (page?(:deals) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--deals" aria-hidden="true"></span><span class="hide-visually"> Deals</span><% end %></li>
				  <li><%= link_to centre_events_path(params[:centre_id] || params[:id]), :class => (page?(:events) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--events" aria-hidden="true"></span><span class="hide-visually"> Events</span><% end %></li>
				</ul>
			</nav>
			<%# //Main navigation %>

			<%# Global search %>
      <%= render partial: 'layouts/global_search' %>
			<%# //Global search %>

		</div>
	</div>
	<%# //Header primary %>

</header>
<%# //Header %>