<!-- Header -->
<header class="header<%= " is-header-hero" if header_hero? %>" role="banner">

	<!-- Header secondary -->
	<div class="header__secondary">
		<div class="container">

			<!-- Logo -->
			<a href="<%= centre_path(params[:centre_id] || params[:id]) %>" target="_self" rel="home" class="logo"><img src="<%= image_path "logo.svg" %>" alt="Westfield" data-svg-fallback="<%= image_path "logo.png" %>"></a>
			<!-- //Logo -->

			<!-- Menu toggle button for palm devices -->
			<button type="button" class="btn btn--menu-toggle hide-fully--non-palm js-disabled-hide js-menu-toggle-btn" aria-haspopup="true" aria-controls="header-menu-toggle">
				<span class="btn--menu-toggle__txt hide-visually">Open menu</span>
				<span class="btn--menu-toggle__icon"></span>
			</button>
			<!-- //Menu toggle button for palm devices -->

			<!-- Shopping centre select, sub/tertiary navigation, my account & favourites -->
			<div class="header-menu-toggle js-menu-toggle" id="header-menu-toggle">

				<!-- Shopping centre select -->
				<div class="shopping-centre-select container">
					<h1><a href="/" target="_self" rel="home" title="Change shopping centre"><%= @centre.short_name %> <span class="icon icon--arrow-right-full hide-fully--palm" aria-hidden="true"></span></a></h1>
					<a href="/" target="_self" class="btn hide-fully--non-palm" rel="home">Change <span class="icon icon--arrow-right icon--flush-top" aria-hidden="true"></span></a>
				</div>
				<!-- //Shopping centre select -->

				<!-- Sub navigation -->
				<div class="sub-nav-container drop-down-container">

					<!-- Menu toggle button for lap small devices -->
					<button type="button" class="btn btn--menu-toggle js-disabled-hide js-drop-down-trigger" aria-haspopup="true" aria-controls="nav-sub">
						<span class="btn--menu-toggle__txt hide-visually">Open sub menu</span>
						<span class="btn--menu-toggle__icon"></span>
					</button>
					<!-- //Menu toggle button for lap small devices -->

					<nav class="header-menu-toggle__nav drop-down js-drop-down" role="navigation" aria-label="Sub navigation" id="nav-sub">
						<ul class="nav-sub">
							<!-- Shopping centre opening hours -->
							<li class="open-hours-link"><a href="<%= centre_hours_path( params[ :centre_id ] || params[ :id ] ) %>" target="_self"><span class="icon icon--hours" aria-hidden="true"></span> <strong>Open <%= twelve_hour_format(@centre.today_opening_time) %> - <%= twelve_hour_format(@centre.today_closing_time) %> today</strong> <span class="icon icon--arrow-right" aria-hidden="true"></span></a></li>
							<!-- //Shopping centre opening hours -->
              <li class="shopping-hrs-link"><a href="<%= centre_hours_path( params[ :centre_id ] || params[ :id ] ) %>" target="_self"><span class="icon icon--hours icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Shopping Hours</span></a></li>
							<!-- <li><a href="#" target="_self"><span class="icon icon--dining icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Dining</span></a></li>
							<li><a href="<%= centre_movies_path(params[ :centre_id ] || params[ :id ]) %>" target="_self"><span class="icon icon--video icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Cinemas</span></a></li>
							<li><a href="#" target="_self"><span class="icon icon--info icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Concierge</span></a></li>
							<li><a href="#" target="_self"><span class="icon icon--map icon--fixed-width icon--spacing" aria-hidden="true"></span><span class="nav-sub__txt"> Getting There</span></a></li> -->
						</ul>
					</nav>

				</div>
				<!-- //Sub navigation -->

				<!-- Tertiary navigation -->
				<!-- <nav class="header-menu-toggle__nav hide-fully--non-palm" role="navigation" aria-label="Tertiary navigation">
					<ul class="nav-tertiary">
						<li><a href="#" target="_self">Terms &amp; Conditions</a></li>
						<li><a href="#" target="_self">Privacy Policy</a></li>
					</ul>
				</nav> -->
				<!-- //Tertiary navigation -->

			</div>
			<!-- //Shopping centre select, sub/tertiary navigation, my account & favourites -->

			<!-- Search toggle / favourites (palm devices) -->
			<div class="search-toggle-favs hide-fully--non-palm">

				<!-- Search toggle btn -->
				<button class="btn js-search-btn-toggle js-disabled-hide" type="button" aria-haspopup="true" aria-owns="search-mini">
					<span class="icon icon--search icon--spacing icon--flush-top icon--kilo" aria-hidden="true"></span>
					<span class="hide-visually">Open site search</span>
				</button>
				<!-- //Search toggle btn -->

			</div>
			<!-- //Search toggle / favourites (palm devices) -->

		</div>
	</div>
	<!-- //Header secondary -->

	<!-- Centre home page hero banner -->
	<!-- [BACK END] this HTML should only be rendered for the centre home page -->
	<div class="header__hero">

		<div class="header__hero__inner hide-fully--non-palm">

			<!-- Shopping centre select -->
			<div class="shopping-centre-select">
				<h1><a href="/" rel="home" target="_self" title="Change shopping centre"><%= @centre.short_name %> <span class="icon icon--arrow-right-full" aria-hidden="true"></span></a></h1>
			</div>
			<!-- //Shopping centre select -->

			<!-- Shopping centre opening hours -->
      <a href="<%= centre_hours_path( params[ :centre_id ] || params[ :id ] ) %>" target="_self" class="open-hours-link"><span class="icon icon--hours" aria-hidden="true"></span> <strong>Open <%= @centre.today_opening_time %> - <%= @centre.today_closing_time %> today</strong> <span class="icon icon--arrow-right" aria-hidden="true"></span></a>
			<!-- //Shopping centre opening hours -->

		</div>

		<!-- Gradient overlay -->
		<span class="header__hero__gradient"></span>
		<!-- //Gradient overlay -->

	</div>
	<!-- //Centre home page hero banner -->

	<!-- Header primary -->
	<div class="header__primary">
		<div class="container">

			<!-- Main navigation -->
			<nav role="navigation" aria-label="Main navigation">
				<ul class="nav-main horiz-list horiz-list--fit horiz-list--center horiz-list--dividers">
				  <li><%= link_to centre_stores_path(params[:centre_id] || params[:id]),
				    :class => (page?(:stores) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--store" aria-hidden="true"></span><span class="hide-visually"> Stores</span><% end %></li>
				  <li><%= link_to centre_products_path(params[:centre_id] || params[:id]),
				    :class => (page?(:products) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--products icon--flush-top" aria-hidden="true"></span><span class="hide-visually"> Products</span><% end %></li>
				  <li><%= link_to centre_deals_path(params[:centre_id] || params[:id]),
				    :class => (page?(:deals) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--deals icon--flush-top" aria-hidden="true"></span><span class="hide-visually"> Deals</span><% end %></li>
				  <li><%= link_to centre_events_path(params[:centre_id] || params[:id]),
				    :class => (page?(:events) ? 'is-active' : nil), target: '_self' do %><span class="icon icon--events" aria-hidden="true"></span><span class="hide-visually"> Events</span><% end %></li>
				</ul>
			</nav>
			<!-- //Main navigation -->

			<!-- Global search -->
      <%= render partial: 'layouts/global_search' %>
			<!-- //Global search -->

		</div>
	</div>
	<!-- //Header primary -->

</header>
<!-- //Header -->