<div class="section-nav container container--wide container--dark">

  <%# Section nav %>
  <div class="container">
    <div class="nav-contextual nav-contextual--dark js-nav-contextual">
      <div class="nav-contextual__clip">
        <nav class="nav-contextual__clip__inner" role="navigation" aria-label="Contextual navigation">
          <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
            <%# [BACKEND]:
                - We have to have the HTML comments between each `li`s (top level only) or output them all on 1 line, this is to get around the browser creating unneeded white space.
                - Class `is-active` needs to be appended to the active `a` i.e. the page the user is on.
            %>
            <li><a class="is-active" href="#">Women's Fashion</a></li><!--
            --><li><a href="#">Men's Fashion</a></li><!--
            --><li><a href="#">Kids</a></li><!--
            --><li><a href="#">Shoes</a></li><!--
            --><li><a href="#">Beauty &amp; Health</a></li><!--
            --><li><a href="#">Computers &amp; Electronics</a></li><!--
            --><li><a href="#">Bags &amp; Luggage</a></li>
          </ul>
        </nav>
        <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
      </div>
    </div>
    <%# [FIXME]: this will be initialised globally, just waiting for 'Movies' and 'Opening Hours' pages to be done %>
    <% content_for :javascript do %>
      <script>
        $('.js-nav-contextual').navContextual();
      </script>
    <% end -%>
  </div>
  <%# //Section nav %>

  <%# Centre selector %>
  <% if @centre.present? %>
    <div class="section-nav__divider container--wide">
      <div class="container">
        <div class="flag flag--shrink-wrap">
          <div class="flag__image hide-visually">
            <label for="choose-nearby-centre">Show products at</label>
          </div>
          <div class="flag__body">
            <select class="one-whole" ng-controller="CentreSelectorController" ng-model="selectedCentre" ng-change="selectCentre()" ng-init="selectedCentre='<%= @centre.code %>'" id="choose-nearby-centre">
              <option value="<%= @centre.code %>"><%= @centre.short_name %></option>
              <option value="<%= ([@centre] + @nearby_centres).map{|c| c.code}.join(',') %>"><%= @centre.short_name %> &amp; nearby centres</option>
              <option value="all">All Centres</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
  <%# //Centre selector %>

</div>