<div class="container container--wide container--dark">
  <div class="container container--position">
    <!-- <div class="nav-contextual nav-contextual--dark">
      <div class="nav-contextual__clip">
        <nav class="nav-contextual__clip__inner" role="navigation" aria-label="Contextual navigation">
          <ul class="nav-contextual__list horiz-list">
            <li>
              <a class="is-active" href="#">Women's Fashion</a>
            </li>
            <li>
              <a href="#">Men's Fashion</a>
            </li>
            <li>
              <a href="#">Kids</a>
            </li>
            <li>
              <a href="#">Shoes</a>
            </li>
            <li>
              <a href="#">Homewares</a>
            </li>
          </ul>
        </nav>
        <span class="nav-contextual__clip-overlay icon icon--arrow-right icon--mega icon--flush-top" aria-hidden="true"></span>
      </div>
    </div> -->

    <!-- Centre selector -->
    <div class="centre-selector js-disabled-hide">
      <div class="centre-selector-control toggle-visibility" id="centre_selector">
        <label for="centre_select">Show products at</label>

        <select ng-controller="CentreSelectorController"
                ng-model="selectedCentre"
                ng-change="selectCentre()"
                ng-init="selectedCentre='<%= @centre.code %>'"
                class="nav-contextual__selector"
                id="centre_select">
          <option value="<%= @centre.code %>"><%= @centre.short_name %></option>
          <% # the centre, and its nearby centres %>
          <option value="<%= ([@centre] + @nearby_centres).map{|c| c.code}.join(',') %>"><%= @centre.short_name %> &amp; nearby centres</option>
          <option value="all">All Centres</option>
        </select>
      </div>

      <button toggle-visibility="centre_selector" class="btn btn--main btn--main-alt4 btn--main-compact-icon">
        <span class="icon icon-ellipsis-horizontal icon--xlrg icon--flush-top" aria-hidden="true"></span>
        <span class="hide-visually">Sort centres by</span>
      </button>
    </div>
  </div>
</div>