<div class="section-nav container container--wide container--dark">

  <%# Section nav %>
  <%# [BACKEND]: this 'if' can be removed when everything is dynamic %>
  <% if @centre.present? %>
  <div class="container container--position">
    <%# [BACKEND]:
        - We have to keep the HTML comments between each top level `li`s or output them all on 1 line, this is to get around the browser creating unneeded white space.
        - Class `is-active` needs to be appended to the active top level `a`s i.e. the page the user is on which includes any sub categories but do not append the class onto the sub category `a`s (only top level).
    %>
    <div class="nav-contextual nav-contextual--dark js-nav-contextual">
      <div class="nav-contextual__clip">
        <nav class="nav-contextual__clip__inner" role="navigation" aria-label="Categories navigation">
          <ul class="nav-contextual__list horiz-list js-nav-contextual-list" ng-controller="ProductBrowseController"><%=
              render(
                :collection => @super_categories,
                :partial => 'categories/super_cat_nav',
                :as => :category
              )
            -%></ul>
        </nav>
        <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
      </div>
    </div>
    <%# Show products/deals/events centre selector toggle button %>
    <%# if @centre.present? %>
      <button class="btn btn--main btn--main-alt4 btn--main-compact-icon-sml" toggle-visibility="show-products-deals-events-toggle">
        <span class="icon icon-ellipsis-horizontal icon--xlrg icon--flush-top" aria-hidden="true"></span>
        <span class="hide-visually">Toggle <%= params[:controller] %> centre selector</span>
      </button>
    <%#- end -%>
    <%# //Show products/deals/events centre selector toggle button %>
  </div>
  <%- end -%>
  <%# //Section nav %>

  <%# Show products/deals/events centre selector %>
  <% if @centre.present? %>
    <div class="section-nav__centre-selector container--wide toggle-visibility js-disabled-hide" id="show-products-deals-events-toggle">
      <div class="container container--position">
        <div class="flag flag--shrink-wrap">
          <div class="flag__image hide-visually">
            <label for="show-products-deals-events">Show <%= params[:controller] %> at</label>
          </div>
          <div class="flag__body">
            <select class="one-whole" ng-controller="CentreSelectorController" ng-model="selectedCentre" ng-change="selectCentre()" ng-init="selectedCentre='<%= @centre.code %>'" id="show-products-deals-events">
              <option value="<%= @centre.code %>"><%= @centre.short_name %></option>
              <option value="<%= ([@centre] + @nearby_centres).map{|c| c.code}.join(',') %>"><%= @centre.short_name %> &amp; nearby centres</option>
              <option value="all">All Centres</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
  <%# //Show products/deals/events centre selector %>

</div>
