<div class="section-nav container container--wide container--dark">

  <%# Section nav %>
  <div class="container container--position">
    <div class="nav-contextual nav-contextual--dark js-nav-contextual">
      <div class="nav-contextual__clip">
        <nav class="nav-contextual__clip__inner" role="navigation" aria-label="Contextual navigation">
          <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
            <%# [BACKEND]:
                - We have to have the HTML comments between each `li`s (top level only) or output them all on 1 line, this is to get around the browser creating unneeded white space.
                - Class `is-active` needs to be appended to the active `a` i.e. the page the user is on.
            %>
            <li><a class="is-active" href="#">Women's Fashion</a></li><!--
            --><li><a href="#">Men's Fashion</a></li><!--
            --><li><a href="#">Kids</a></li><!--
            --><li><a href="#">Shoes</a></li><!--
            --><li><a href="#">Beauty &amp; Health</a></li><!--
            --><li><a href="#">Computers &amp; Electronics</a></li><!--
            --><li><a href="#">Bags &amp; Luggage</a></li>
          </ul>
        </nav>
        <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
      </div>
    </div>
    <%# [FIXME]: this will be initialised globally, just waiting for 'Movies' and 'Opening Hours' pages to be done %>
    <% content_for :javascript do %>
      <script>
        $('.js-nav-contextual').navContextual();
      </script>
    <% end -%>
    <%# Show products/deals/events centre selector toggle button %>
    <button class="btn btn--main btn--main-alt4 btn--main-compact-icon-sml" toggle-visibility="show-products-deals-events-toggle">
      <span class="icon icon-ellipsis-horizontal icon--xlrg icon--flush-top" aria-hidden="true"></span>
      <span class="hide-visually">Toggle [dynamic] centre selector</span>
    </button>
    <%# //Show products/deals/events centre selector toggle button %>
  </div>
  <%# //Section nav %>

  <%# Show products/deals/events centre selector %>
  <% if @centre.present? %>
    <div class="section-nav__centre-selector container--wide toggle-visibility" id="show-products-deals-events-toggle">
      <div class="container container--position">
        <div class="flag flag--shrink-wrap">
          <div class="flag__image hide-visually">
            <%# [BACKEND] the word 'dynamic' part of the label needs to either say 'products', 'deals', 'events' depending on what page you're on %>
            <label for="show-products-deals-events">Show [dynamic] at</label>
          </div>
          <div class="flag__body">
            <select class="one-whole" ng-controller="CentreSelectorController" ng-model="selectedCentre" ng-change="selectCentre()" ng-init="selectedCentre='<%= @centre.code %>'" id="show-products-deals-events">
              <option value="<%= @centre.code %>"><%= @centre.short_name %></option>
              <option value="<%= ([@centre] + @nearby_centres).map{|c| c.code}.join(',') %>"><%= @centre.short_name %> &amp; nearby centres</option>
              <option value="all">All Centres</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
  <%# //Show products/deals/events centre selector %>

</div>