<article class="tile tile--<%= result.kind.pluralize %> <%= content_for :tile_class %> box js-tile test-tile" role="article" <%= content_for :tile_attrs %>>

  <%# Tile indentifier for centre home page only %>
  <% if tile_heading? %>
    <h2 class="hide-visually"><%= result.kind.titlecase %></h2>
  <% end %>
  <%# //Tile indentifier for centre home page only %>

  <%= link_to yield, tile_url((@centre || params[:current_centre] || params[:centre]), result), target: "_self", class: "test-tile-link" %>

  <%# Tile controls %>
  <div class="tile__controls js-tile-controls">
    <%= render "/shared/social_share/social_share", kind: result.kind, id: result.id %>
  </div>
  <%# //Tile controls %>

</article>
