<!DOCTYPE html>
<html>
<head>
  <title>Customerconsole</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%- if params[:centre_id] || params[:id] -%>
    <div class="inner">
      <div class="menu">
        <%= link_to "Stores", centre_stores_path(params[:centre_id] || params[:id]) %>
        <%= link_to "Products", product_stream_centre_path(params[:centre_id] || params[:id]) %>
        <%= link_to "Deals", centre_deals_path(params[:centre_id] || params[:id]) %>
        <%= link_to "Events", centre_events_path(params[:centre_id] || params[:id]) %>
      </div>
      <div class="search">
        <div class="input">
          <input type="text" placeholder="Search stores, products, deals &amp; events…">
        </div>
      </div>
    </div>
  <%- end -%>
</nav>

<%= yield %>

<script type='text/javascript'>
jQuery(function($){
  $('.chzn-select').chosen();
});
</script>
<%= yield :javascript %>
</body>
</html>
