<!doctype html>
<!--[if (IE 9) & (!IEMobile)]>    <html class="no-js ie-9" lang="en-au">    <![endif]-->
<!--[if gt IE 8]><!-->            <html class="no-js" lang="en-au">         <!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--[if !IE]><base href="/"><![endif]-->
  <!--[if lte IE 9]><base href="<%= request.path %>"><![endif]-->

  <meta name="fragment" content="!">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <%# Prefetch DNS for external assets %>
  <link rel="dns-prefetch" href="//tags.tiqcdn.com">
  <link rel="dns-prefetch" href="//js-agent.newrelic.com">
  <link rel="dns-prefetch" href="//beacon-1.newrelic.com">
  <link rel="dns-prefetch" href="//testdata.coremetrics.com">
  <link rel="dns-prefetch" href="//libs.coremetrics.com">
  <link rel="dns-prefetch" href="//s.clicktale.net">
  <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
  <link rel="dns-prefetch" href="//maps.micello.com">
  <link rel="dns-prefetch" href="//res.cloudinary.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <%# //Prefetch DNS for external assets %>

  <%= yield :link_rels %>

  <%# Title %>
  <title><%= page_title %></title>
  <%# //Title %>

  <%# Google fonts %>
  <link href="http://fonts.googleapis.com/css?family=Lato:300|Open+Sans" rel="stylesheet">
  <%# //Google fonts %>

  <%# Global CSS %>
  <link href="<%= stylesheet_path('application') %>" rel="stylesheet">
  <%# //Global CSS %>

  <%# Custom CSS %>
  <%= yield :custom_styles %>
  <%# //Custom CSS %>

  <%# Modernizr %>
  <%= javascript_include_tag "vendor/modernizr.min" %>
  <%# //Modernizr %>

  <%# IE 10+ tile icon: http://blogs.msdn.com/b/ie/archive/2012/06/08/high-quality-visuals-for-pinned-sites-in-windows-8.aspx %>
  <meta name="msapplication-TileColor" content="#da291c">
  <meta name="msapplication-TileImage" content="/apple-touch-icon-144x144-precomposed.png">
  <%# //IE 10+ tile icon %>

  <%# SEO, Open Graph (Facebook), and Twitter card description %>
  <% if meta.description.present? %>
    <meta name="description" content="<%= meta.description.html_safe %>">
    <meta name="twitter:description" content="<%= meta.description.html_safe %>">
    <meta property="og:description" content="<%= meta.description.html_safe %>">
  <% end %>
  <%# //SEO, Open Graph (Facebook), and Twitter card description %>

  <%# Open Graph (Facebook) & Twitter card %>
  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:site_name" content="Westfield Australia">
  <meta property="og:image" content="<%= image_url meta.social_image %>">

  <meta name="twitter:title" content="<%= meta.twitter_title || page_title %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= request.original_url %>">
  <meta name="twitter:site" content="@WestfieldAU">
  <meta name="twitter:image:src" content="<%= image_url meta.social_image %>">
  <%# //Open Graph (Facebook) & Twitter card %>

</head>

<body class="<%= params[:controller] %> <%= params[:action] %> <%= yield :class_for_body %>" ng-app="Westfield" ng-init="centre_id='<%= params[:centre_id] || params[:id] %>'">

  <%# Skip link %>
  <a href="#main" class="hide-visually skip-link">Skip to main content</a>
  <%# //Skip link %>

  <%# Prompt old IE users (IE < 9) to upgrade their browser %>
  <!--[if lte IE 8]>
  <div class="old-ie-banner"><div class="old-ie-banner__inner"><div class="grid"><div class="grid__item two-fifths"><em class="h1">Your current browser is not supported</em><p>To get the best Westfield has to offer, you'll need to upgrade to a modern browser.</p><ul><li><a href="http://windows.microsoft.com/en-gb/internet-explorer/download-ie" target="_blank" rel="external"><%= image_tag 'old-ie-banner/ie.png', alt: '', width: 40, height: 40 %>Internet<br>Explorer 9+</a></li><li><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" rel="external"><%= image_tag 'old-ie-banner/chrome.png', alt: '', width: 38, height: 40 %>Chrome</a></li><li><a href="https://www.mozilla.org/en-US/firefox/new/?utm_source=firefox-com&amp;utm_medium=referral" target="_blank" rel="external"><%= image_tag 'old-ie-banner/firefox.png', alt: '', width: 38, height: 40 %>Firefox</a></li><li><a href="http://support.apple.com/kb/DL1531" target="_blank" rel="external"><%= image_tag 'old-ie-banner/safari.png', alt: '', width: 36, height: 40 %>Safari</a></li></ul></div><div class="grid__item three-fifths txt-right"><%= image_tag 'old-ie-banner/screengrab.jpg', alt: '', width: 600, height: 254 %></div></div></div></div>
  <![endif]-->
  <%# //Prompt old IE users (IE < 9) to upgrade their browser %>

  <%= yield %>

  <%# Site feedback button - links to JIRA issue collector %>
  <button type="button" class="btn btn--site-feedback js-btn-site-feedback">
    <span class="icon icon--megaphone icon--lrger icon--flush-top" aria-hidden="true"></span><!--
    --><span class="btn--site-feedback__lbl">Give&nbsp;feedback</span>
  </button>
  <%# //Site feedback button - links to JIRA issue collector %>

  <%# Set up a global JavaScript object %>
  <%= include_gon(:namespace => :westfield) %>
  <%# //Set up a global JavaScript object %>

  <%# Global JavaScript %>
  <%= javascript_include_tag 'application' %>
  <%# //Global JavaScript %>

  <%# Custom JavaScript %>
  <%= yield :custom_javascript %>
  <%# //Custom JavaScript %>

  <%# 3rd party JavaScript (Tealium) %>
  <%= raw third_party_universal_tagging %>
  <%# //3rd party JavaScript (Tealium) %>

  <%#
    [WSF-6459]
    Added conditional statement to only insert the Google Analytics Content Experiment (GACE) code in UAT environment for testing purpose.
    The purpose of the test is to figure out what the GACE code does prior to implementing a solution for the A/B testing.
    The conditional statement will be removed once it is tested successfully in UAT.
  %>
  <% if Rails.env.uat? %>
    <%# Google Analytics Content Experiment %>
    <%= javascript_include_tag "vendor/google-analytics-content-experiment" %>
    <%# //Google Analytics Content Experiment %>
  <% end %>
</body>

</html>
