<% content_for :class_for_body, "page-detail-view" %>
<% content_for :class_for_main, "container--wide" %>

<% if in_lightbox? %>
  <div class="page-overlay"></div>
  <article role="article" class="detail-view detail-view--<%= params[:controller].singularize %> box" tabindex="-1" role="dialog" aria-labelledby="detail-view__hdr" aria-hidden="true">
<% else %>
  <article role="article" class="detail-view detail-view--<%= params[:controller].singularize %> box">
<% end %>
  
  <% unless meta.hide_social_share %>
    <div class="detail-view__controls detail-view__divider">
      <%= render "/shared/social_share", url: current_url, title: meta.title.to_s, image: meta.image %>

      <% if in_lightbox? %>
        <button type="button" class="btn btn--close"><span class="icon icon--close-sml icon--flush-top" aria-hidden="true"></span><span class="hide-visually"> Close</span></button>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
</article>

<%= parent_layout 'application' %>