<!doctype html>
<html lang="en-au">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

  <%# Prefetch DNS for external assets %>
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <%# //Prefetch DNS for external assets %>

  <title>Sorry, we couldn't find the page you requested (<%= status %> error) | Westfield</title>

  <%# Google fonts %>
  <link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <%# //Google fonts %>

  <%# CSS %>
  <link rel="stylesheet" href="<%= stylesheet_path('server_errors') %>">
  <%# //CSS %>

</head>

<body>

  <div>
    <div>
      <%= yield %>
      <a href="/" rel="home">Back to home page</a>
    </div>
  </div>

  <%# Set up a global JavaScript object %>
  <%= include_gon(:namespace => :westfield) %>
  <%# //Set up a global JavaScript object %>

  <%# 3rd party JavaScript (Tealium) %>
  <%= raw third_party_universal_tagging %>
  <%# //3rd party JavaScript (Tealium) %>

</body>

</html>