<% content_for :class_for_main, "sg" %>

<% content_for :custom_styles do %>
  <link href="<%= asset_path "prism/prism.css" %>" rel="stylesheet">

  <link href="<%= asset_path 'styleguide/styleguide.css' %>" rel="stylesheet">
<% end %>

<%# Header %>
<header class="sg-header" role="banner">

  <div class="container container--position">

    <%# Logo %>
    <%= link_to site_logo, centre_path(@centre), href:"/styleguide", class: "logo" %>
    <%# //Logo %>

    <h1>Style guide</h1>

    <%# Menu toggle button for palm/small tablet devices %>
    <button type="button" class="btn btn--menu js-disabled-hide" toggle-visibility="sg-header-menu-toggle">
      <span class="hide-visually">Menu</span>
      <span class="btn--menu__icon"></span>
    </button>
    <%# //Menu toggle button for palm/small tablet devices %>

    <%# Main navigation %>
    <nav class="sg-nav-main toggle-visibility" id="sg-header-menu-toggle" role="navigation" aria-label="Main navigation">
      <ul>
        <% Styleguide::TREE.each_with_index do |sg, major| %>
          <% if sg.is_a? Hash %><li>
              <%= sg['name'] %>:
              <ul>
                <% sg['sections'].each_with_index do |sgc, minor| %>
                <% slug = ActiveSupport::Inflector.parameterize("#{sg['name']} #{sgc}") %>
                <li><a href="<%= styleguide_path(slug) %>"><%= sgc %></a></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <% slug = ActiveSupport::Inflector.parameterize(sg) %>
            <li><a href="<%= styleguide_path(slug) %>"><%= sg %></a></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
    <%# //Main navigation %>

  </div>

</header>
<%# //Header %>

<%# Content %>
<div class="sg-content container">

    <%# Aside %>
    <!-- <aside class="sg-aside" role="complemtary">
      <ul>
        <li><a href="#">Horizontal list</a></li>
        <li><a href="#">Vertical alignment</a></li>
        <li><a href="#">Island</a></li>
        <li><a href="#">Islet</a></li>
        <li><a href="#">Slats</a></li>
        <li><a href="#">Divider</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </aside> -->
    <%# //Aside %>

    <%# Main %>
    <main class="sg-main" role="main" id="main">
      <%= yield %>
    </main>
    <%# //Main %>

</div>
<%# //Content %>

<%= javascript_include_tag "prism/prism.js" %>
<%= javascript_include_tag "vendor/kss" %>

<%= parent_layout 'base' %>